body{
    font-family: 'Avant', sans-serif;
    background: #000 url("../images/body-bg.jpg") no-repeat center top;
    color: #fff;
    font-size: 14px;
}

a{
    color: #fff;
    font-family: 'Avant', sans-serif;

}

a:hover{
    text-decoration: none;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.top .logo{
    margin-top: 12px;
    display: block;
}


.top-menu {
    padding-top: 40px;
}

.top-menu ul{
    height: 40px;
    border: 1px solid #1f6a1a;
    border-radius: 5px;
    background: url("../images/top_menu_bg.jpg") repeat-x;
    overflow: hidden;
}

.top-menu ul li{
    float:  left;

}


.top-menu ul li a{
    display: block;
    background: url("../images/top-menu-divider.jpg") no-repeat right;
    text-decoration: none;
    height: 27px;
    padding: 13px 35px 0;
}


.top-menu ul li a:hover{
    text-decoration: underline;
}



.top-menu ul li.active a, .top-menu ul li.last.active a{
    background: url("../images/top_menu_active_bg.jpg") repeat-x;
}

.top-menu ul li.active a{
    color: #303030;
}

.top-menu ul li.last a {
   background: none;
}

.awards .container{
    width: 1117px;
    padding-top: 30px;
    padding-left: 117px;
    margin-bottom: 40px;
}

h1{
    font-size: 24px;
    margin-bottom: 30px;
}


.content p{
    line-height: 24px;
    margin-bottom: 20px;
}


.green{
    color: #60d957;
}


.content p .green{
    font-size: 16px;
}



.content a, .content.result .links a{
    color: #f4c450;
    font-size: 13px;
    background: url("../images/yellow-arr.png") no-repeat right;
    text-decoration: underline;
    padding-right: 13px;
    margin-right: 5px;

}

.content a:hover, .content.result .links a:hover{
    text-decoration: none;
}

.content .content-link li{
    float: left;
    margin-right: 50px;
}



.content .content-link li.last{
    margin-right: 0;
}

h3{
    font-size: 16px;
    color: #60d957;
    margin-bottom: 25px;
}

.stage span{
    display: block;
    background: url("../images/green-circle.png");
    width: 28px;
    height: 22px;
    display: block;
    float: left;
    text-align: center;
    color: #303030;
    font-size: 18px;
    padding-top: 6px;
}

.stage p{
    margin-left: 40px;
    padding-top: 2px;
    margin-bottom: 20px;
}

.stage {
    overflow: auto;
}

.about-stage span{
    display: block;
    margin-bottom: 20px;

}

.content .about-stage p{
    background: url("../images/green-disc.png") no-repeat left 5px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding-left: 25px;
}

.send-but, .content .send-but{
    background: url("../images/send-mes-but.png") no-repeat top;
    display: block;
    margin:  0 auto;
    width: 223px;
    height: 47px;

}

.content .send-but{
    margin: 25px auto 80px;

}

.send-but:hover{
    background-position: bottom;

}

.foot-menu li{
    float: left;
    margin-right: 35px;
    padding-top: 25px;
}


.foot-menu a{
    color: #f4c450;
    display: block;


}

.footer{
    border-top: 2px solid #309d28;

}

.footer .container{
    padding: 40px 0;
}

.content.result a{
    background: none;
}


.tab li{
    float: left;
}

.content.result .tab li a{
    display: block;
    text-align: center;
    width: 260px;
    height: 55px;
    font-size: 18px;
    padding-top: 10px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.content.result .tab li a:hover{
    text-decoration: underline;
}

.content.result .tab li.active a{
    background: url("../images/white-opacity-bg.png");
    border-radius: 10px 10px 0 0;
    color: #f6c139;
}

.content.result .tab li.active a:hover{
    text-decoration: none;
}


.aw-small{
    margin-right: -100px;
    display: block;
    margin-top: -55px;
}


.laureats{
    background: url("../images/white-opacity-bg.png");
    width: 578px;
    border-radius: 0 10px 10px 10px;
    padding:  40px;
}

.content.result .vote-but{
    background: url("../images/voice-but-bg.png") no-repeat top;
    display: block;
    width: 90px;
    height: 30px;
    margin-top: 7px;
    padding-right: 0;

}

.content.result .vote-but.noactive {
    background-position: bottom;
    opacity: 0.6;
}

.pops{
    position: relative;
}

.content.result .vote-but:hover{
    background-position: bottom;
}

.laureat{
    border-bottom: 1px solid #8d8f8a;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.num{
    font-size: 16px;
    display: block;
    color: #171717;
    padding-top: 18px;
    width: 38px;
    text-align: center;
}

.progress span{
    display: block;
    font-size: 15px;
    color: #000;
    margin-bottom: 5px;

}

.progress{
    margin-right: 15px;
    padding-top: 10px;
}

.progress .bar{
    background: url("../images/white-opacity-bg.png");
    width: 234px;
    height: 7px;
    overflow: hidden;
    position: relative;
}

.progress .bar .inner{
    background: url("../images/progress-bg.png") repeat-x;
    height: 7px;
}

.total em{
    display: block;
    font-size: 10px;
    text-align: center;
    font-style: normal;

}

.total span{
    display: block;
    text-align: center;
    font-size: 14px;
}

.total{
    margin-right: 15px;
    padding-top: 12px;
    line-height: 14px;
    width: 45px;
}

.c-logo{
    width: 119px;
    border: 2px solid #000;
    height: 34px;
    text-align: center;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    margin-top: 1px;


}

.laureat.last{
    border-bottom: 0;
    margin-bottom: 0;
}

.popup{
    background: url("../images/poup-bg.png");
    width: 235px;
    position: absolute;
    left: 110px;
    top:-30px;
    min-height: 100px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px #000;
    display: none;
}

.popup .arr{
    position: absolute;
    left:-14px;
    top: 37px;

}

.popup input[type=text]{
    width: 160px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    padding: 0 5px;
    float: right;
    box-shadow: inset 0 1px 1px #9f9f9f;
}

.popup label{
    font-size: 14px;
    color: #000;
    float: left;
    padding-top: 6px;
}


.popup .form-item{
    overflow: auto;
    margin-bottom: 20px;
}

.popup .form-item.last{
    margin-bottom: 0;
}

.popup input[type=button] {
    float: right;
    width: 103px;
    height: 34px;
    background: url("../images/gold-but-bg.png") no-repeat top;
    display: block;
    border: 0;
    cursor: pointer;
}

.popup input[type=button]:hover{
    background-position: bottom;

}



.laureats{
    margin-bottom: 80px;
}

.laureats.last-active{
    border-radius: 10px;
}

.links a{
    display: block;
    margin-bottom: 30px;
    text-align: right;
}


.links{
    padding-top: 105px;
}

.content.result{
    padding-top: 40px;
}



.content.result {
    padding-top: 40px;
    padding-bottom: 80px;
}

.form {
    width: 602px;

}

.form .item {
    margin-bottom: 22px;

}

.form .item label {
    display: block;
    float: left;
    font-size: 15px;
    padding-top: 10px;
}

.form .item input[type=text] {
    float: right;
    width: 280px;
    font-family: 'Avant', sans-serif;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    padding: 0 5px;
    box-shadow: inset 0 1px 1px #9f9f9f;

}

.form .item select {
    float: right;
    width: 280px;
    font-family: 'Avant', sans-serif;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    padding: 0 5px;
    box-shadow: inset 0 1px 1px #9f9f9f;

}

.form .item .form-item {
    margin-left: 320px;
    margin-bottom: 10px;

}

.form .item .form-item label {
    position: relative;
    overflow: hidden;
    display: block;
    background: url("../images/radio-but.png") no-repeat left bottom;
    padding-left: 27px;
    font-size: 14px;
    padding-top: 0;
    line-height: 22px;
    float: left;
    cursor: pointer;

}

.form .item .form-item label.active {
    background-position: left top;
}

.form .item .form-item input {
    position: absolute;
    left: -100px;
}

.form .item input[type=submit] {
    background: url("../images/zayavka-but.png") no-repeat top;
    width: 228px;
    height: 53px;
    cursor: pointer;
    display: block;
    border: 0;
    float: left;
}

.form .item input[type=submit]:hover {
    background-position: bottom;
}

.award1 {
    width:470px;
    text-align: right;
}

.errorlist {
    font-size: 11px;
    color: #ff1b03;
    clear: both;
    margin-left: 322px;
}

.errorlist li {
    padding: 3px 0;
}

#captha {
    display: none;
}
