<div class="container-sm {% if request.user.is_active %}logined{% endif %}">
    {% if not request.user.is_active %}
        <a class="log" href="{% url django.contrib.auth.views.login %}">Вход</a>
        <a class="reg" href="{% url registration_choice %}">Регистрация</a>
    {% else %}
        <a class="cp" href="{% url account %}" title="">личный кабинет</a><span>|</span>
        <a class="exit-cp" href="{% url auth_logout %}" title="">выход</a><span>|</span>
        <p>{% firstof user.first_name user.username %}</p>
        {% if count_new_bet %}<a href="{% url account %}" title=""><i>{{ count_new_bet }}</i></a>{% endif %}
    {% endif %}
</div>
<script>
    $(function () {
        $(".log").fancybox({
            type : 'ajax',
            padding:[0, 0, 0, 0],
            openEffect  : 'elastic',
            closeEffect : 'elastic',
            helpers: {
                overlay: {
                    css: {'background': 'rgba(35,72,88, 0.5)'},
                }
            }
        });
    });
</script>