{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}Активация завершена{% else %}Активация незавершена{% endif %}{% endblock %}
{% block content %}
    <h1>{% if account %}Активация завершена{% else %}Активация незавершена{% endif %}</h1>
{% if account %}
Спасибо {{ account }}, активация завершена! Вы можете <a href='{% url auth_login %}'>войти</a> используя логи и пароль указанные при регистрации.
{% else %}
Ваш регистрационный ключ не верен проверьте правильность набранного URL
{% endif %}
{% endblock %}

