{% extends "registration/registration_base.html" %}
{% block title %}Активация завершена{% endblock %}
{% block content %}
    <h1>Активация завершена</h1>
        Спасибо {{ account }}, активация завершена! Вы можете <a href='{% url auth_login %}'>войти</a> используя логин и пароль указанные при регистрации.
{% endblock %}