{% load widget_tweaks %}
{% load company %}

<div id="login" class="modal1">
    <div class="login-form">
        <p>Вход на сайт</p>
        <form action="{% url django.contrib.auth.views.login %}" id="login_form" method="post">
            {% csrf_token %}
            <p>
                <label class="icon-log {{ form|error }}"></label>
                {% render_field form.username placeholder="Логин" required="required" %}
            </p>
            <p>
                <label class="icon-pwd {{ form|error }}"></label>
                {% render_field form.password placeholder="Пароль" required="required"%}
            </p>
            {% if form.errors %}
                <span class="error" id="check_error">Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</span>
            {% endif %}
            <p><a class="blue-btn log-btn" href="#" id="login_submit">Войти на сайт</a></p>
            <input type="hidden" name="next" value="/" />
            <p>
                <a href="javascript:void(0)" class="forgive-pwd no_underline">Забыли пароль?</a>
                <a href="{% url auth_password_reset %}" class="new-pwd" >Восстановить пароль</a>
            </p>
        </form>
    </div>
</div>