{% extends "registration/registration_base.html" %}
{% block title %}Выход с сайта{% endblock %}
{% block content %}

    <span class="back">
        <a href="/">Вернуться назад</a>
    </span>





    <h1>Выход с сайта</h1>

    <p>Вы выполнили выход из личного кабинета. Вернуться на <a href="/">главную страницу.</a></p>


{% endblock %}
