{% extends "registration/registration_base.html" %}
{% load company %}

{% block title %}Подтвердите сброса пароля{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
    <div class="company_buttons">
        <a href="{% url account %}">{% type_user 'Данные компании' 'Данные курьерской службы' 'Данные пользователя' %} </a>
        <a href="{% url competition_list %}">{% if user.company %}Заказы компании{% else %}Заказы{% endif %}</a>
    </div>

    <div class="profile_edit">
        <form action="{% url order:reset_password %}" method="post" class="edit_profile_form">
            {% csrf_token %}
            <table class="profile_table password_reset_form">
            {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}{% if field.errors %}<div class="alert-error">{{ field.errors|striptags }}</div>{% endif %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <button type="submit" class="dobavit">Сменить пароль</button>
                </td>
            </tr>
            </table>
        </form>
    </div>
{% endblock %}