{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}
{% block title_content %}Восстановление пароля{% endblock %}


{% block right_content %}
    <h2>Ваш пароль был успешно изменен!</h2>
    <br/>
    <a href="/" class="link">На главную</a>
{% endblock %}
