{% extends "base.html" %}
{% load widget_tweaks %}

{% load company %}
{% load widget_tweaks %}

{% block title %}Подтвердите сброс пароля{% endblock %}
{% block title_content %}Подтвердите сброс пароля{% endblock %}

{% block right_content %}
    <form class="change_password_form" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <h2>На адрес электронной почты будет отправлена инструкция по восстановлению пароля</h2>
        {% render_field form.email placeholder='Электронная почта' %}
        <p class="error">{{ form.email.errors.as_text }}</p>
        <button class="blue-btn">Отправить</button>
    </form>
{% endblock %}