{% extends "base.html" %}
{% load company %}
{% load widget_tweaks %}

{% block title %}Подтвердите сброс пароля{% endblock %}
{% block title_content %}Подтвердите сброс пароля{% endblock %}

{% block right_content %}
    <form action="." method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        <div>
            <div class="{% if form.new_password1.errors %}error{% endif %}"></div>
            {% render_field form.new_password1 placeholder="Новый пароль" %}
            <div class="error">{{ form.new_password1.errors|striptags }}</div>
            <br/>
            <br/>
            <div class="{% if form.new_password2.errors %}error{% endif %}"></div>
            {% render_field form.new_password2 placeholder="Подтвердите" %}
            <div class="error">{{ form.new_password2.errors|striptags }}</div>
            <br/>
            <br/>
        </div>
        <br/>
        <button type="submit" class="blue-btn">Сменить пароль</button>
    </form>
{% endblock %}

