{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load order_tags %}
{% load company %}
{% load widget_tweaks %}

{% block title %}Личный кабинет{% endblock %}

{% block message %}
    {% if messages %}
        <div class="message">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="clr"></div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'inclusion/head.html' %}
    <div class="company-rate clearfix">
        <div class="container-sm">
            <div class="company-logo">
                {% thumbnail user.company.logo '214x177' as img %}
                    <div class="prof-empty-image">
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ company.title }}" class="company_logo">
                    </div>
                {% empty %}
                    <div class="prof-empty-image">
                        {% if company.is_courier %}
                            <img src="{% static "new_img/courier_del.png" %}">
                        {% else %}
                            <img src="{% static "new_img/lorry.png" %}">
                        {% endif %}
                    </div>
                {% endthumbnail %}
                <form enctype="multipart/form-data" action="{% url change_avatar user.company.id %}" method="post">
                    {% csrf_token %}
                    <input type="file" class='hide browse' name="logo">
                    <input type="hidden" name="user" value="{{ user.id }}">
                    {#                <button class="uaddcomp" >Загрузить</button>#}
                    <a href="#" id='load_image' title="">Загрузить / сменить аватар</a>
                </form>

            </div>
            <div class="general-rate">
                <div class="general-rate-text">Общий рейтинг: {{ user.company.total_scope|floatformat:2 }}</div>
                <div class="company-stars-big" data-rating="{{ user.company.total_scope|stringformat:"f" }}"></div>
                <div class="rate-text">Качество сервиса</div>
                <div class="company-stars" data-rating="{{ user.company.total_quality_service }}"></div>
                <div class="rate-text">Соответствие срокам доставки</div>
                <div class="company-stars" data-rating="{{ user.company.total_conform_terms_delivery }}"></div>
                <div class="rate-text">Соответствие срокам доставки</div>
                <div class="company-stars" data-rating="{{ user.company.total_convenience_location_offices }}"></div>
                <div class="rate-text">Вежливость курьеров</div>
                <div class="company-stars" data-rating="{{ user.company.total_neatness_politeness_courier }}"></div>
                <div class="rate-text">Соотношение "цена-качество"</div>
                <div class="company-stars" data-rating="{{ user.company.total_price_quality }}"></div>
            </div>
        </div>
    </div>
    <div class="company-info">
        <div class="container-sm">
            <form action="." method="post" id="form_profile">
                {% csrf_token %}
                <table class="blue-table">
                    <tbody>
                    <tr>
                        <td>Имя на сайте</td>
                        <td colspan="2" class="hide edit">
                            {{ form.first_name }}
                            <em class="error">{{ form.first_name.errors }}</em>
                        </td>
                        <td colspan="2">{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Тип перевозчика</td>
                        <td colspan="2">{% type_user 'Транспортная Компания' 'Курьерская служба' 'Заказчик' %}</td>
                    </tr>
                    <tr>
                        <td>Название компании</td>
                        <td colspan="2" class="hide edit">
                            {{ form2.name }}
                            <em class="error">{{ form2.name.errors }}</em>
                        </td>
                        <td colspan="2">{{ user.company.name }}</td>
                    </tr>
                    <tr>
                        <td>Место нахождения</td>
                        <td colspan="2" class="hide edit wh_bg wh_bgedit">{% render_field form2.country2 data-placeholder="Страна" placeholder="Страна" %}{% render_field form2.region2 placeholder="Регион" data-placeholder="Регион" class='region2'%}
                            <em class="error">{{ form2.country2.errors }}{{ form2.region2.errors }}</em>
                        </td>
                        <td colspan="2">
                            <span>{{ user.company.country }}{{ user.company.region|add_comma }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Телефон компании</td>
                        <td colspan="2" class="hide edit">
                            {{ form.phone }}
                            <em class="error">{{ form.phone.errors }}</em>
                        </td>
                        <td colspan="2">
                            <span class="comp-phone">{{ user.get_phone|default:'-' }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Страны обслуживания</td>
                        <td colspan="2" class="hide edit">
                            {{ form2.country_services }}
                            <em class="error">{{ form2.country_services.errors }}</em>
                        </td>
                        <td colspan="2">{{ user.company.country_services.all|join:", "|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>e-mail:</td>
                        {#                    <td colspan="2" class="hide edit">{{ form.email }}</td>#}
                        <td colspan="2">{{ user.company.email }}</td>
                    </tr>
                    <tr>
                        <td>Сайт компании</td>
                        <td colspan="2" class="hide edit">
                            {{ form2.site }}
                            <em class="error">{{ form2.site.errors }}</em>
                        </td>
                        <td colspan="2">{{ user.company.site|default:'Не указан' }}</td>
                    </tr>
                    <tr>
                        <td>Типы перевозок</td>
                        <td class="transport_type hide edit">
                            {% for pk, image, name in form2.categories.field.choices %}
                                <div class="group form_chack">
                                    <input type="checkbox" id="id_categories_{{ forloop.counter0 }}" value="{{ pk }}" name="categories" {% if pk in form2.categories.field.initial %}checked{% endif %}>
                                    <span class="icon"><img title="{{ name }}" src="{% if image %}{{ image.url }}{% endif %}" /></span>
                                    <label>{{ name }}</label>
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% for category in user.company.categories.all %}
                                <div class="group">
                                    <span class="icon"><img src="{{ category.icon.url }}" alt="{{ category.name }}"/></span>
                                    <label>{{ category.name }}</label>
                                </div>
                            {% empty %}
                                Не указаны
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>О компании</td>
                        <td colspan="2" class="hide edit">
                            {{ form2.description }}
                            <em class="error">{{ form2.description.errors }}</em>
                        </td>
                        <td colspan="2">{{ user.company.description|safe|linebreaksbr_custom|default:'Не указана' }}</td>
                    </tr>
                    {% comment %}<tr>
                    <td>Платежные реквизиты</td>
                    <td><div class="group group-min">
                        <p>Оплата наличными</p>
                    </div>
                        <div class="group group-min">
                            <p>Оплата по договору</p>
                        </div>
                        <div class="group group-min">
                            <p>Webmoney</p>
                        </div>
                        <div class="group group-min">
                            <p>Яндекс.Деньги</p>
                        </div>
                        <div class="group group-min">
                            <p>QIWI Кошелек</p>
                        </div>
                        <div class="group group-min">
                            <p>Оплата банковской картой</p>
                        </div>
                    </td>
                </tr>{% endcomment %}

                    </tbody>
                </table>
            </form>
            {% include 'inclusion/change_profile.html' %}
            <div class="function-block">
                <a class="blue-btn look" href="{{ user.company.get_absolute_url }}">Посмотреть профиль</a>
                <p>Для просмотра своего профиля на сайте нажмите на кнопку “Просмотреть профиль”</p>
            </div>
        </div>
    </div>
    <div id="user_routes">
        {% include 'order/inclusion/route_list.html' %}
    </div>
    <div class="my-orders my-bets">
        {% include 'company/competition_list.html' %}
    </div>
    <script>
        $(function () {
            {% if form.errors or form2.errors %}
                edit_toggle();
                $.fn.alert();
            {% endif %}
        });
    </script>
{% endblock %}