{% extends 'base.html' %}
{% load static %}
{% load company %}
{% load widget_tweaks %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'inclusion/head.html' %}
    <script>
    </script>
    <div class="cp-info clearfix">
        <div class="container-sm">
            <form action="." method="post" id="form_profile">
                {% csrf_token %}
                <table class="blue-table">
                    <tbody>
                    <tr>
                        <td>Имя на сайте</td>
                        <td colspan="2" class="hide edit">
                            {{ form.first_name }}
                            <em class="error">{{ form.first_name.errors }}</em>
                        </td>
                        <td colspan="2">{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Тип пользователя</td>
                        <td colspan="3">{% type_user 'Компания' 'Курьерская служба' 'Заказчик' %}</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td colspan="2" class="hide edit">{{ form.phone }}
                            <em class="error">{{ form.phone.errors }}</em>
                        </td>
                        <td colspan="2">{{ user.get_phone|default:'Не указан' }}</td>
                    </tr>
                    <tr>
                        <td>e-mail:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </form>
            {% include 'inclusion/change_profile.html' %}
        </div>
    </div>
    <div class="my-orders">
        {% include 'company/competition_list.html' %}
    </div>
{% endblock  %}