{% extends "registration/registration_base.html" %}
{% load thumbnail %}
{% load company %}
{% load widget_tweaks %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <script type="text/javascript">
        function send_form(form) {
            $('.error_msg').remove();
            var postData = form.serializeArray();
            var formURL = form.attr("action");
            $.ajax({
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data) {
                    if (data.success) {
                        $('.success').html('Данные сохранены');
                        setTimeout(function(){$('.success').html('')}, 3000);
                    }
                    $.each(data, function(i, val) {
                        $('#id_' + i).after('<span class="error_msg">' + val + '</span>');
                    });
                }
            });
        }

        $(document).ready(function() {
            $("#form_qiwi").submit(function(e) {
                send_form($(this));
                e.preventDefault();
            });
            $("#form_yad").submit(function(e) {
                send_form($(this));
                e.preventDefault();
            });
            $("#form_bank_card").submit(function(e) {
                send_form($(this));
                e.preventDefault();
            });
            $("#form_nal").submit(function(e) {
                send_form($(this));
                e.preventDefault();
            });
            $("#form_beznal").submit(function(e) {
                send_form($(this));
                e.preventDefault();
            });
        });
    </script>

    <span class="back">
    <a href="#">Вернуться назад</a>
</span>

    <h1>Личные данные</h1>

    <div class="company_buttons">
        <a href="{% url account %}">{% type_user 'Данные компании' 'Данные курьерской службы' 'Данные пользователя' %}</a>
        <a href="{% url competition_list %}">{% type_user 'Ставки' 'Ставки' 'Заказы' %} {{ count_new_bet }}</a>
    </div>


    {% block message %}
        {% if messages %}
            <div class="message">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clr"></div>
        {% endif %}
    {% endblock %}
    <div class="nav-bar">
        <ul>
            <li><button class="button blue-button" onclick="location.href='{% url order:reset_password %}'">Сменить пароль</button>
            <li><button class="button blue-button" id="edit_profile">Редактировать данные</button></li>
            <li>{% if user.is_carrier %}
                <button class="button blue-button" onclick="location.href='{{ user.company.get_absolute_url }}'">Посмотреть свой профиль</button>
            {% endif %}</li>
        </ul>
    </div>
    {% if form2 %}
        <div class="profile_edit hidden">
            <form id='avatar' enctype="multipart/form-data" action="{% url change_avatar user.company.id %}" method="post">
                <table class="profile_table">
                    <tr>
                        <td>Аватар:</td>
                        <td>
                            <input type="file" name="logo" style="width: 210px;">
                            <input type="hidden" name="user" value="{{ user.id }}">
                            <button class="uaddcomp" >Загрузить</button>
                        </td>
                    </tr>
                    {% csrf_token %}
                </table>
            </form>
        </div>
    {% endif %}
    <div class="profile_edit hidden">
        <form action="." class="edit_profile_form" method="post">
            {% csrf_token %}
            <table class="profile_table">
                <tr>
                    <td>Тип:</td>
                    <td>{% type_user 'Компания' 'Курьерская служба' 'Заказчик' %}</td>
                </tr>

                {% if user.username != user.email %}
                    {# Мы используем email как логин, но в старых пользователей есть логин и емейл #}
                    <tr>
                        <td>Логин:</td>
                        <td>{{ user.username }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <td>Имя:</td>
                    <td>{{ form.first_name }}</td>
                </tr>

{#                <tr>#}
{#                    <td>E-mail:</td>#}
{#                    <td>{{ form.email }}<em class="error">{{ form.email.errors }}</em></td>#}
{#                </tr>#}

                <tr>
                    <td>Телефон:</td>
                    <td>{{ form.phone }}<em class="error">{{ form.phone.errors }}</em></td>
                </tr>

                {% if user.company %}
                    <tr>
                        <td>Название компании:</td>
                        <td>
                            {{ form2.name }}
                            <em class="error">{{ form2.name.errors }}</em>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип:</td>
                        <td class="user_type">{{ form2.type_carrier }}</td>
                        <em class="error">{{ form2.type_carrier.errors }}</em>
                    </tr>
{#                    {% if not user.is_company %}#}
                        <tr>
                            <td>Страна:</td>
                            <td>{{ form2.country }}</td>
                        </tr>
                        <tr>
                            <td>Регион:</td>
                            <td>{{ form2.region }}</td>
                        </tr>
                        <tr>
                            <td>Город:</td>
                            <td>{% render_field form2.city2 %}</td>
                        </tr>
{#                    {% endif %}#}
                    <tr>
                        <td>Типы перевозок:</td>
                        <td class="transport_type">
                            {% for pk, image, name in form2.categories.field.choices %}
                                <div class="category-item">
                                    <input type="checkbox" id="id_categories_{{ forloop.counter0 }}" value="{{ pk }}" name="categories" {% if pk in form2.categories.field.initial %}checked{% endif %}>
                                    <span class="transport_type_img"><img title="{{ name }}" src="{% if image %}{{ image.url }}{% endif %}" /></span>
                                    <span class="cat_name">{{ name }}</span>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td>Страны обслуживания:</td>
                        <td>{{ form2.country_services }}</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txt">{% type_user 'О компании' 'О курьерской службе' %}</label>
                            <br/>
                            <span class="span">(не более 2500 знаков без пробелов)</span></td>
                        <td><em class="error">{{ form2.description.errors }}</em>
                            <div class="clr"></div>
                            {{ form2.description }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <button type="submit" class="dobavit">Сохранить</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="profile_detail">
        <table class="profile_table">
            <tbody>
            <tr>
                <td>Тип:</td>
                <td>{% type_user 'Компания' 'Курьерская служба' 'Пользователь' %}</td>
            </tr>

            <tr>
                <td>E-mail:</td>
                <td>{% firstof user.email user.username %}</td>
            </tr>
            <tr>
                <td>Имя:</td>
                <td>{{ user.first_name }}{% if user.company.type_carrier and user.company.type_carrier %}, {% endif %}{{ user.company.get_type_carrier_display|default:' ' }}</td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>{{ user.get_phone|default:"-" }}</td>
            </tr>

            {% if user.company %}
                <tr>
                    <td>Рейтинг:</td>
                    <td>{{ user.company.total_scope }}</td>
                </tr>
                <tr>
                    <td>Аватар:</td>
                    <td>{% if user.company.logo %}<img src="{{ user.company.logo.url }}" alt="" width="60" height="60"/> {% else %}-{% endif %}</td>
                </tr>

                {% if user.is_company %}
                    <tr>
                        <td>Название компании:</td>
                        <td>{{ user.company.name }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Страны обслуживания:</td>
                    <td>{{ user.company.country_services.all|join:", "|default:"-" }}</td>
                </tr>


{#                {% else %}#}
                <tr>
                    <td>Старна:</td>
                    <td>{{ user.company.country|default:"-" }}</td>
                </tr>
                <tr>
                    <td>Регион:</td>
                    <td>{{ user.company.region|default:"-" }}</td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td>{{ user.company.city2|default:"-" }}</td>
                </tr>
{#                {% endif %}#}
                <tr>
                    <td>Типы перевозок:</td>
                    <td>
                        {% for category in user.company.categories.all %}
                            <div class="shipping_types">
                                <span class="shipping_types_img"><img src="{{ category.icon.url }}" alt="{{ category.name }}"/></span>
                                <span>{{ category.name }}</span>
                            </div>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td>О {% type_user 'Компании' 'Курьерской службе' %}</td>
                    <td>{{ user.company.description|safe|linebreaksbr_custom }}</td>
                </tr>
            {% endif %}

            </tbody>
        </table>

        {% if user.is_carrier %}
            <div id="routes">{% include 'order/inclusion/route_list.html' %}</div>
        {% endif %}
    </div>


    {% if user.company %}

        <div class="payment_details">
            <h3>Платежные реквизиты</h3>
            <div class="success"></div>

            {% for f in payment_form_generator %}
                <p><span>{{ f.form_name }}</span> <a href="#" class="op">Показать</a></p>
                <form method="post" action="{% url companies_payment_add %}?action={{ f.form_pk }}" class="payment_type_form">
                    {{ f.as_p }}
                    <input type="submit" class="btn" value="Сохранить">
                </form>
            {% endfor %}
        </div>

    {% endif %}



    <script type="text/javascript">
        $(function() {
            add_city_autocomplete("#id_city_text", "#id_country option:selected");
            $('#edit_profile').click(function() {
                $('.profile_edit').toggleClass('hidden');
                $('.profile_detail').toggleClass('hidden',function() {
                    $('body,html').animate({
                        scrollTop: 100
                    }, 800);
                });
            });

{#            CKEDITOR.instances.id_description.on('key', checkLength);#}
{#            CKEDITOR.instances.id_description.on('paste', checkLength);#}

        });
    </script>


{% endblock %}
