{% extends "base.html" %}
{% load thumbnail %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="header header-registration">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>Регистрация</h1>
            <p>если Вы перевозчик или заказчик, нажмите на соответствующую кнопку</p>
        </div>
    </div>

    <div class="registration_content">
        <div class="container-sm">
            <div class="registration_buttons clearfix">
                <div>
                    <a href="{% url registration_register type='company' %}" class="btn_blue" onclick="yaCounter16082527.reachGoal('REGCOMPANY'); return true;">Перевозчик</a>
                    <p>Зарегистрируйтесь и получайте своих клиентов и заказы на перевозку грузов или курьерскую доставку</p>
                </div>
                <div>
                    <a href="{% url registration_register type='customer' %}" class="btn">Заказчик</a>
                    <p>Зарегистрируйтесь и получайте выгодные предлложения от транспортных и курьерских компаний</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}