{% extends "registration/registration_base.html" %}
{% load widget_tweaks %}
{% block title %}Регистрация{% endblock %}
{% block content %}

    <span class="back">
        <a href="{% url registration_choice %}">Вернуться назад</a>
    </span>

    <h1>Регистрация</h1>
    <form id="regform" method='post' action=''>
        <div id="subform">
            {% csrf_token %}
            <div class="forma_reg">
                <div class="pole rad">
                    <label for="how">Вы регистрируетесь как:</label>
                    <div class="radio">
                        <label for="how1"><input type="radio" name="how" id="how1" value="company" checked="checked">транспортная компания</label>
                        <label for="how3"><input type="radio" name="how" id="how3" value="courier">курьерская служба</label>
                        <label for="how2"><input type="radio" name="how" id="how2" value="user">заказчик</label>
                    </div>
                    <div class="clr"></div>
                </div>

                <div class="pole">
                    <label for="id_username">Имя:</label>
                    {{ form.first_name }}
                    <em class="error">{{ form.first_name.errors }}</em>
                    <em>(псевдоним на сайте)</em>
                    <div class="clr"></div>
                </div>
                <div class="pole">
                    <label for="id_email">Введите E-mail:</label>
                    {% render_field form.email placeholder='Для входа на сайт' %}
                    <em class="error">{{ form.email.errors }}</em>
                </div>

                <div class="pole">
                    <label for="id_password1">Пароль:</label>
                    {{ form.password1 }}
                    <em class="error">{{ form.password1.errors }}{{ form.non_field_errors }}</em>
                </div>
                <div class="pole">
                    <label for="id_password2">Повторите пароль:</label>
                    {{ form.password2 }}
                    <em class="error">{{ form.password2.errors }}</em>
                </div>
                <div class="pole">
                    <label for="id_city">Телефон:</label>
                    {{ form2.phone }}
                    <em class="error">{{ form2.phone.errors }}</em>
                </div>
            </div>
        </div>
        <div class="zap hiden" >Заполните данные о компании, которую вы представляете:</div>

        <div class="dannie">
            <div class="hiden">
                <div class="pole">
                    <label for="id_name">Название компании:</label>
                    {{ form2.name }}
                    <em class="error">{{ form2.name.errors }}</em>
                </div>
               <div class="pole">
                    <label for="id_country">Страна:</label>
                    {{ form2.country }}
                    <em class="error">{{ form2.country.errors }}</em>
                </div>

{#                <div class="pole">#}
{#                    <label for="id_region">Регион:</label>#}
{#                    {{ form2.region }}#}
{#                    <em class="error">{{ form2.region.errors }}</em>#}
{#                </div>#}
                <div class="pole">
                    <label for="id_city">Ваш город:</label>
                    {{ form2.city2 }}
                    <em class="error">{{ form2.city2.errors }}</em>
                </div>

                <div class="pole area_country">
                    <label for="id_city">Страны обслуживания:</label>
                    {{ form2.country_services }}
                    <em class="error">{{ form2.country_services.errors }}</em>
                </div>

                <div class="pole type_carrier">
                    <label for="id_type_carrier">Тип перевозчика:</label>
                    {{ form2.type_carrier }}
                    <em class="error">{{ form2.type_carrier.errors }}</em>
                </div>

                <div class="pole">
                    <label for="id_city">Сайт:</label>
                    {{ form2.site }}
                    <em class="error">{{ form2.site.errors }}</em>
                </div>

                <div class="cont">
                    <label for="id_city">Тип перевозок:</label><br/><br/>
                    {% for pk, image, name in form2.categories.field.choices %}
                        <div class="category-item">
                            <input type="checkbox" id="id_categories_{{ forloop.counter0 }}" value="{{ pk }}" name="categories" {% if pk in form2.categories.field.initial %}checked{% endif %}>
                            <img title="{{ name }}" src="{% if image %}{{ image.url }}{% endif %}" width="40" height="40" />
                            <span class="cat_name">{{ name }}</span>
                        </div>
                    {% endfor %}
                </div>


                <div class="pole txt">
                    <label for="txt"> О Вас </label>
                    <span class="span" style="padding-left: 40px;">(не более 2500 знаков без пробелов)</span>

                    <em class="error">{{ form2.description.errors }}</em>
                    <div class="clr"></div>
                    {{ form2.description }}

                    {#                <div class="ostatok">Осталось 1870 символов</div>#}
                    <div class="clr"></div>

                </div>

            </div>

            <div class="clr"></div>
            <div class="prinyat">
                <div class="pole">
                    <br/><br/>
                    {{ form2.agree }}
                    <label for="ask">Я принимаю <a href="/agreement/">условия соглашения</a></label>

                    <div class="clr"></div>

                </div>
                <a href="#" class='grbm sign-up'>Зарегистрироваться</a>
            </div>



        </div>

    </form>

    <script type="text/javascript">
        function getUrlParameter(sParam)
        {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++)
            {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam)
                {
                    return sParameterName[1];
                }
            }
        }

        $('.sign-up').click(form_submit);
        function form_submit() {
            $('#id_region_name').val($('#id_region option:selected').text());
            console.log($('#id_region_name').val())
            $('#regform').submit();
            return false;
        }
        $(function(){
            // в случае ошибки при регистрации выбираем коректный тип пользователя
            if ('{{ form.errors }}' || '{{ form2.errors }}') {
                $('input[value="{{ how }}"]').click();
            }
            // при переходе с главной с url береться параметр type
            var type = getUrlParameter('type');
            if (type) {

                switch (type) {
                    case 'courier':
                        $('input[value='+type+']').click();
                        break;
                    case 'transport':
                        $('input[value='+type+']').click();
                        break;
                }
            }
            add_city_autocomplete("#id_city2", "#id_country option:selected");
        });
    </script>
{% endblock %}
