{% extends "base.html" %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load company %}
{% load pytils_numeral %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="header header-registration">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>Регистрация</h1>
        </div>
    </div>

    <div class="registration_content">
        <div class="container-sm">
            <div class="registration_buttons clearfix">
                <a href="{% url registration_choice %}">Вернуться к выбору</a>
            </div>

            <form action="." method="post" class="reg_form">
                {% csrf_token %}
                <fieldset>
                    <legend>Регистрационные данные компании</legend>
                    <table>
                        <tr class="{{ form.first_name|error }}">
                            <td><label>Имя/ник представителя:</label></td>
                            <td>{{ form.first_name }}{{ form.first_name.errors }}</td>
                        </tr>
                        <tr class="{{ form.password1|error }}">
                            <td><label>Пароль:</label></td>
                            <td>{{ form.password1 }}{{ form.password1.errors }}</td>
                        </tr>
                        <tr class="{{ form.password2|error }}">
                            <td><label>Пароль еще раз:</label></td>
                            <td>{{ form.password2 }}{{ form.password2.errors }}</td>
                        </tr>
                        <tr class="{{ form.email|error }}">
                            <td><label>e-mail:</label></td>
                            <td>{{ form.email }}{{ form.email.errors }}</td>
                        </tr>
                        <tr class="{{ form2.phone|error }}">
                            <td><label>телефон:</label></td>
                            <td>{{ form2.phone }}{{ form2.phone.errors }}</td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset>
                    <legend>Данные о компании, которую Вы представляете:</legend>
                    <table>
                        <tr class="{{ form2.name|error }}">
                            <td><label>Название компании:</label></td>
                            <td>{{ form2.name }}{{ form2.name.errors }}</td>
                        </tr>
                        <tr class="{{ form2.country|error }} {{ form2.region|error }}">
                            <td><label>Место нахождения:</label></td>
                            <td class="wh_bg">{% render_field form2.country  data-placeholder="Страна" placeholder="Страна" %}{% render_field form2.region  data-placeholder="Регион" %}{{ form2.country.errors }}{{ form2.region.errors }}</td>
                        </tr>
                        <tr class="{{ form2.type|error }}">
                            <td><label>Вы регистрируетесь как:</label></td>
                            <td class="radioli">
                                {% render_field form2.type class='styled' %}
                                {{ form2.type.errors }}
                            </td>
                        </tr>
                        <tr class="{{ form2.country_services|error }}">
                            <td><label>Страны обслуживания:</label></td>
                            <td>
                                {% render_field form2.country_services class='styled' %}
                                {{ form2.country_services.errors }}
                            </td>
                        </tr>
                        <tr class="{{ form2.type_carrier|error }}">
                            <td><label>Тип перевозчика:</label></td>
                            <td class="radioli">
                                {% render_field form2.type_carrier class='styled' %}
                                {{ form2.type_carrier.errors }}
                            </td>
                        </tr>
                        <tr class="{{ form2.site|error }}">
                            <td><label>Сайт:</label></td>
                            <td>{{ form2.site }}{{ form2.site.errors }}</td>
                        </tr>
                        <tr>
                            <td><label>Тип перезвозок:</label></td>
                            <td>
                                {% for pk, image, name in form2.categories.field.choices %}
                                    <div class="group">
                                        <input class="styled" type="checkbox" id="id_categories_{{ forloop.counter0 }}" value="{{ pk }}" name="categories" {% if pk in form2.categories.field.initial %}checked{% endif %}>
                                        <span class="icon">
                                            <img title="{{ name }}" src='{% if image %}{{ image.url }}{% endif %}' alt="" >
                                        </span>
                                        <label>{{ name }}</label>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>

                        <tr class="{{ form2.description|error }}">
                            <td><label>О вашей компании:</label><i>(краткое резюме не более 2500 знаков без пробелов)</i></td>
                            <td>{{ form2.description }}{{ form2.description.errors }}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>{% render_field form2.agree class="styled" %}<label>Я принимаю <a href="/agreement/" target="_blank">условия соглашения</a></label></td>
                            {{ form2.agree.errors }}
                        </tr>

                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn">Зарегистрироваться</button></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
