{% extends "base.html" %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load pytils_numeral %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="header header-registration">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>Регистрация</h1>

        </div>
    </div>

    <div class="registration_content">
        <div class="container-sm">
            <div class="registration_buttons clearfix">
                <a href="{% url registration_choice %}">Вернуться к выбору</a>
            </div>

            <form action="." method="post" class="reg_form">
                {% csrf_token %}
                <fieldset>
                    <legend>Регистрационные данные перевозчика:</legend>
                    <table>
                        <tr class="{{ form.first_name|error }}">
                            <td><label>Имя/ник:</label></td>
                            <td>{{ form.first_name }}{{ form.first_name.errors }}</td>
                        </tr>
                        <tr class="{{ form.password1|error }}">
                            <td><label>Пароль:</label></td>
                            <td>{{ form.password1 }}{{ form.password1.errors }}</td>
                        </tr>
                        <tr class="{{ form.password2|error }}">
                            <td><label>Пароль еще раз:</label></td>
                            <td>{{ form.password2 }}{{ form.password2.errors }}</td>
                        </tr>
                        <tr class="{{ form.email|error }}">
                            <td><label>e-mail:</label></td>
                            <td>{{ form.email }}{{ form.email.errors }}</td>
                        </tr>
                        <tr class="{{ form2.phone|error }}">
                            <td><label>телефон:</label></td>
                            <td>{{ form2.phone }}{{ form2.phone.errors }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{% render_field form2.agree class='styled' %}<label>Я принимаю <a href="/agreement/" target="_blank">условия соглашения</a></label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn">Зарегистрироваться</button></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}