<div class="alert-text">
    Вы приняли ставку {{ bet.price|floatformat:"-2" }} {{ bet.get_currency_display }} от компании {{ bet.user.company.name }}.<br/>
    Ваши контактные данные мы передадим выбранному исполнителю. <br/>
    В ближайшее время с вами свяжется представитель компании, чтобы обсудить все <br> детали вашей доставки.
    <br/><br/>
    Спасибо, что воспользовались нашим сервисом.
</div>