<div class="alert-text">
    Вы отменили ставку {{ bet.price|floatformat:"-2" }} {{ bet.get_currency_display }}
</div>
<a class='one-more fancybox' href="#make_rate">Обновить ставку к этому заказу.</a>