<div class="alert-text">
    Вы предложили свою цену на доставку. <br/>
    Если цена устроит заказчика, то он выберет вашу ставку и вы получите уведомление на ваш e-mail.<br/>
    Чтобы сделка состоялась, вам нужно будет <a href="{% url account %}">подтвердить</a> в личном кабинете, что указанная цена актуальна для данного заказа.<br/>
</div>
<a class='one-more center' href="{% url order:order_detail order.id %}">Перейти на страницу заказа</a>
