{% load cms_tags sekizai_tags %}
{% load thumbnail %}
{% load menu_tags %}
<html>
<head>
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="keywords" content="{% block keywords %}{% page_attribute "meta_keywords" %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% page_attribute "meta_description" %}{% endblock %}"/>
    <meta property="og:title" content="{% block og_title %}{% page_attribute "page_title" %}{% endblock %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://dostmarket.ru{{ request.get_full_path }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}awards/css/font.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}awards/css/reset.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}awards/css/style.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}awards/js/main.js"></script>
</head>
<body>
<div id="container">
    <div class="top">
        <div class="container">
            <a class="logo fll" href="/"><img src="{{ STATIC_URL }}awards/images/logo.png" width="351" height="92" alt=""></a>

            <div class="top-menu flr">
                <ul>
                    {% block menu %}
                        <li class="active"><a href="{% url awards %}">Описание</a></li>
                        <li><a href="{% url awards_request %}">Подать заявку</a></li>
                        <li class="last"><a href="{% url awards_vote 'courier' %}">Голосование</a></li>
                    {% endblock %}
                </ul>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>

{% block content %}

    <div class="awards">
        <div class="container">
            <a class="award1 fll" href="{% url awards_vote 'courier' %}"><img src="{{ STATIC_URL }}awards/images/award1.png" width="364" height="400" alt=""></a>
            <a class="award2" href="{% url awards_vote 'transport' %}"><img src="{{ STATIC_URL }}awards/images/award2.png" width="364" height="400" alt=""></a>

            <div class="clr"></div>
        </div>

    </div>

    <div class="content">
        <div class="container">
            {% placeholder main %}


            <a class="send-but" href="{% url awards_request %}"></a>


        </div>

    </div>
{% endblock %}
    <div class="footer">
        <div class="container">
            <div class="foot-menu fll">
                <ul>
                    <li><a href="/adv/">Реклама</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                    <li><a href="/rule/">Правила сайта</a></li>
                    <li><a href="/agreement/">Пользовательское соглашение</a></li>
                </ul>
            </div>

            <a class="logo flr" href="/"><img src="{{ STATIC_URL }}awards/images/footer-logo.png" width="241" height="53" alt=""></a>
            <div class="clr"></div>

        </div>
    </div>


</div>
</body>
</html>
