{% extends "awards/front.html" %}
{% load cms_tags sekizai_tags company %}
{% load thumbnail %}
{% load menu_tags pytils_numeral %}

{% block title %}Подать заявку{% endblock %}
{% block og_title %}Подать заявку{% endblock %}


{% block menu %}
    <li><a href="{% url awards %}">Описание</a></li>
    <li class="active"><a href="{% url awards_request %}">Подать заявку</a></li>
    <li class="last"><a href="{% url awards_vote 'courier' %}">Голосование</a></li>
{% endblock %}


{% block content %}

    <div class="content result">
        <div class="container">
            <h1>Форма заявки на участие в премии</h1>

            <form action="{% url awards_request %}" method="POST">
            <div class="form fll">
                <div class="item">
                    <label>Название компании <a style="display: block; padding-top:5px;" href="/accounts/register/">Добавить новую компанию</a></label>
                    {{ form.company }}
                    {{ form.company.errors }}

                    <div class="clr"></div>
                </div>
                <div class="item">
                    <label>Официальный сайт компании</label>
                    {{ form.site }}
                    {{ form.site.errors }}

                    <div class="clr"></div>
                </div>
                <div class="item">
                    <label>Контактное лицо</label>
                    {{ form.person }}
                    {{ form.person.errors }}

                    <div class="clr"></div>
                </div>
                <div class="item">
                    <label>Контактный телефон</label>
                    {{ form.phone }}
                    {{ form.phone.errors }}

                    <div class="clr"></div>
                </div>
                <div class="item">
                    <label>Контактный E-mail</label>
                    {{ form.email }}
                    {{ form.email.errors }}

                    <div class="clr"></div>
                </div>

                <div class="item">
                    <label>Номинация на участие</label>

                    <div class="form-item">
                        <label class="radio active" for="rad1"><input type="radio" name='types' value="courier" checked="checked" id="rad1">Курьерская компания</label>

                        <div class="clr"></div>
                    </div>

                    <div class="form-item">
                        <label class="radio" for="rad2"><input type="radio" name='types' value="transport" id="rad2">Транспортная компания</label>
                    </div>

                    <div style="display: none;">{{ form.type }}</div>
                    <div class="clr"></div>
                </div>

                <div class="item last">
                    <input type="submit" value="">
                </div>

            </div>
            </form>


            <img class="aw-small courier flr" src="{{ STATIC_URL }}awards/images/award1.png" width="372" height="" alt="">
            <img style="display: none;" class="aw-small transport flr" src="{{ STATIC_URL }}awards/images/award2.png" width="372" height="" alt="">

            <div class="links flr">
                <a href="{% url awards %}">Правила проведения премии</a>
                <a href="{% url awards_vote 'courier' %}">Страница голосования</a>
            </div>


        </div>
        <div class="clr"></div>

    </div>




{% endblock %}

