{% extends "awards/front.html" %}
{% load cms_tags sekizai_tags company %}
{% load thumbnail %}
{% load menu_tags pytils_numeral %}

{% block title %}Заявка отправлена{% endblock %}
{% block og_title %}Заявка отправлена{% endblock %}


{% block menu %}
    <li><a href="{% url awards %}">Описание</a></li>
    <li class="active"><a href="{% url awards_request %}">Подать заявку</a></li>
    <li class="last"><a href="{% url awards_vote 'courier' %}">Голосование</a></li>
{% endblock %}


{% block content %}

    <div class="content result">
        <div class="container">
            <h1>Заявка успешно отправлена</h1>

            {% placeholder "main" %}

        </div>
        <div class="clr"></div>

    </div>




{% endblock %}

