{% extends "awards/front.html" %}
{% load cms_tags sekizai_tags company %}
{% load thumbnail %}
{% load menu_tags pytils_numeral %}

{% block title %}Голосование{% endblock %}
{% block og_title %}Голосование{% endblock %}


{% block menu %}
    <li><a href="{% url awards %}">Описание</a></li>
    <li><a href="{% url awards_request %}">Подать заявку</a></li>
    <li class="last active"><a href="{% url awards_vote 'courier' %}">Голосование</a></li>
{% endblock %}


{% block content %}
    <div class="content result">
    <div class="container">
    <h1>Голосование</h1>
    <div class="results">
    <div class="tab fll">
        <ul>
            <li {% if params.type == 'courier' %}class="active"{% endif %}><a href="{% url awards_vote 'courier' %}">Лучшая курьерская компания</a></li>
            <li {% if params.type == 'transport' %}class="active"{% endif %}><a href="{% url awards_vote 'transport' %}">Лучшая транспортная компания</a></li>
        </ul>
    </div>
    <div class="clr"></div>


    <div class="laureats {% if params.type == 'transport' %}last{% else %}first{% endif %}-active fll">

    {% for company in companies %}
        <div class="laureat {% if forloop.last %}last{% endif %}">
            <div class="num fll">{{ forloop.counter }}</div>
            <div class="progress fll">
                <span>{{ company.company.name }}</span>

                <div class="bar">
                    <div class="inner" style="width: {{ max|percent:company.votes_all }}%;"></div>
                </div>
            </div>
            <div class="total fll">
                <span>{{ company.votes_all }}</span>
                <em>{{ company.votes_all|choose_plural:"голос,голоса,голосов" }}</em>

            </div>
            <div class="c-logo fll">
                {% thumbnail company.company.logo "121x36" as img %}
                    <img src="{{ img.url }}" width="{{ img.width }}"  style="margin:{{ img|margin:"121x36" }}" height="{{ img.height }}" alt="{{ company.company.name }}">
                {% endthumbnail %}
            </div>

            <div class="pops flr">

                <a class="vote-but" href="#"></a>

                <form>
                <div class="popup">
                    <img class="arr" src="{{ STATIC_URL }}awards/images/arr-pop-up.png" width="14" height="32" alt="">

                    <div class="form-item">
                        <label>Имя</label>
                        <input type="text" name="name">
                    </div>

                    <div class="form-item">
                        <label>E-mail</label>
                        <input type="text" name="email">
                    </div>

                    <div class="form-item last">
                        <input type="hidden" name="id_company" value="{{ company.id }}">
                        <input type="text" id="captha" name="captcha" value="">
                        <input class="add_vote" type="button" style="float: left;" value="">
                    </div>
                </div>
                </form>
            </div>

            <div class="clr"></div>


        </div>
    {% endfor %}



    </div>
    </div>

    {% if params.type == 'courier' %}
    <img class="aw-small flr" src="{{ STATIC_URL }}awards/images/award1.png" width="372" height="" alt="">
    {% endif %}

    {% if params.type == 'transport' %}
        <img class="aw-small flr" src="{{ STATIC_URL }}awards/images/award2.png" width="372" height="" alt="">
    {% endif %}



    <div class="links flr">
        <a href="{% url awards %}">Правила проведения премии</a>
        <a href="{% url awards_request %}">Подать заявку</a>
    </div>

    </div>
    <div class="clr"></div>

    </div>

{% endblock %}

