<div id="success_rate" class="modal">
    <div class="success_rate">
        <p>Ваша ставка успешно размещена</p>
        <div class="link-block clearfix">
            <a href="" class="one-more">Сделать еще одну ставку </a>
            <a href="" class="back">Перейти на страницу заказа</a>
        </div>
    </div>
</div>