<div class="container-sm">
    <form action="{% url registration_choice %}">
        <button class="btn reg-btn" type="submit">Зарегистрироваться</button>
    </form>
    <p>Вы перевозчик или курьерская служба?</p>
    <span>Зарегистрируйтесь и получайте уведомление о заказах</span>
</div>