{% load widget_tweaks %}
<div class="function-block edit_profile">
    <a class="blue-btn click" href="#" id="edit_profile">Редактировать</a>
    <p>Для изменения своих данных нажмите на кнопку “Редактировать”</p>
</div>
<div class="function-block edit_profile hide">
    <a class="green-btn save" href="#" onclick="$('#form_profile').submit(); return false;">Сохранить</a>
    <a class="red-btn cancel click" href="">Отменить</a>
</div>
<div class="change_password">
    {% include 'inclusion/form_password_reset.html' %}
</div>
<div class="function-block edit_password">
    <a class="blue-btn lock change_password_b" href="#">сменить пароль</a>
    <p>Для смены пароля входа на сайт нажмите на кнопку “Сменить пароль”</p>
</div>
<div class="function-block edit_password hide">
    <a class="green-btn save" href="#" id="change_pass_submit">Сохранить</a>
    <a class="red-btn cancel change_password_b" href="">Отменить</a>
</div>
{#            <div class="change_password">#}
{#                <form class="change_password_form" action="{% url order:reset_password %}">#}
{#                    {% csrf_token %}#}
{#                    {{ field.label_tag }}#}
{#                    {{ field }}#}
{#                    {% if field.errors %}#}
{#                        {{ field.errors|striptags }}#}
{#                    {% endif %}#}
{#                    <a href="#lock" class=""> Подтвердить</a>#}
{#                    <a href="#lock">Отменить</a>#}
{#                </form>#}
{#            </div>#}