{% load widget_tweaks %}
{% load company %}

<form class="change_password_form" action="{% url reset_password %}">
    {% csrf_token %}
    <em class="{{ password_form.password_cur|error }}">{{ password_form.password_cur.errors }}</em>
    {% render_field password_form.password_cur placeholder="Старый пароль" %}
    <em class="{{ password_form.password1|error }}">{{ password_form.password1.errors }}</em>
    {% render_field password_form.password1 placeholder="Новый пароль" %}
    <em class="{{ password_form.password2|error }}">{{ password_form.password2.errors }}</em>
    {% render_field password_form.password2 placeholder="Новый пароль еще раз" %}
</form>