<div class="header header-cp">
    <div class="container-sm">
        <a class="cp" href="#" title="">личный кабинет</a><span>|</span>
        <a class="exit-cp" href="{% url auth_logout %}" title="">выход</a><span>|</span>
        <p>{% firstof user.first_name user.username %}</p>
        {% if count_new_bet %}<a href="#" title=""><i>{{ count_new_bet }}</i></a>{% endif %}
    </div>
    <div class="container-lg">
        <h1>Личный кабинет, <span>{% firstof user.first_name user.username %}</span></h1>
    </div>
</div>