<div id="order_modal">
    <h3>Выберите категорию груза:</h3>
    <div class="order_modal_links clearfix">
        {% for category in category_list %}
            <a href="{% url order:order_form  category.pk %}" onclick="yaCounter16082527.reachGoal('FORMCLICK'); return true;">
                <img src="{{ category.icon.url }}" alt=""/>
                <span>{{ category.name }}</span>
            </a>
        {% endfor %}
    </div>
</div>