{% load encode_parameters %}
{% load static %}
{% load order_tags %}

{% if paginator.page_range|length > 1 %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="{% get_params page=page_obj.previous_page_number %}#respondes">
                    <img src="{% static "new_img/left_arrow_icon.png" %}" alt="">
                </a>
            </li>
        {% endif %}
        {% if show_first %}
            <li><a href="{% get_params page=1 %}">1</a></li>
            <li><a href="javascript:void(0)">...</a></li>
        {% endif %}
        {% for num in range %}
            <li><a {% if page_obj.number == num %}class="current"{% endif %} href="{% get_params page=num %}#respondes">{{ num }}</a></li>
        {% endfor %}
        {% if show_last %}
            <li><a href="javascript:void(0)">...</a></li>
            <li><a href="{% get_params page=last_page %}#respondes">{{ last_page }}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li>
                <a href="{% get_params page=page_obj.next_page_number %}#respondes">
                    <img src="{% static 'new_img/right_arrow_icon.png' %}" alt="">
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
{##}
{#{% if paginator.page_range|length > 1 %}#}
{#    <ul class="pagination">#}
{#        {% if page_obj.has_previos %}#}
{#            <li>#}
{#                <a href="?{{ request.GET|encode_parameters:page_obj.previos_page_number }}" class="prev">#}
{#                        <span>#}
{#                            <img src="{% static "new_img/left_arrow_icon.png" %}" alt="">#}
{#                        </span>#}
{#                </a>#}
{#            </li>#}
{#        {% endif %}#}
{#        {% for num in paginator.page_range %}#}
{#            <li><a {% if page_obj.number == num %}class="current"{% endif %} href="?{{ request.GET|encode_parameters:num }}">{{ num }}</a></li>#}
{#        {% endfor %}#}
{#        {% if page_obj.has_next %}#}
{#            <li class="next">#}
{#                <a href="?{{ request.GET|encode_parameters:page_obj.next_page_number }}">#}
{#                <span>#}
{#                    <img src="{% static "new_img/right_arrow_icon.png" %}" alt="">#}
{#                </span>#}
{#                </a>#}
{#            </li>#}
{#        {% endif %}#}
{#    </ul>#}
{#{% endif %}#}