{% load static %}
{% load thumbnail %}
{% load company %}
{% load order_tags %}
{% load encode_parameters %}

{% if paginator.page_range|length > 1 %}
    <div class="new_pagination">
        {% if page_obj.has_previous %}
            <a href="{% get_params page=page_obj.previous_page_number %}#respondes">
                <img src="{% static 'new_img/left_icon.png' %}" alt="">
            </a>
        {% endif %}
        {% if show_first %}
            <a href="{% get_params page=1 %}#respondes">1</a>
            ...
        {% endif %}
        {% for num in range %}
            <a {% if page_obj.number == num %}class="active"{% endif %} title="" href="{% get_params page=num %}#respondes">{{ num }}</a>
        {% endfor %}
        {% if show_last %}
            ...
            <a href="{% get_params page=last_page %}#respondes">{{ last_page }}</a>
        {% endif %}
         {% if page_obj.has_next %}
            <a href="{% get_params page=page_obj.next_page_number %}#respondes">
                <img src="{% static 'new_img/right_icon.png' %}" alt="">
            </a>
        {% endif %}
    </div>
{% endif %}