{% load static %}
{% load thumbnail %}
{% load company %}
{% load encode_parameters %}
{% load cms_tags sekizai_tags %}
{% load mptt_tags %}

{% for respond in list %}
    <div class="arrow_box">
        <div class="ellipse-box">
            <div class="ellipse {{ respond.mark|switch_class }}"></div>
        </div>
        <h5>Отзыв о перевозчике: <a href="{{ respond.company.get_absolute_url }}">«{% firstof respond.company.name respond.company.h1 %}»</a></h5>
        <p>{{ respond.text|safe|striptags }}</p>
        <div class="comm-info">
            <span class="name">{{ respond.name }}</span>
            <span class="date">{{ respond.created|date:"d M Y" }}</span>
            {% if respond.order %}<span class="bill">Накладная № {{ respond.order }}</span>{% endif %}
            {% if request.user.is_active %}
                <span class="answer"><a href="#" class='add_respond' data-company='{{ respond.company.id }}' rel="{{ respond.id }}" title="">Ответить</a></span>
            {% endif %}
        </div>
    </div>

    {% recursetree respond.get_descendants %}

        {% if node.moderate %}
            <div class="arrow_box children">
                <div class="ellipse-box">
                    <div class="ellipse {{ node.mark|switch_class }}"></div>
                </div>
                <h5>Отзыв о перевозчике: <a href="{{ node.company.get_absolute_url }}">«{% firstof node.company.name company.name node.company.h1  %}»</a></h5>
                <p>{{ node.text|safe|striptags }}</p>
                <div class="comm-info">
                    <span class="name">{{ node.name }}</span>
                    <span class="date">{{ node.created|date:"d M Y" }}</span>
                    {% if node.order %}<span class="bill">Накладная № {{ node.order }}</span>{% endif %}
                    {% if request.user.is_active %}
                        <span class="answer"><a href="#" class='add_respond' data-company='{{ node.company.id }}' rel="{{ node.id }}" title="">Ответить</a></span>
                    {% endif %}
                </div>
            </div>
            {% if not node.is_leaf_node %}
                <div class="children">
                    {{ children }}
                </div>
            {% endif %}
        {% endif %}

    {% endrecursetree %}

{% endfor %}
{% paginator %}
