{% extends "base.html" %}
{% load widget_tweaks %}

{% load company %}
{% load widget_tweaks %}

{% block title %}Карта сайта{% endblock %}
{% block title_content %}Карта сайта{% endblock %}

{% block right_content %}
    <h2>Карта сайта</h2>
    <div class="sitemap">
        {% spaceless %}
            <ul class="sitemap">
                {% for url in urlset %}
                    <a href="{{ url.get_absolute_url }}">{{ url.get_page_title }}</a>
                    <li>
                        {% if 'news' in url.get_absolute_url %}
                            <ul>
                                {% for obj in news %}
                                    <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
                                {% endfor %}
                            </ul>
                        {% elif 'rating/all' in url.get_absolute_url %}
                            <ul>
                                {% for obj in company %}
                                    <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
                                {% endfor %}
                            </ul>
                        {% elif 'articles' in url.get_absolute_url %}
                            <ul>
                                {% for obj in articles %}
                                    <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                {% for obj in pages %}
                    <li>
                        <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endspaceless %}
    </div>
{% endblock %}
