<html>
<head>
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" media="all" href="css/font.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="css/reset.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="css/style.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div id="container">
    <div class="top">
        <div class="container">
            <a class="logo fll" href="/"><img src="images/logo.png" width="351" height="92" alt=""></a>

            <div class="top-menu flr">
                <ul>
                    <li class="active"><a href="#">Описание</a></li>
                    <li><a href="#">Подать заявку</a></li>
                    <li class="last"><a href="#">Голосование</a></li>
                </ul>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>

    <div class="awards">
        <div class="container">
            <a class="award1 fll" href="#"><img src="images/award1.png" width="488" height="536" alt=""></a>
            <a class="award2" href="#"><img src="images/award2.png" width="629" height="536" alt=""></a>

            <div class="clr"></div>
        </div>

    </div>

    <div class="content">
        <div class="container">

            {% placeholder main %}


            <a class="send-but" href="{% url awards_request %}"></a>


        </div>

    </div>

    <div class="footer">
        <div class="container">
            <div class="foot-menu fll">
                <ul>
                    <li><a href="#">Реклама</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Правила сайта</a></li>
                    <li><a href="#">Пользовательское соглашение</a></li>
                </ul>
            </div>

            <a class="logo flr" href="{% url awards %}"><img src="{{ STATIC_URL }}awards/images/footer-logo.png" width="241" height="53" alt=""></a>
            <div class="clr"></div>

        </div>
    </div>


</div>
</body>
</html>
