<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Заявка на доставку</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
    <tr>
        <td width="260" align="left" valign="top"><img src="http://dostmarket.ru/media/static/logo.jpg" width="258" height="127"></td>
        <td valign="top">
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Новая заявка на доставку с сайта DostMarket.ru
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Дата оформления заказа:
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    {{ tender.created }}
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Откуда:
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    {{ tender.point_a }}
                </em>
            </span>
            <br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Куда:
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    {{ tender.point_b }}
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Краткое описание груза:<br/>
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    {{ tender.cargo }}
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Габариты:<br/>
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    Вес: {{ tender.weight }} <strong>кг.</strong>,
                </em><br/>
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    Ширина: {{ tender.width }} <strong> см.</strong>, высота: {{ tender.height }} <strong> см.</strong>, длина: {{ tender.length }} <strong> см.</strong>
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Дополнительная информация о доставке<br/><br/>
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    {{ tender.cargo_description }}
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Контакты:
            </span>
            <br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Имя:
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    {{ tender.name }}
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Телефон:
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    {{ tender.phone }}
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                E-mail:
                <a href="#" style="font-weight: normal; color: blue; text-decoration: underline;">
                    {{ tender.email }}
                </a>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                До какого времени заявка актуальна:
                <br/><br/>
                <em style="font-style: normal; font-weight: normal; color: #000;">
                    Число: {{ tender.date }} Время: {{ tender.time }}
                </em>
            </span>
            <br/><br/>
            <span style="color:#00b050; font-size:14px; font-weight:bold; font-family: Arial, Helvetica, sans-serif;">
                Ваш DostMarket.ru
            </span>
            <br/><br/>
        </td>
    </tr>
</table>
</body>
</html>