{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery1.5.2.min.js"></script>
    <script>
        $(function() {
            $('#test_button').click(function(e){
                e.preventDefault();
                $('#id_is_test').val('True');
                $('#form_mes').submit();
            });
{#            $('input[value=3]').toggle(function (e) {           #}
            $('input[value=3]').click(function(event) {
                if(this.checked) {
                    // Iterate each checkbox
                    $(':checkbox').each(function() {
                        this.checked = true;
                    });
                }
                if(!this.checked) {
                    // Iterate each checkbox
                    $(':checkbox').each(function() {
                        this.checked = false;
                    });
                }
            });
        });
    </script>
{% endblock %}
<div id="content" class="{% block coltype %}colM{% endblock %}">

    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    {% block content %}
        {% block object-tools %}{% endblock %}
        <form action="/admin/send/email" method="POST" id="form_mes">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <div class="submit-row">
                <input type="submit" value="Отправить сообщения" class="default"/>
                <input id='test_button' type='submit' value='Тестовое сообщение' class='continue'/>
            </div>
        </form>

    {% endblock %}
    {% block sidebar %}{% endblock %}
    <br class="clear" />
</div>
