{% load i18n %}
{% load static %}
{% if not add %}
    <div class="plugin-list-holder" id="placeholder-{{ placeholder.pk }}">
        <ul class="plugin-list" id="plugin-list-{{ placeholder.pk }}">
            {% include "admin/cms/page/widgets/plugin_item.html" %} </ul>
        {% include "admin/cms/page/widgets/installed_plugins_inc.html" %}
    </div> {% endif %} <div class="plugin-editor">
    {% if add %}
        <p>{% blocktrans %}You must save the page first to add plugins.{% endblocktrans %}</p>
    {% else %} {% if plugin_list %} <p>
        {% blocktrans %}No Plugin selected. Selected one on the left side{% endblocktrans %}</p>
    {% else %} <p>{% blocktrans %}
            No Plugins present. Add a plugin to this placeholder-slot.
        {% endblocktrans %}</p> {% endif %} {% endif %} </div>
<script type="text/javascript" src="{% static "new_js/jquery-1.11.1.min.js" %}"></script>
<script type="text/javascript">

    jQuery(document).ready(function(){
        var placeholder_element = jQuery('#placeholder-{{ placeholder.pk }}');
        placeholder_element.data('id', {{ placeholder.pk }});
        placeholder_element.data('name', '{{ placeholder.slot }}'); });
</script>