<div class="complete-order dialog-w step-4" style="display: none">
    <div class="container bor-r-h">
        <img src="{{ STATIC_URL }}order/img/ok.png" alt="ок"/>
        <h1>Ваш заказ успешно оформлен!</h1>
    </div>
</div>