<select name="country" id="id_country">
    <option value="" selected="selected">Выберите страну</option>
    <option value="1">Россия</option>
    <option value="2">Украина</option>
    <option value="3">Беларусь</option>
    <option value="4">Казахстан</option>
</select>
