Уважаемые представители курьерских и транспортных компаний, мы рады сообщить вам о том, что теперь наш сайт DostMarket.ru обновился.
Теперь одним из ключевых моментов на нашем сайте является возможность предлагать цены за доставку и перевозку грузов от первого лица.
<br/>
<br/>
Подробности на сайте <a href="http://dostmarket.ru/">www.dostmarket.ru</a>
