Уважаемый(ая) {{ order.user.first_name }}, вы выбрали исполнителем на ваш заказ {{ order.get_win_bet.user.company.name }} по цене {{ order.get_win_bet.price }} {{ order.get_win_bet.get_currency_display }}.
<br/><br/>
Согласно условиям пользования нашего сайта, администрация сайта передаст ваши контактные данные исполнителю. Если исполнитель не свяжется с вами в течение 2-х часов, ваш заказ <a href="http://{{ host }}{% url order:order_detail pk=order.pk %}">№{{ order.id  }} - {{ order.get_name_list }}</a>, будет снова активен для перевозчиков.
<br/><br/>
Обращаем ваше внимание, что цена, на которую вы согласились, не подлежит изменению в большую сторону. Если исполнитель в одностороннем порядке изменит цену, то вы вправе отказаться от исполнения заказа.
<br/><br/>
В таком случае мы просим вас обязательно сообщить нам о подобном изменении цены и мы предпримем меры для исключения подобных случаев в будущем.
<br/><br/>
Надеемся, что вы будете довольны исполнителем!
<br>
<br>
<b>С уважением, <br/>DostMarket.ru</b>
