<div>
    Уважаемый(ая) {% firstof user.first_name user.username %}, Вам ответили на ваш комментарий к заказу '{{ order.name }}'.
    <br/><br/>
    Подробности: <a href="http://{{ host }}{% url order:order_detail pk=order.pk %}">№{{ order.id  }} - {{ order.name }}</a>
    <br/><br/>
    <b>С уважением, <br/>DostMarket.ru</b>
</div>