Уважаемый(ая) {{ order.get_win_bet.user.company.name }}, сообщаем вам, что вас выбрали в качестве исполнителя по заказу номер {{ order.id }}.
Подробнее о заказе<a href="http://{{ host }}{% url order:order_detail pk=order.pk %}"> №{{ order.id  }} - {{ order.get_name_list }}</a>.
<br/><br/>
Предложенная вами цена – {{ order.get_win_bet.price }} {{ order.get_win_bet.get_currency_display }}.
<br/>
<br/>
Контактные данные заказчика:
<table>
    <tr>
        <td>Имя:</td>
        <td>{{ order.user.first_name }}</td>
    </tr>
    {% if order.user.get_phone %}
        <tr>
            <td>Телефон:</td>
            <td>{{ order.user.get_phone }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Email:</td>
        <td>{{ order.user.email }}</td>
    </tr>
</table>
<br/>
Обращаем ваше внимание на то, что изменение цены на исполнение заказа в большую сторону недопустимо.
В случае обращения заказчика с информацией об изменении цены в одностороннем порядке, администрация сайта вынуждена будет предпринять меры для исключения вас из реестра исполнителей.
<br>
<br>
Чтобы подтвердить, что вы берете заказ в исполнение, нажмите кнопку ПРИНЯТЬ в вашем личном кабинете.
<br/>
<br/>
Надеемся на то, что вы будете довольны заказом!
<br>
<br>
<b>С уважением, <br/>DostMarket.ru</b>