<div>
    Уважаемый(ая) {% firstof order.user.first_name order.user.username %}, новый комментарий к вашему заказу номер {{ order.id }}.
    <br/><br/>
    Подробности: <a href="http://{{ host }}{% url order:order_detail pk=order.pk %}">№{{ order.id  }} - {{ order.name }}</a>
    <br/><br/>
    <b>С уважением, <br/>DostMarket.ru</b>
</div>