<div>
    На ваш заказ был автоматично выбран исполнитель. Подробности можно посмотреть на странице заказа по ссылке
    <a href="http://{{ host }}/order/detail/{{ order.id }}">http://{{ host }}/order/detail/{{ order.id }}</a>
    <br/><br/><br/>
    <b>С уважением, <br/>DostMarket.ru</b>
</div>