К нашему сожалению исполнитель, которого вы выбрали, отклонил ваш заказ по неизвестным нам причинам.
<br/><br/>
Вы можете выбрать другого исполнителя на странице заказа <a href="http://{{ host }}/order/detail/{{ order.id }}">№{{ order.id  }} - {{ order.get_name_list }}</a>
<br/>
<br/>
<b>С уважением, <br/>DostMarket.ru</b>
