Уважаемые пользователи сайта DostMarket.ru, мы рады сообщить вам, что обновили функционал сайта. Теперь вы можете оформлять заявки на доставку или перевозку грузов на сайте и получать наиболее выгодные предложения от курьерских служб и транспортных компаний.

<br/>
<br/>
Подробности на сайте <a href="http://dostmarket.ru/">www.dostmarket.ru</a>