К сожалению ваша ставка к заказу №{{ order.id  }} отклонена заказчиком.
<br/>
<br/>
Вы можете обновить ставку или обсудить детали заказа в комментариях <a href="http://{{ host }}/order/detail/{{ order.id }}">№{{ order.id  }} - {{ order.get_name_list }}</a>.
<br/><br/><br/>
<b>С уважением, <br/>DostMarket.ru</b>

