{% load i18n %}
<div><b>На сайте DostMarket.ru опубликован новый заказ на доставку, который может подойти вашей компании по критериям.</b></div>
<br/>
Подробности заказа <a href="http://{{ host }}{% url order:order_detail pk=order.pk %}">№{{ order.id  }} - {{ order.name }}</a>
<br/>
<br/>
<div>
    <b>Подробности заказа:</b> <br/><br/>
    <table>
        <tr>
            <td>Категория:</td>
            <td>{{ order.category.name }}</td>
        </tr>
        <tr>
            <td>Актуально до:</td>
            <td>{{ order.topicality|date:"d.m.y" }}</td>
        </tr>
        {% if order.get_related_name %}
            {% for type in order.get_related_name %}
                {% if order.category.carriage_passengers %}
                    <tr>
                        <td>Количество:</td>
                        <td>{{ type.count }} человек</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ type.name }}</td>
                        <td>{{ type.count }} шт.</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        <tr>
            <td>Откуда страна:</td>
            <td>{{ order.start_address.country }}</td>
        </tr>
        <tr>
            <td>Откуда город:</td>
            <td>{{ order.start_address.city }}</td>
        </tr>
        <tr>
            <td>Откуда адрес:</td>
            <td>{{ order.start_address.address|default:"-" }}</td>
        </tr>
        <tr>
            <td>Куда страна:</td>
            <td>{{ order.end_address.country }}</td>
        </tr>
        <tr>
            <td>Куда город:</td>
            <td>{{ order.end_address.city }}</td>
        </tr>
        <tr>
            <td>Куда адрес:</td>
            <td>{{ order.end_address.address|default:"-" }}</td>
        </tr>
        {% if order.count %}
            <tr>
                <td>Количество:</td>
                <td>{{ order.cargo_weight }} кг.</td>
            </tr>
        {% endif %}
        {% if order.cargo_weight %}
            <tr>
                <td>Вес груза:</td>
                <td>{{ order.cargo_weight }} кг.</td>
            </tr>
        {% endif %}
        {% if order.cargo_volume %}
            <tr>
                <td>Обьем груза:</td>
                <td>{{ order.cargo_volume }} М<sup>3</sup>.</td>
            </tr>
        {% endif %}


        {% if order.modalities %}
            <tr>
                <td>Способы перевозок:</td>
                <td>{{ order.get_modalities_display }}</td>
            </tr>
        {% endif %}
        {% if order.price_max %}
            <tr>
                <td>Максимальная цена:</td>
                <td>{{ order.price_max|floatformat:"-2" }} {{ order.get_currency_display }}</td>
            </tr>
        {% endif %}
        {% if order.body %}
            <tr>
                <td>Дополнительная информация:</td>
                <td>{{ order.body }}</td>
            </tr>
        {% endif %}
    </table>
</div>
<br>
Чтобы сделать предложение заказчику по цене, авторизуйтесь на сайте и предложите свою цену на доставку.
<br/>
<br/>
P.S. Вы можете изменить или удалить уведомления о новых заказах в своем личном кабинете. Чтобы отписаться от рассылки, перейдите по <a href="http://{{ host }}{% url order:unsubscribe uuid=company.uuid %}">ссылке</a>.
<br>
<br>
<b>С уважением, <br/>DostMarket.ru</b>
