Поступило предложение на Ваш заказ, подробности по ссылке
<a href="http://{{ host }}/order/detail/{{ order.id }}">http://{{ host }}/order/detail/{{ order.id }}</a>
<br/><br/>
Для принятия предложения, не забудьте авторизоваться.
<br/>
<br/>
<b>С уважением, <br/>DostMarket.ru</b>