{% load widget_tweaks %}

<div class="order-search dots">
    <div class="tabs-block clearfix">
        <div id="tabs1" class="green-block {% if not request.GET %} visible {% endif %}">
            <div class="container-sm">
                <p>Введите номер Вашего заказа:</p>
                <input type="text" name="" class="" id="specify_order">
                <a href="#" class="btn" title="" id="search_order">Найти</a>
            </div>
        </div>
        <div id="tabs2" class="red-block {% if request.GET %} visible {% endif %} ">
            <div class="container-sm">
                <form action="{% url order:order_list %}" method="GET" id='order-filters-form'>
                    <div class="search-from">
                        <label>Откуда</label>
                        <p>
                            {{ form.country_from }}
                        </p>
                        <p>
                            {{ form.region_from }}
                        </p>
                    </div>
                    <div class="search-to">
                        <label>Куда</label>
                        <p>{{ form.country_to }}</p>
                        <p>
                            {{ form.region_to }}
                        </p>
                    </div>
                    <div class="search-date">
                        <label>Дата перевозки</label>
                        <span>c</span>
                        {% render_field form.date_from class='datepicker2' %}
                        <span>по</span>
                        {% render_field form.date_to class='datepicker2' %}
                    </div>
                    <div class="search-wieght">
                        <label>Вес</label>
                        <span>от</span>
                        {% render_field form.weight_from placeholder='кг' %}
                        <span>до</span>
                        {% render_field form.weight_to placeholder='кг' %}
                    </div>
                    <div class="search-category">
                        <label>Категория</label>
                        <p>
                            {{ form.category }}
                        </p>
                    </div>
                    <a href="#tt" class="btn-sm-red" id='filter_form_submit' title="">Найти</a>
                </form>
            </div>
        </div>
    </div>
    <div class="wave-b"></div>
</div>
<script>
    $(function(){
        $(".datepicker2" ).datepicker({
            numberOfMonths: 1,
            buttonImageOnly: true,
            dateFormat: 'dd.mm.yy',
        });
        $('#reset-filters').click(function() {
            var form = $('#order-filters-form');
            form.find('input').val('');
            form.find('select').attr('selectedIndex',0);
            form.find('input:checkbox').removeAttr('checked');
            return false;
        });
        $('#filter_form_submit').click(function (e) {
            e.preventDefault();
            var $form = $(this).closest("form");
            $(':input', $form).filter(function() {
                return this.value.length == 0;
            }).prop('disabled', true);
            $form.submit()
        })
    });
</script>

{#<div class="f-r">#}
{#    <div class="block">#}
{#        <div class="name other">Поиск заказов</div>#}
{#        <div class="sub">#}
{#            <input type="text" id="id_find_detail_order" placeholder="Номер заказа">#}
{#            <button onclick="if($('#id_find_detail_order').val()) order.find_order_by_id(event);"> <i class="fa fa-search"></i></button>#}
{#            <script>#}
{#                $(function(){#}
{#                    $("#id_find_detail_order").keyup(function(e) {#}
{#                        if (e.keyCode == 13 && $('#id_find_detail_order').val() ) {#}
{#                            order.find_order_by_id(event);#}
{#                        }#}
{#                    });#}
{##}
{#                });#}
{#            </script>#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="reset-f text-center">#}
{#        <a href="#" id="reset-filters"><i class="fa fa-retweet"></i>Сбросить все фильтры</a>#}
{#    </div>#}
{#    <form action="{% url order:order_list %}" method="GET" id='order-filters-form'>#}
{#        {% csrf_token %}#}
{#        <div class="filters">#}
{#            <h2 class="toggle">Откуда<i class="fa fa-chevron-down"></i></h2>#}
{#            <div>#}
{#                {{ form.country_from }}#}
{#                {{ form.region_from }}#}
{#            </div>#}
{#            <h2 class="toggle">Куда<i class="fa fa-chevron-down"></i></h2>#}
{#            <div>#}
{#                {{ form.country_to }}#}
{#                {{ form.region_to }}#}
{#                {{ form.back }}#}
{#                <label>{{ form.back.label }}</label>#}
{#                <div class="space"></div>#}
{#            </div>#}
{#            <div class="unit">#}
{#                <h2 class="toggle">Дата перевозки<i class="fa fa-chevron-down"></i></h2>#}
{#                <div>#}
{#                    <label>{{ form.date_from.label }}</label>#}
{#                    {% render_field form.date_from class='datepicker'%}#}
{#                    <label>{{ form.date_to.label }}</label>#}
{#                    {% render_field form.date_to class='datepicker' %}#}
{#                </div>#}
{#                <h2 class="toggle">Вес<i class="fa fa-chevron-down"></i></h2>#}
{#                <div>#}
{#                    <label>{{ form.weight_from.label }}</label>#}
{#                    {% render_field form.weight_from placeholder='кг' %}#}
{#                    <label>{{ form.weight_to.label }}</label>#}
{#                    {% render_field form.weight_to placeholder='кг' %}#}
{#                </div>#}
{#            </div>#}
{#            <h2 class="toggle">Категория<i class="fa fa-chevron-down"></i></h2>#}
{#            <div>#}
{#                {{ form.category }}#}
{#            </div>#}
{#            <button type="submit" value="Найти"> <i class="fa fa-search"></i> Найти</button>#}
{#        </div>#}
{#    </form>#}
{#    <script src="{{ STATIC_URL }}order/js/autocomplite_city.js"></script>#}
{#    <script>#}
{#        $(function(){#}
{#            selectedEl = $('select').find('option:selected');#}
{#            if(selectedEl.val()==""){#}
{#                $('select').css('color','#999');#}
{#                $('select').children().css('color','black');#}
{#            }#}
{##}
{#            $('select').change(function (){#}
{#                if($(this).find('option:selected').val() == ""){#}
{#                    $(this).css('color','#999');#}
{#                    $(this).children().css('color','black');#}
{#                }#}
{#                else {#}
{#                    $(this).css('color','black');#}
{#                    $(this).children().css('color','black');#}
{#                }#}
{#            });#}
{##}
{##}
{#            var dateToday = new Date();#}
{#            $( ".datepicker" ).datepicker({#}
{#                numberOfMonths: 1,#}
{#                buttonImageOnly: true,#}
{#                dateFormat: 'dd.mm.yy',#}
{#                minDate: dateToday#}
{#            });#}
{#            $('#order-filters-form').live("submit", function() {#}
{#                var form = $(this);#}
{#                var url = form.attr('action') + ' .orders_delivery .table-wrap';#}
{#                var data = form.serialize();#}
{#                $('.orders_delivery').load(url, data);#}
{#                $('body,html').animate({#}
{#                    scrollTop: 100#}
{#                }, 800);#}
{#                return false;#}
{#            });#}
{##}
{#            $('.pagination a').live("click", function(e) {#}
{#                e.preventDefault();#}
{#                var url = $(this).attr('href') + ' .orders_delivery .table-wrap';#}
{#                $('.orders_delivery').load(url);#}
{#                $('body,html').animate({#}
{#                    scrollTop: 100#}
{#                }, 800);#}
{##}
{#                return false;#}
{#            });#}
{##}
{#            $('#reset-filters').click(function() {#}
{#                var form = $('#order-filters-form');#}
{#                form.find('input').val('');#}
{#                form.find('select').attr('selectedIndex',0);#}
{#                form.find('input:checkbox').removeAttr('checked');#}
{#                return false;#}
{#            });#}
{##}
{#            $('.toggle').click(function() {#}
{#                $(this).next().slideToggle(function(){#}
{#                    var icon = $(this).prev().find('i');#}
{#                    if($(this).is(':hidden')){#}
{#                        icon.addClass('fa-chevron-down');#}
{#                        icon.removeClass('fa-chevron-up');#}
{#                    }#}
{#                    else{#}
{#                        icon.removeClass('fa-chevron-down');#}
{#                        icon.addClass('fa-chevron-up');#}
{##}
{#                    }#}
{#                });#}
{#            });#}
{#        })#}
{#    </script>#}
{#</div>#}