<form method="post" id='order_login' action="{% url order:login %}">{% csrf_token %}
    Введите логин или e-mail
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <span class="errors" style="display: none;">"Пожалуйста, введите верные имя пользователя и пароль."</span>
    <a href="{% url auth_password_reset %}">Забыли пароль?</a>
    <input type="submit" class="btn" value="Войти"/>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
