{% load order_tags %}
<div class="or-err login" style="display: none;">
    <div class="container modal">
        <div class="close" onclick="$('.or-err.login').dialog('close');"></div>
        {% login_form %}
        <div class="clr"></div>
    </div>
</div>
<div class="or-err err" style="display: none;">
    <div class="container modal text">
        <div class="close" onclick="$('.or-err.err').dialog('close');"></div>
        <h1>Исправьте ошибки:</h1>
        <div class="text-errors"></div>
        <div class="clr"></div>
    </div>
</div>
<script>
    $('#order_login').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        $.post(form.attr('action'), form.serialize(), function(data) {
            if (data.valid) {
                $('#sub-form').click();
                $('.or-err.login').dialog('close');
            }
            else {
                form.find('input[type="password"]').val('');
                form.find('input').addClass('not-valid');
                form.find('.errors').show();
            }
        });
        return false;
    });
</script>