{% load widget_tweaks %}
{% load company %}

<div id="make_rate" class="modal">
    <div class="rate-form">
        <p>Размещение ставки</p>
        <form action='{% url order:order_bet_add order.pk %}' method="post">
            {% csrf_token %}
            <div class="row">
                <em class="{{ form.price|error }}"></em>
                {% render_field form.price placeholder='Ваша ставка' class="your-rate" required='true'%}
                <div class="styled-select currency-select select-grad">
                    <label>
                        {% render_field form.currency %}
                    </label>
                </div>
                {% if order.price_max %}
                    {% render_field form.is_price_order class="styled rate-check" %}
                    <span class="good">Соответствует данным заказа</span>
                    <div class="error">
                        {{ form.price.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="styled-select select-grad service-select">
                    <label>
                        {% render_field form.service data-placeholder='Укажите услугу' %}
                    </label>
                </div>
                    <em class="{{ form.date|error }}"></em>
                    {% render_field form.date class="date-carriage datepicker" placeholder="Дата перевозки" required='true' %}
                    <em class="{{ form.time|error }}"></em>
                    {% render_field form.time class="your-time" placeholder="Время" %}
                    <div class="error">
                        {{ form.date.errors.as_text }}

                        {{ form.time.errors.as_text }}
                    </div>
                <a href="#" class="green-btn send-rate" id="submit_bet">Разместить ставку</a>
            </div>
        </form>
    </div>
</div>