<form action="/" class="order-from">
    {% include 'order/inclusion/order_form_step_1.html' %}
    {% if order.modalities %}
        {% include 'order/inclusion/order_form_step_2_auto.html' %}
    {% else %}
        {% include 'order/inclusion/order_form_step_2.html' %}
    {% endif %}
    {% include 'order/inclusion/order_form_step_3.html' %}
    <map id="step-map" name="step-map">
        <area shape="rect" alt="" title="" coords="1,20,21,36" href='javascript:void(0)' onclick='order.trigger_dialog(1)' target="" />
        <area shape="rect" alt="" title="" coords="22,20,49,36" href='javascript:void(0)' onclick='order.trigger_dialog(2)' target="" />
        <area shape="rect" alt="" title="" coords="51,20,72,35" href='javascript:void(0)' onclick='order.trigger_dialog(3)' target="" />
    </map>
    {% include 'order/inclusion/complete_order.html' %}
</form>