{% load thumbnail %}
{% load static %}
<h1>Ставки</h1>
<table class="rates_table" width="100%">
    <tr class="status bold">
        <td colspan="2" class="h-hperformer">Исполнитель</td>
        <td class="h-bets">Ставки</td>
        <td class="h-services">Услуги</td>
        <td>Дата доставки</td>
        <td class="text-center"></td>
        <td class="text-right">Дата ставки </td>

    </tr>
    {% for bet in bets %}
        <tr class="bet-inf">
            <td class="img">
                {% thumbnail bet.user.company.logo "40x40" as img %}
                    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ company.title }}">
                {% empty %}
                    <img src="{% static 'order/img/curier1.png' %}" width="40" alt="logo компании">
                {% endthumbnail %}
            </td>
            <td class="status">
                <a href="{{ bet.user.company.get_absolute_url }}" class="agreen bold green">{% firstof bet.user.first_name bet.user.company.name %}</a>
                <p>Рейтинг <span class="bold">{{ bet.user.company.total_scope|stringformat:"f" }}</span></p>
                <a href="{{ bet.user.company.get_absolute_url }}" class="dott status">Отзывы <i class="fa fa-comment">&nbsp;{{ bet.user.company.comments }}</i></a>
            </td>
            <td class="bold">{{ bet.price|floatformat:"-2" }} {{ bet.get_currency_display }}</td>
            <td>{% firstof bet.service.name 'Перевозка/доставка' %}</td>
            <td>{{ bet.date|date:"d.m.y"|default:'не указана' }}</td>
            <td class="rates_buttons">

                {% if bet.status == 1 %}
                    <div class="selected_perfomer"><div class="ok sp-it"></div>Выбраный исполнитель</div>
                {% else %}
                    {% if order.user == user and bet.is_change_status %}
                        {#  Если владелец заказа #}
                        <input type="button" value="Принять" data-user='{{ bet.user.first_name }}' data-url="{% url order:order_bet_set_status bet.id 1 %}" onclick='order.open_static_dialog(".confirm-bet", this);' class="pointer grn bold"/>
                        <div class='pointer bet-x' data-url="{% url order:order_bet_set_status bet.id 2 %}" onclick='order.open_static_dialog(".remove-bet", this);'>
                            <i class="fa fa-times fa-2x"></i>
                        </div><div class="clr"></div>
                    {% elif bet.user == user and order.is_actual and bet.is_change_status %}
                        {# если владелец ставки #}
                        <input type="button" value="Отменить" data-url="{% url order:order_bet_set_status bet.id 2 %}" onclick='order.open_static_dialog(".remove-bet", this);' class="pointer grn bold"/>
                    {% endif %}
                    {% if bet.is_change_status  %}
                        <div class="clr"></div>
                        <i>{{ bet.get_status_display }}</i>
                    {% else %}
                        <span>{% if bet.status == 2 %}{% comment %}{{ bet.get_status_display }}{% endcomment %}{{ bet.get_reject_kind_display }}{% else %}Не актуальна{% endif %}</span>
                    {% endif %}
                {% endif %}
            </td>
            <td class="order_created"><p>{{ bet.created|date:"d.m.y" }}</p> <p class="created_time">{{ bet.created|date:"H:i" }}</p></td>
        </tr>
    {% endfor %}
</table>