{% load static %}
{% load order_tags %}
{% load i18n %}

<div class="my-notice company-info">
    <div class="container-sm">
        <p>Мои уведомления:</p>
        <div class="add-notice-form" id='wrap-form'>
            {#            {% include 'order/inclusion/route_change_form.html' %}#}
        </div>
        <table class="blue-table" id="routes">
            <tbody>
            {% if routes %}
                {% for route in routes %}
                    <tr>
                        <td>Маршрут {{ forloop.counter }}</td>
                        <td colspan="2">
                            <span class="address">{{ route.country }}{{ route.region|add_comma }}{% if route.kind == 2 %} --> {{ route.country_to }}, {{ route.region_to|add_comma }}{% endif %}</span>
                            <span class="notice-info">
                                {% if route.weight_from %}{% trans "от" %} {{ route.weight_from }} {% trans "кг." %}{% endif %}
                                {% if route.weight_to %}{% trans "до" %} {{ route.weight_to }} {% trans "кг." %}{% endif %}
                                {% if route.empty_weight %}{% trans "включая заказы, в которых не указан вес" %}{% endif %}</span>
                            {% if route.only_category %}
                                <p>Тип перевозок:</p>
                                {% for category in route.categories.all %}
                                    <div class="group">
                                        <span class="icon">
                                            <img title="{{ category.name }}" src="{% if category.icon %}{{ category.icon.url }}{% endif %}"/>
                                        </span>
                                        <label>{{ category.name }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <a href="#" onclick="change_route_container(event, '#wrap-form', '{% url order:edit_route route.pk %}' );"
                               title="" class="notice-change">Изменить</a>
                            <a href="#" onclick="change_route_container(event, '#user_routes', '{% url order:delete_route route.pk %}', false);"
                               title="" class="notice-delete">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {#                <h2>Пусто</h2>#}
            {% endif %}
            </tbody>
        </table>
        <a href="#" onclick="change_route_container(event, '#wrap-form', '{% url order:add_route %}' );" title="" class="add-notice">Добавить уведомление</a>
    </div>

</div>