{% load widget_tweaks %}

<form action="{{ route_form_url }}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ route_form.kind.0 }} <label>{{ route_form.kind.0.label }}</label>
        {{ route_form.kind.1 }} <label>{{ route_form.kind.1.label }}</label>
    </fieldset>
    <fieldset>
        <div class="styled-select select-grad service-select">{% render_field route_form.country  placeholder="Страна (откуда)" data-placeholder="Страна (откуда)"%}</div>
        <div class="styled-select select-grad service-select">{% render_field route_form.region placeholder="Регион (откуда)" data-placeholder="Регион (откуда)"%}</div>
        <div class='only_region_t inline'>
            {% render_field route_form.only_region class="styled" %} <label>Только заказы внутри региона</label>
        </div>
            <div class="error">{{ route_form.country.errors }} {{ route_form.region.errors }}</div>

        <div id="routes_t" style="display: none;">
            <div class="styled-select select-grad service-select">{% render_field route_form.country_to  placeholder="Страна (куда)" data-placeholder="Страна (куда)" %}</div>
            <div class="styled-select select-grad service-select">{% render_field route_form.region_to  placeholder="Регион (куда)" data-placeholder="Регион (куда)"%}</div>
            {% render_field route_form.is_return class="styled" %} <label> &nbsp;&nbsp;{{ route_form.is_return.label }}</label>
            <div class="error">{{ route_form.country_to.errors }} {{ route_form.region_to.errors }}</div>
        </div>
        <script>
            $(function () {
                {% if route_form.kind.1.value == '2' %}
                    $('#routes_t, .only_region_t').toggle();
                {% endif %}
                $('[name="kind"]').click(function () {
                    $('#routes_t, .only_region_t').toggle();
                });
            })
        </script>
    </fieldset>
{#    <fieldset class="hide">#}
{#        {% render_field route_form.country_from  placeholder="Страна (откуда)" %}#}
{#        {% render_field route_form.region_from  placeholder="Регион (откуда)" %}#}
{#        <div class="error">{{ route_form.country_from.errors }} {{ route_form.region_from.errors }}</div>#}
{#    </fieldset>#}
{#    <fieldset class="hide">#}
{#        {% render_field route_form.country_to  placeholder="Страна (куда)" %}#}
{#        {% render_field route_form.region_to  placeholder="Регион (куда)" %}#}
{#        <div class="error">{{ route_form.country_to.errors }} {{ route_form.region_to.errors }}</div>#}
{#    </fieldset>#}
    <fieldset>
        <div class="form_group_weight">
            {% render_field route_form.weight_from placeholder="Вес от" class="notice-weight" %}
            <span>кг</span>
            {% render_field route_form.weight_to placeholder="Вес до" class="notice-weight" %}
            <span>кг</span>
            {% render_field route_form.empty_weight class="styled" %}
            <label>Уведомлять если вес не указан</label>
            <div class="error">{{ route_form.weight_from.errors }} {{ route_form.weight_to.errors }} {{ route_form.empty_weight.errors }} </div>
        </div>
    </fieldset>
    <fieldset>
        {% render_field route_form.only_category class="styled" %}
        <label>Получать уведомления о заказах только следующих категорий</label>
        <div class="errors">{{ route_form.only_category.errors }}</div>
    </fieldset>
    <div class="my-category">
        {% for pk, image, name in route_form.categories.field.choices %}
            <div class="group">
                <input class="styled" type="checkbox" id="id_categories_{{ forloop.counter0 }}" value="{{ pk }}" name="categories" {% if pk in route_form.categories.field.initial %}checked{% endif %}>
                <span class="icon"><img title="{{ name }}" src="{% if image %}{{ image.url }}{% endif %}" /></span>
                <label>{{ name }}</label>
            </div>
        {% endfor %}
    </div>
    <a class="green-btn save" href="#" id="submit_route_form">Сохранить</a>
    <a class="red-btn cancel" href="#">Отменить</a>
</form>