{% load humanize %}
{% load order_tags %}
{% load static %}
{% if orders %}
    <div class="container-sm">
        <table class="order-table">
            <thead>
            <tr class="sadf">
                <th>№</th>
                <th>Название</th>
                <th>Откуда</th>
                <th>Расстояние</th>
                <th>Куда</th>
                <th>Цена</th>
                <th>Актуально до:</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <p class="num-block">{{ order.pk }}</p>
                        <img src="{{ order.category.icon.url }}" alt="">
                        <p>{{ order.created|naturalday:"d.m.y" }} </p>
                        <p>{{ order.created|date:"H:i" }}</p>
                    </td>
                    <td>{{ order.get_name }}</td>
                    <td>{{ order.start_address.country }} {{ order.start_address.city }}</td>
                    <td>{{ order.distance|stringformat:"0.1f" }} км</td>
                    <td>{{ order.end_address.country }} {{ order.end_address.city }}</td>
                    <td>{{ order.price_max|floatformat:"-2" }} {{ order.get_currency_display }}</td>
                    <td>{{ order.topicality|date:"d.m.y" }}
                        {% if order.loaders and order.loaders.id != 1 %}
                            <div class="table-basket" h-title="Нужна помощь грузчика"></div>
                        {% endif %}
                        {% if order.get_bets_count %}
                            <div class="table-cloud" h-title="Количество ставок">
                                <span>{{ order.get_bets_count }}</span>
                            </div>
                        {% endif %}
                        {% if order.is_fire %}
                            <div class="table-clock" h-title="Срочная доставка"></div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="not-found-order">
        <p>К сожалению, согласно вашим параметрам заказов нет.</p>
        <p>Попробуйте изменить параметры и снова найти подходящий заказ.</p>
    </div>
{% endif %}