<div class="top-type img">
    <div class="wrap-type-category" style="padding-top: 49px;">
        <img src="{{ order.icon_white.url }}" alt="{{ category.name }}"/>
    </div>
    <span {% if order.id == 7 %}style="font-size: 0.87em;"{% endif %}>{{ order.name }}</span>
    <a href="javascript:void(0)" data-url="{% url order:order_category_list %}" onclick="order.close_dialog(); order.open_dialog(this, {step: 0}); return false;">изменить</a>
</div>