<aside class="left">
    <div class="inner">
        {% if 'news' in request.get_full_path %}
            <header><span>статьи</span></header>
            <ul>
                {% for news in articles %}
                    <li><a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:45 }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url article_list %}" class="more">все статьи</a>
            <header><span>Новости</span></header>
            <ul>
                {% for news in news %}
                    <li><a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:45 }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url news_list %}" class="more">все новости</a>
        {% elif 'articles' in request.request.get_full_path %}
            <header><span>Новости</span></header>
            <ul>
                {% for news in news %}
                    <li><a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:45 }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url news_list %}" class="more">все новости</a>
            <header><span>статьи</span></header>
            <ul>
                {% for news in articles %}
                    <li><a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:45 }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url article_list %}" class="more">все статьи</a>
        {% else %}
            <header><span>Новости</span></header>
            <ul>
                {% for news in news %}
                    <li><a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:45 }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url news_list %}" class="more">все новости</a>
            <header><span>статьи</span></header>
            <ul>
                {% for news in articles %}
                    <li><a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:45 }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url article_list %}" class="more">все статьи</a>
        {% endif %}
    </div>
</aside>