{% extends "base.html" %}
{% load thumbnail %}
{% load encode_parameters %}
{% load static %}

{% block content %}
    <div class="header header-left-title">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>Статьи</h1>
        </div>
    </div>
    <div class="news_content clearfix">
        {% left_nav %}
        <div class="news_list">
            <div class="inner">
                {% for news in list %}
                    <div class="news_item">
                        <a href="{{ news.get_absolute_url }}" class="item_img">
                        {% if news.image %}
                            {% thumbnail news.image "240x160" crop="center" as img %}
                                <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ news.title }}"></a>
                            {% endthumbnail %}
                        {% endif %}
                        <div class="item_desc">
                            <div class="info">
                                <img src="{% static "new_img/calendar.png" %}" alt=""><span>{{ news.date|date:"d.m.y" }}</span>
                                {% if news.comments.count  %}<img src="{% static "new_img/comments.png" %}" alt=""><span>{{ news.comments.count }}</span>{% endif %}
                            </div>
                            <header><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></header>
                            <p>{{ news.teaser }}<a href="{{ news.get_absolute_url }}">подробнее</a></p>
                        </div>
                    </div>
                {% endfor %}
                {% if paginator.page_range|length > 1 %}
                <div class="new_pagination">
                    {% if page_obj.has_previous %}
                        <a href="?{{ request.GET|encode_parameters:page_obj.previous_page_number}}"><img src="{% static "new_img/left_icon.png" %}" alt=""></a>
                    {% endif %}
                    {% for num in paginator.page_range %}
                        <a href="?{{ request.GET|encode_parameters:num }}" {% if page_obj.number == num %}class="active"{% endif %}>{{ num }}</a>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?{{ request.GET|encode_parameters:page_obj.next_page_number }}"><img src="{% static "new_img/right_icon.png" %}" alt=""></a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

