{% extends "base.html" %}
{% load thumbnail %}


{% block title %}Добавить комментарий{% endblock %}
{% block og_title %}Добавить комментарий{% endblock %}

{% block content %}
    <span class="back">
        <a href="/">Вернуться назад</a>
    </span>

    <h1>Добавить комментарий</h1>



    <form action="." method="POST">
    {% csrf_token %}
    <div class="dobavka" style="margin-bottom: 20px;">

        <div class="pole">
            <label for="id_name">Введите имя</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="pole">
            <label for="id_email">Введите E-mail</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>


        <div class="pole txt">
            <label for="txt"> Текст комментария </label>


            <div class="clr"></div>
            {{ form.text }}
            {{ form.text.errors }}
        </div>

        <div class="niz">
            <div class="captcha">
                <em>Введите символы, изображенные на картинке:</em>
                {{ form.captcha }}
                {{ form.captcha.errors }}

            </div>

            <div class="hidden" style="display: none;">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>

            <div class="pole" style="display: none;">
                {{ form.news }}
                {{ form.news.errors }}
            </div>

            <button class="dobavit f-size">Добавить комментарий</button>
        </div>

        <div class="clr"></div>


    </div>
    </form>

    <script type="text/javascript">
        $(function(){
            CKEDITOR.instances.id_text.on('key', checkLength);
            CKEDITOR.instances.id_text.on('paste', checkLength);
        });
    </script>


{% endblock %}
