<div class="block">
    <div class="name other">
        Новости
    </div>
    <ul class="otzyv">
        {% for news in news_block %}
        <li>
            <span class="zagolovok">
                <a href="{{ news.get_absolute_url }}">{{ news.title|truncatewords:4 }}</a>
                <em>{{ news.date|date:"d M." }}</em>
            </span>
            <div class="clr"></div>
            <div class="tekst">
                {{ news.teaser|truncatewords:14 }}
            </div>
        </li>
        {% endfor %}
    </ul>
    <span class="polnyi"><a href="{% url news_list %}">все новости</a></span>
</div>