{% extends "base.html" %}
{% load thumbnail %}
{% load encode_parameters %}
{% load comments_tags %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{% if news.seo_title %}{{ news.seo_title }}{% else %}{{ news.title }}{% endif %}{% endblock %}
{% block og_title %}{% if news.seo_title %}{{ news.seo_title }}{% else %}{{ news.title }}{% endif %}{% endblock %}
{% block keywords %}{{ news.keywords }}{% endblock %}
{% block description %}{{ news.description }}{% endblock %}

{% block content %}
    <div class="header header-left-title">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1> &nbsp;{% comment %}{% if 'articles' in request.get_full_path %}Статьи{% else %}Новости{% endif %}{% endcomment %}</h1>
        </div>
    </div>

    <div class="news_content clearfix">
        {% left_nav %}
        <div class="news_detail">
            <div class="news_text article">
                {#                {% thumbnail news.image "170x140" crop="center" as img %}#}
                {#                    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.width }}" alt="{{ news.title }}">#}
                {#                {% endthumbnail %}#}
                <img src="{{ news.image.url }}"  alt="{{ news.title }}">
                <h1>{{ news.title }}</h1>
                {{ news.content|safe }}
            </div>

            <div class="news_comments">
                {% render_form_news news %}
                {% render_comments_list_news news %}
                {#                {% for respond in news.comments.all %}#}
                {#                    <div class="comment-info news-comm">#}
                {#                        <img src="{% static "new_img/no_avatar.png" %}">#}
                {#                        <div class="comment">#}
                {#                            <a href="" class="commenter">Александр Поспелов</a>#}
                {#                            <div class="comment-text">{{ respond.text|safe }}</div>#}
                {#                            <div class="com-inf">#}
                {#                                <span class="com-date">({{ respond.created|date:"d m y" }} г.)</span>#}
                {#                                <span class="devider-min">|</span>#}
                {#                                <a href="" class="reply">Ответить</a>#}
                {#                                <span class="devider-min">|</span>#}
                {#                                <a href="" class="like">ЛАЙК: 15 <i></i> </a>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endfor %}#}
            </div>
        </div>
    </div>
    {% if user.is_authenticated and user.is_carrier %}
        <script type="text/template" id="template_not_custumer" data-user="{{ user }}">
            <div class="alert-text fix-modal">
                Сейчас вы авторизованы в качестве курьерской или транспортной компании.
                <br/><br/>
                Для того, чтобы оформить заказ на доставку/перевозку вам необходимо
                <a href="{% url auth_logout %}" class="err-link">выйти</a> из личного кабинета и
                <a class="log" href="{% url django.contrib.auth.views.login %}">авторизоваться</a> или
                <a href="{% url registration_choice %}">зарегистрироваться </a> в качестве заказчика.
            </div>
        </script>
        <script>
            $(function () {
                $("a[href*='order/form/']").click(function (e) {
                    e.preventDefault();
                    $.fn.alert({
                        'text': $('#template_not_custumer').html()
                    });
                });
            })
        </script>
    {% endif %}

{% endblock %}
