{% extends "base.html" %}
{% load thumbnail %}
{% load encode_parameters %}
{% load static %}
{% load company %}
{% block content %}
    <div class="header header-left-title">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>{% if 'articles' in request.get_full_path %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Статьи{% else %}Новости рынка{% endif %}</h1>
        </div>
    </div>
    <div class="news_content clearfix">
    {% left_nav %}
        <div class="news_list">
            <div class="inner">
                {% for news in list %}
                    <div class="news_item">
                        <a href="{{ news.get_absolute_url }}" class="item_img">
                        {% if news.image %}
                            {% thumbnail news.image "240x160" crop="center" as img %}
                                <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ news.title }}"></a>
                            {% endthumbnail %}
                        {% endif %}
                        <div class="item_desc">
                            <div class="info">
                                <img src="{% static "new_img/calendar.png" %}" alt=""><span>{{ news.date|date:"d.m.y" }}</span>
                                <img src="{% static "new_img/comments.png" %}" alt=""><span>{{ news.comments_count }}</span>
                            </div>
                            <header><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></header>
                            <p>{{ news.teaser }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% paginator2 %}
            </div>
        </div>
    </div>

{% endblock %}

