{% extends "base.html" %}
{% load thumbnail %}


{% block title %}Добавить отзыв{% endblock %}
{% block og_title %}Добавить отзыв{% endblock %}

{% block content %}
    <span class="back">
        <a href="/">Вернуться назад</a>
    </span>

    <h1>Добавить отзыв</h1>



    <form action="." method="POST">

        {% csrf_token %}
        <div class="dobavka" style="margin-bottom: 20px;">

            <div class="pole">
                <label for="id_name">Введите имя</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>

            <div class="pole">
                <label for="id_email">Введите E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="pole">
                <label for="id_company">Компания</label>
                {{ form.company }}
                {{ form.company.errors }}
            </div>

            <div class="pole" style="display: none;">
                <label for="id_mark">Оценка</label>
                {{ form.mark }}
                {{ form.mark.errors }}
            </div>
            <div class="pole" style="display: none;">
                {{ form.parent }}
                {{ form.parent.errors }}
            </div>

            <div class="pole txt">
                <label for="txt"> Текст отзыва </label>

                <div class="bottom">
                    <a href="#" rel="positive" class="good">положительный</a> <a href="#" rel="negative" class="bad">отрицательный</a>
                    <a href="#" rel="neitral" class="all active">нейтральный</a>
                </div>
                <div class="clr"></div>

                <div class="pole" id="nomer" style="margin-top: 18px;">
                    <label for="id_order">Номер накладной</label>
                    {{ form.order }}
                    {{ form.order.errors }}
                </div>

                <p style="font-size:13px; font-style:italic; margin-top:13px;">
                    Внимание! В отзыве о курьерской службе или транспортной компании должна быть более конкретная
                    информация об услуге, которую оказала или не оказала та или иная компания. Будем вам благодарны если
                    вы напишите о том, откуда и куда была заказана доставка, как вы оцениваете сервис, который был при
                    оформлении заказа, рекомендуете или нет другим клиентам пользоваться данной компанией.
                </p>
                {{ form.text }}
                {{ form.text.errors }}
            </div>

            <div class="niz">
                <div class="captcha">
                    <em>Введите символы, изображенные на картинке:</em>
                    {{ form.captcha }}
                    {{ form.captcha.errors }}

                </div>

                <div class="hidden" style="display: none;">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </div>
                <button class="dobavit">Добавить отзыв</button>
            </div>

            <div class="clr"></div>


        </div>
    </form>

    <script type="text/javascript">
        $(function () {
            CKEDITOR.instances.id_text.on('key', checkLength);
            CKEDITOR.instances.id_text.on('paste', checkLength);
        });
    </script>


{% endblock %}
