{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change the user's avatar" %}{% endblock %}
{% block content %}
    <h1>Изменить Логотип</h1>
    <div id="create_company">
        <form method='post' enctype="multipart/form-data" action=''>
            <table>
                {% csrf_token %}
                {{ form.as_p }}
                <tr><td>
                </td><td><input type="submit" value="Сохранить" /></td></tr>
            </table>
        </form>
    </div>
{% endblock %}