<div id="chart" style="width: 950px; height: 400px;"></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="/media/static/js/js/highcharts.js"></script>
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                type: 'area',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: '{{ object.name }}',
                x: -20 //center
            },
            xAxis: {
                categories: [{% for d in months_name %}'{{ d }}'{% if not forloop.last %},{% endif %}{% endfor %}]
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'средняя оценка компании',
                data: [{% for d in data_votes %}{{ d|stringformat:"f" }}{% if not forloop.last %},{% endif %}{% endfor %}]
            }]
        });
    });
</script>
