{% load static %}
{% load company %}
{% load order_tags %}

<div class="container-sm">
    <p>Мои заказы:</p>
    <table class="bet-table cp-table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Дата перевозки</th>
            <th>{% type_user 'Ваши ставка' 'Ваши ставка' 'Ставки' %}</th>
            <th>Статус</th>
            <th>Создано</th>
        </tr>
        </thead>
        {% for obj in object_list %}
            {#  нужно добавить href="{% url order:order_detail obj.get_order_id %}" - для перехода на нужный заказ #}
            {% get_count_new_bets order=obj as get_count_new_bets %}
            {% if not user.is_carrier %}
                <tr class='obj {% if obj.get_status_active %}new_bet{% endif %}' data-url="{% url order:order_detail obj.id %}">
                    <td><div class="obj_id_wrap"><span class="obj_id">{{ obj.id }}</span> <span>{{ obj.name|truncatechars:40 }}</span></div></td>
                    <td>{{ obj.start_address.city }}</td>
                    <td>{{ obj.end_address.city }}</td>
                    <td>{{ obj.date|date:'d.m.Y'|default:'-' }}</td>
                    <td>
                        {{ obj.get_bets_count }}<span class="new">{{ get_count_new_bets }}</span>
                    </td>
                    <td class="confirm">
                        {% if obj.is_can_close %}
                            <div class="choice-y">
                                <a href="{% url order:order_close obj.pk 2 %}" class="accept-btn">
                                    <img src="{% static "new_img/accept_icon.png" %}" title="Нажмите, если заказ выполнен">
                                </a>
                            </div>
                            <div class="choice-n">
                                <a href="{% url order:order_close obj.pk 3 %}" class="reject" title="Нажмите, елси заказ не выполнен">
                                    <img src="{% static "new_img/reject_icon.png" %}">
                                </a>
                            </div>
                        {% endif %}
                        <span class="{{ obj.status|switch_class_color_order }}">{% firstof obj.get_reject_kind_display obj.get_status_display %}</span>
                    </td>
                    <td>{{ obj.created|date:'d.m.Y' }}</td>
                {% else %}
                    <tr class='obj' data-url="{% url order:order_detail obj.order.id %}">
                    <td><div class="obj_id_wrap"><span class="obj_id">{{ obj.order.id }}</span> <span>{{ obj.order.name|truncatechars:40 }}</span></div></td>
                    <td>{{ obj.order.start_address.city }}</td>
                    <td>{{ obj.order.end_address.city }}</td>
                    <td>{{ obj.date|date:'d.m.Y'|default:'-' }}</td>
                    <td>
                        {{ obj.price|floatformat:"-2" }} {{ obj.get_currency_display }}
                    </td>
                    <td class="confirm">
                        {% if obj.order.status == 5 and obj.status == 1 %}
                            <div class="choice-y">
                                <a href="{% url order:order_confirmation pk=obj.order.pk action='yes' %}" class="accept-btn">
                                    <img src="{% static "new_img/accept_icon.png" %}" title="Принять">
                                </a>
                            </div>
                            <div class="choice-n">
                                <a href="{% url order:order_confirmation pk=obj.order.pk action='cancel' %}" class="reject">
                                    <img src="{% static "new_img/reject_icon.png" %}" title="Отклонить">
                                </a>
                            </div>
                            <span class="{{ obj.status|switch_class_color_bet }}">Ожидает подтверждения</span>
                        {% else %}
                            <span class="{{ obj.status|switch_class_color_bet }}">{% firstof obj.get_reject_kind_display obj.get_status_display %}</span>
                        {% endif %}
                    </td>
                    <td>{{ obj.order.created|date:'d.m.Y' }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{#<div class="choice-y">#}
{#    <a href="#" class="accept-btn">#}
{#        <img src="{% static "new_img/accept_icon.png" %}">#}
{#    </a>#}
{#</div>#}
{#<div class="choice-n">#}
{#    <a href="#" class="reject">#}
{#        <img src="{% static "new_img/reject_icon.png" %}">#}
{#    </a>#}
{#</div>#}
{#<span class="waiting">{% firstof obj.get_reject_kind_display obj.get_status_display %}</span>#}
{#<td>#}
{#    <div class="choice-y">#}
{#        <a href="" class="accept-btn">#}
{#            <img src="img/accept_icon.png">#}
{#        </a>#}
{#    </div>#}
{#    <div class="choice-n">#}
{#        <a href="" class="reject">#}
{#            <img src="img/reject_icon.png">#}
{#        </a>#}
{#    </div>#}
{#    <span class="waiting">Ожидает подтверждения</span>#}
{#</td>#}
{##}
{#    <table class="bet-table cp-table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Название</th>#}
{#            <th>Откуда</th>#}
{#            <th>Куда</th>#}
{#            <th>Дата перевозки</th>#}
{#            <th>Ставки</th>#}
{#            <th>Статус</th>#}
{#            <th>Создано</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for obj in object_list %}#}
{#            <tr>#}
{#                <td><span class="order-number-cp">{{ obj.id }}</span>{{ obj.get_name }}</td>#}
{#                <td>{{ obj.order.start_address.city }}</td>#}
{#                <td>{{ obj.order.end_address.city }}</td>#}
{#                <td>{{ obj.order.created|date:'d.m.Y' }}</td>#}
{#                <td>6500р.</td>#}
{#                <td>#}
{#                    <div class="choice-y">#}
{#                        <a class="accept-btn" href="">#}
{#                            <img src="{% static "new_img/accept_icon.png" %}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="choice-n">#}
{#                        <a class="reject" href="">#}
{#                            <img src="{% static "new_img/reject_icon.png" %}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <span class="waiting">Ожидает подтверждения</span>#}
{#                </td>#}
{#                <td>{{ obj.order.created|date:'d.m.Y' }}<span class="time">14:59</span></td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        <tr>#}
{#            <td><span class="order-number-cp">32</span> Доставка щебня. 8 адресов. Ростов</td>#}
{#            <td>Ростов</td>#}
{#            <td>Челябинск</td>#}
{#            <td>13.01.2015</td>#}
{#            <td>108000р.</td>#}
{#            <td>#}
{#                <span class="fail">Отклонено</span>#}
{#                <a href="" title="" class="change">Изменить</a>#}
{#            </td>#}
{#            <td>25.11.2014<span class="time">11:23</span></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><span class="order-number-cp">2</span> Подарки на 14 февраля. 5 адресов. Киев</td>#}
{#            <td>Киев</td>#}
{#            <td>Москва</td>#}
{#            <td>12.02.2015</td>#}
{#            <td>2400р.</td>#}
{#            <td>#}
{#                <span class="success">Принято</span>#}
{#                <a href="" title="" class="change">Изменить</a>#}
{#            </td>#}
{#            <td>25.11.2014<span class="time">11:23</span></td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
