{% extends "base.html" %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company %}
{% load static %}
{% load encode_parameters %}
{% load mptt_tags %}
{% load order_tags %}

{% block title %}{% if company.title %}{{ company.title }}{% else %}{{ company.name }}{% endif %}{% endblock %}
{% block og_title %}{% if company.title %}{{ company.title }}{% else %}{{ company.name }}{% endif %}{% endblock %}
{% block keywords %}{{ company.seo_keywords }}{% endblock %}
{% block description %}{{ company.seo_description }}{% endblock %}

{% block content %}
    <div class="header header-cntr">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>{% if company.h1 %}{{ company.h1 }}{% else %}{{ company.name }}{% endif %}</h1>
            <span>{% if company.type == 'courier' %}курьерские службы{% else %}транспортные компании{% endif %}</span>
        </div>
    </div>
    <div class="company-rate clearfix">
        <div class="container-sm">
            <div class="company-logo">
                {% thumbnail company.logo '214x177' as img %}
                    <div class="prof-empty-image">
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ company.title }}" class="company_logo">
                    </div>
                {% empty %}
                    <div class="prof-empty-image">
                        {% if company.is_courier %}
                            <img src="{% static "new_img/courier_del.png" %}">
                        {% else %}
                            <img src="{% static "new_img/lorry.png" %}">
                        {% endif %}
                    </div>
                {% endthumbnail %}
            </div>
            <div class="general-rate">
                <div class="general-rate-text">Общий рейтинг: <em>{{ company.total_scope|floatformat:2 }}</em></div>
                <div class="company-stars-big" data-rating="{{ company.total_scope|stringformat:"f" }}"></div>
                <div class="rate-text">Качество сервиса</div>
                <div class="company-stars" data-get="1" data-rating="{{ company.total_quality_service }}"></div>
                <div class="rate-text">Соответствие срокам доставки</div>
                <div class="company-stars" data-get="2" data-rating="{{ company.total_conform_terms_delivery }}"></div>
                <div class="rate-text">Удобство расположения офисов</div>
                <div class="company-stars" data-get="3" data-rating="{{ company.total_convenience_location_offices }}"></div>
                <div class="rate-text">Вежливость курьеров</div>
                <div class="company-stars" data-get="4" data-rating="{{ company.total_neatness_politeness_courier }}"></div>
                <div class="rate-text">Соотношение "цена-качество"</div>
                <div class="company-stars" data-get="5" data-rating="{{ company.total_price_quality }}"></div>
                <div class="wrap-vote_success"><div class="vote_success"></div></div>
            </div>
            {% if is_can_respont %}
                <div class="respond-company-form">
                    <a class="green-btn save" href="#" id="respond_main_open" data-company='{{ company.id }}'>Оставить отзыв</a>
                    <a class="red-btn cancel" style='display: none;' href="#">Отменить</a>
                    <form method="POST" class='main_respond_form' action="{% url add_respond %}" id="respond_main_form">
                        {% csrf_token %}
                        {% if not request.user.is_active %}
                            {% render_field form.name placeholder="Имя Фамилия"%}
                            {{ form.name.errors }}
                            {% render_field form.email class="mail" placeholder="e-mail:" %}
                            {{ form.email.errors }}
                        {% endif %}
                        {% render_field form.text cols="40" placeholder="Текст комментария" rows="10" %}
                        {{ form.text.errors }}
                        <div class="hide">
                            {{ form.company }}
                            {{ form.mark }}
                            {{ form.parent }}
                            {{ form.parent.errors }}
                        </div>
                        <a class="blue-btn comment-btn" href="#" id="submit_respond">Добавить комментарий</a>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="company-info">
        <div class="container-sm">
            <table class="blue-table">
                <tbody>
{#                <tr>#}
{#                    <td>Телефоны компании</td>#}
{#                    <td colspan="2">#}
                        {#                        <span class="comp-phone">8-812-309-80-88</span>#}
{#                        <span class="comp-phone">{% firstof company.phone company.get_phone|default:"-" %}</span>#}
{#                    </td>#}
{#                </tr>#}
                {% if company.country %}
                    <tr>
                        <td>Место нахождения</td>
                        <td colspan="2">
                            {{ company.country }}{{ company.region|add_comma }}{{ company.city2|add_comma }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Страны обслуживания</td>
                    <td colspan="2">{{ company.country_services.all|join:", "|default:"-" }}</td>
                </tr>
                <tr>
                    <td>Сайт компании</td>
                    <td colspan="2">{{ company.site|default:'отсутствует' }}</td>
                </tr>
                <tr>

                    <td>Типы перевозок</td>
                    <td class="tp_pad">
                        {% for category in company.categories.all %}
                            <div class="group text-center">
                                <span class="icon icon_block"><img src="{{ category.icon.url }}" alt="{{ category.name }}"/></span>
                                <label>{{ category.name }}</label>
                            </div>

                        {% empty %}
                            Не указаны
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-info">
        <div class="container-sm color-text">
            <h2>{% if company.h2 %}{{ company.h2 }}{% else %}О компании {{ company.name }}{% endif %}</h2>
            {{ company.description|safe|linebreaksbr_custom  }}
        </div>
    </div>
    <div class="tabs-field">
        <div class="container-sm" id="respondes">
            <h2>Последние отзывы о {% if company.h1 %}{{ company.h1 }}{% else %}{{ company.name }}{% endif %}</h2>
            <div id="tabs" class="tabs clearfix">
                <ul>
                    <li>
                        <a class="blue" href="{{ company.get_absolute_url }}#respondes" title="">Все отзывы</a>
                    </li>
                    <li>
                        <a class="green" href="{% get_params mark='positive' %}#respondes" title="">Положительные</a>
                    </li>
                    <li>
                        <a class="grey" href="{% get_params mark='neitral' %}#respondes" title="">Нейтрайльные</a>
                    </li>
                    <li>
                        <a class="red" href="{% get_params mark='negative' %}#respondes" title="">Отрицательные</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="comments-field">
        <div class="tabs-block clearfix">
            <div id="tabs1" class="all visible">
                <div class="container-sm">
                    {% for respond in list %}
                        <div class="arrow_box">
                            <div class="ellipse-box">
                                <div class="ellipse {{ respond.mark|switch_class }}"></div>
                            </div>
                            <h5>Отзыв о перевозчике: <a href="{{ respond.company.get_absolute_url }}">«{% firstof company.h1 company.name respond.company.h1 respond.company.name %}»</a></h5>
                            <p>{{ respond.text|safe|striptags }}</p>
                            <div class="comm-info">
                                <span class="name">{{ respond.name }}</span>
                                <span class="date">{{ respond.created|date:"d M Y" }}</span>
                                {% if respond.order %}<span class="bill">Накладная № {{ respond.order }}</span>{% endif %}
                                {% if request.user.is_active %}
                                    <span class="answer"><a href="#" class='add_respond' data-company='{{ respond.company.id }}' rel="{{ respond.id }}" title="">Ответить</a></span>
                                {% endif %}
                            </div>
                        </div>
                        {% recursetree respond.get_descendants %}
                            {% if node.moderate %}
                                <div class="arrow_box children">
                                    <div class="ellipse-box">
                                        <div class="ellipse {{ node.mark|switch_class }}"></div>
                                    </div>
                                    <h5>Отзыв о перевозчике: <a href="{{ node.company.get_absolute_url }}">«{% firstof company.h1 company.name node.company.h1 node.company.name %}»</a></h5>
                                    <p>{{ node.text|safe|striptags }}</p>
                                    <div class="comm-info">
                                        <span class="name">{{ node.name }}</span>
                                        <span class="date">{{ node.created|date:"d M Y" }}</span>
                                        {% if node.order %}<span class="bill">Накладная № {{ node.order }}</span>{% endif %}
                                        {% if request.user.is_active %}
                                            <span class="answer"><a href="#" class='add_respond' data-company='{{ node.company.id }}' rel="{{ node.id }}" title="">Ответить</a></span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if not node.is_leaf_node %}
                                    <div class="children">
                                        {{ children }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endrecursetree %}
                    {% endfor %}
                </div>
                {% paginator %}
            </div>
        </div>
    </div>
    {% include 'company/respond_inline_form.html' %}
    <script type="text/javascript" src="{% static "js/jquery.raty.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            {% if not is_can_respont %}
                $('.company-stars').click(function () {
                    $.fn.alert({
                        'text': 'Чтобы оценить компанию, необходимо воспользоваться ее услугами через наш сайт.'
                    });
                });
            {% endif %}
            $('.company-stars').raty({
                starOff: '/media/static/new_img/star-off.png',
                starOn: '/media/static/new_img/star-on.png',
                starHalf: '/media/static/new_img/star-half.png',
                {% if is_can_respont %}
                    readOnly: false,
                {% else %}
                    readOnly: true,
                {% endif %}
                score: function(score){
                    return $(this).attr('data-rating');
                },
                click: function(score) {
                    {% if user.is_authenticated %}
                        $.ajax({
                            url: '/rating/?type=' + $(this).attr('data-get') + '&company=' + {{ company.pk }},
                            data: {score: score},
                            success: function(data) {
                                $('.general-rate-text em').html(data);
                                $('.company-stars-big').raty({
                                    starOff: '/media/static/new_img/big_star_off.png',
                                    starOn: '/media/static/new_img/big_star_on.png',
                                    starHalf: '/media/static/new_img/big_star_half.png',
                                    readOnly: true,
                                    score: function() {
                                        return parseFloat(data.replace(',','.'));
                                    }
                                });
                            }
                        }).done(function(){
                            $('.vote_success').html('Ваш голос учтен. Спасибо.');
                            setTimeout(function(){
                                        $('.vote_success').html('')},
                                    5000);
                        });
                        $(this).raty({
                            starOff: '/media/static/new_img/star-off.png',
                            starOn: '/media/static/new_img/star-on.png',
                            starHalf: '/media/static/new_img/star-half.png',
                            readOnly: true
                        });
                    {% endif %}
                }
            });

            {#            $('.rating.readonly').raty({#}
            {##}
            {#                readOnly: true,#}
            {#                score: function(score){#}
            {#                    return $(this).attr('data-score');#}
            {#                }#}
            {#            });#}
        });
    </script>
{% endblock %}