{% extends "base.html" %}

{% block title %}Заказ #{{ object.pk }}{% endblock %}
{% block og_title %}Заказ #{{ object.pk }}{% endblock %}

{% block content %}
<h1>Заказ #{{ object.pk }}</h1>
{% if user.is_authenticated %}
	<div class="company_buttons">
	    <a href="{% url account %}">{% if user.company %}Данные компании{% else %}Данные пользователя{% endif %}</a>
	    <a href="{% url competition_list %}">{% if user.company %}Заказы компании{% else %}Заказы{% endif %}</a>
	    {% if user.company %}<a href="{% url account_zone %}">Цены на доставку</a>{% endif %}
	</div>
{% endif %}

<div class="order_detail">
	<table>
		<tr><td><span class="bold">Что перевозим:</span></td><td> {{ object.get_cargo_display }}</td></tr>
		<tr><td><span class="bold">Вес:</span></td><td> {{ object.weight }}</td></tr>
		{% if object.width %}
		<tr><td><span class="bold">Ширина:</span></td><td> {{ object.width }}</td></tr>
		{% endif %}
		{% if object.height %}
		<tr><td><span class="bold">Высота:</span></td><td> {{ object.height }}</td></tr>
		{% endif %}
		{% if object.length %}
		<tr><td><span class="bold">Длина:</span></td><td> {{ object.length }}</td></tr>
		{% endif %}
		<tr><td><span class="bold">Дата доставки:</span></td><td> {{ object.delivery_date }}</td></tr>
		{% if object.delivery_time %}
		<tr><td><span class="bold">Желаемое время доставки:</span></td><td> {{ object.delivery_time }}</td></tr>
		{% endif %}
		<tr><td><span class="bold">Адрес отправителя:</span></td><td> {{ object.from_address }}</td></tr>
		<tr><td><span class="bold">ФИО отправителя / Организация:</span></td><td> {{ object.from_fio }}</td></tr>
		<tr><td><span class="bold">Телефон отправителя:</span></td><td> {{ object.from_phone }}</td></tr>
		<tr><td><span class="bold">E-mail отправителя:</span></td><td> {{ object.from_email }}</td></tr>
		<tr><td><span class="bold">Адрес получателя:</span></td><td> {{ object.to_address }}</td></tr>
		<tr><td><span class="bold">ФИО получателя / Организация:</span></td><td> {{ object.to_fio }}</td></tr>
		<tr><td><span class="bold">Телефон получателя:</span></td><td> {{ object.to_phone }}</td></tr>
		{% if object.cargo_description %}
		<tr><td><span class="bold">Текст отзыва:</span></td><td> {{ object.cargo_description }}</td></tr>
		{% endif %}
		<tr><td><span class="bold">Статус:</span></td><td> {{ object.get_status_display }}</td></tr>
		<tr><td><span class="bold">Дата создания:</span></td><td>{{ object.created }}</td></tr>
	</table>
</div>
<br>
<p><span class="bold">Срочность:</span> {% if object.urgency %}Да{% else %}Нет{% endif %}</p>
<p><span class="bold">Цена доставки:</span> {{ object.price }}р.</p>
<div>
	<span class="bold">Реквизиты для оплаты:</span>
	{{ object.payment_type }}
	{% if not object.payment_type.show_fields %}
		{% for x in object.get_payment %}
			{{ x.value }}
		{% endfor %}
	{% endif %}
</div>
{% endblock %}
