{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load company %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load pytils_numeral %}

{% block content %}
    <div class="header {% if 'transport' in request.get_full_path %} transport-companies{% else %} header-couriers{% endif %}">
        {% include 'registration/account.html' %}
        <div class="container-lg">
            <h1>
                {% if 'transport' in request.get_full_path %}
                    Перевозка груза.
                    <span>Транспортные компании Москвы и России</span>
                {% else %}
                    Курьерские службы  доставки Москвы и России
                {% endif %}</h1>
        </div>
    </div>
    <form method="GET" id="company_list">
        <div class="couriers-field">
            <div class="container-sm">
                {% placeholder main %}
                <div class="count-company">
                    <span>Показывать</span>
                    <select id="items_on_page" data-url="{% url company_list cur_type %}">
                        <option value="10">10</option>
                        <option value="25" {% if request.GET.items_on_page == '25' %}selected="selected"{% endif %}>25</option>
                        <option value="50" {% if request.GET.items_on_page == '50' %}selected="selected"{% endif %}>50</option>
                    </select>
                    <span>компаний на странице</span>
                </div>

                <table class="order-table" id="sort">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Логотип</th>
                        <th><p>Название</p>
                            <div class="sort-block">
                                <a href="{% url company_list cur_type %}?sort=name&by=a&items_on_page={{ request.GET.items_on_page }}&city={{ request.GET.city }}#sort" title="" class="up"></a>
                                <a href="{% url company_list cur_type %}?sort=name&by=d&items_on_page={{ request.GET.items_on_page }}&city={{ request.GET.city }}#sort" title="" class="down"></a>
                            </div>
                        </th>
                        <th><p>Рейтинг</p>
                            <div class="sort-block">
                                <a href="{% url company_list cur_type %}?sort=total_scope&by=a&items_on_page={{ request.GET.items_on_page }}#sort" title="" class="up"></a>
                                <a href="{% url company_list cur_type %}?sort=total_scope&by=d&items_on_page={{ request.GET.items_on_page }}#sort" title="" class="down"></a>
                            </div>
                        </th>
                        <th><p>Сайт</p>
                            <div class="sort-block">
                                <a href="{% url company_list cur_type %}?sort=site&by=a&items_on_page={{ request.GET.items_on_page }}&city={{ request.GET.city }}#sort" title="" class="up"></a>
                                <a href="{% url company_list cur_type %}?sort=site&by=d&items_on_page={{ request.GET.items_on_page }}&city={{ request.GET.city }}#sort" title="" class="down"></a>
                            </div>
                        </th>
                        <th><p>Отзывы</p>
                            <div class="sort-block">
                                <a href="{% url company_list cur_type %}?sort=comments&by=a&items_on_page={{ request.GET.items_on_page }}&city={{ request.GET.city }}#sort" title="" class="up"></a>
                                <a href="{% url company_list cur_type %}?sort=comments&by=d&items_on_page={{ request.GET.items_on_page }}&city={{ request.GET.city }}#sort" title="" class="down"></a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{{ company.get_absolute_url }}">
                                    {% if company.logo %}
{#                                    {% thumbnail company.logo "120x100" as img %}#}
                                        {# TODO профиксить баг с кешем #}
                                        <img src="{{ company.logo.url }}" width="120" height="100" alt="{{ company.name }}">
{#                                    {% empty %}#}
                                    {% else %}
                                        {% if company.user.is_courier %}
                                            <img src="{% static "new_img/courier_del.png" %}">
                                        {% else %}
                                            <img src="{% static "new_img/lorry.png" %}">
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </td>
                            <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                            <td><div class="star" data-rating="{{ company.total_scope|stringformat:"f" }}"></div></td>
                            <td>{% if company.site %}<span class="site">{{ company.site }}</span> {% else %}-{% endif %}</td>
                            <td><a href="{{ company.get_absolute_url }}" title="">Читать отзывы <span>({{ company.comments }})</span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% paginator %}
            </div>
        </div>
    </form>
    <div class="can-reg dots clearfix">
        <div class="wave-t"></div>
        {% include 'inclusion/can_reg.html' %}
        <div class="wave-b"></div>
    </div>
    <div class="courier-text">
        <div class="container-sm">
            {#            {% placeholder add_company %}#}
            {% placeholder seo_text %}
        </div>
    </div>
    <script>
        $(function () {
            $('html body form#company_list div.couriers-field div.container-sm div.count-company div.jq-selectbox.jqselect.changed select').change(function () {
                $('#company_list').submit();
            });
        });
    </script>
{% endblock %}
