{% extends "base.html" %}
{% load thumbnail %}
{% load company %}
{% load encode_parameters %}
{% load cms_tags sekizai_tags %}

{% block title %}Оформление заявки на доставку{% endblock %}
{% block og_title %}Оформление заявки на доставку{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css">

<script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/competition.js"></script>
{% endblock %}

{% block content %}


<span class="back">
<a href="/">Вернуться назад</a>
</span>
<h1>Оформление заявки на доставку</h1>
<p class="beta">Обращаем ваше внимание, что сервис находится в Beta режиме. <br>
В настоящее время могут быть некоторые сложности в оформлением заявки, но мы стараемся устранить все недочеты.</p>
<div class="errorlist"></div>
<div class="complite">
    <form method="post" id="tender" action="{% url ajax_competition_validate %}">
        {% csrf_token %}
        <input type="hidden" name="city_dist" id="city_dist">
        <input type="hidden" name="company" id="id_company">
        <input type="hidden" name="price" id="id_price">
        <input type="hidden" name="total_price" id="id_total_price">
        <input type="hidden" name="urgency" id="id_urgency">
        <div class="toptext">{% placeholder main %}</div>
        <div class="step1">
            <div class="forms">
                <div class="pole radio">
                    <label for="id_cargo">Что доставляем:</label>
                    {# form.cargo #}
                    <ul>
                        <li class="active"><input type="radio" id="id_cargo_0" value="1" name="cargo" checked="checked"><label for="id_cargo_0"><span></span>Письмо</label></li>
                        <li><input type="radio" id="id_cargo_1" value="2" name="cargo"><label for="id_cargo_1"><span></span>Бандероль</label></li>
                    </ul>
                    <div class="er3">{{ form.cargo.errors }}</div>
                </div>
                <div class="pole weight">
                    <label for="id_weight">Вес: </label>
                    {{ form.weight }}
                    {{ form.weight.errors }}
                    <strong>кг.</strong>
                    <em style="position: absolute;">(Если вес больше 10кг. точная сумма оплаты уточняется с менеджером)</em>
                </div>
                <div class="clr"></div>
                <div class="gab">
                    <!-- <div class="pole">
                        <label for="id_weight">Вес: </label>
                        {{ form.weight }}
                        {{ form.weight.errors }}
                        <strong>кг.</strong>
                        <em style="position: absolute;">(Если вес больше 10кг. точная сумма оплаты уточняется с менеджером)</em>
                    </div> -->

                    <!-- <div class="pole">
                        <label for="id_height">Количество:</label>
                        {{ form.count }}
                        {{ form.count.errors }}
                    </div> -->
                    <!-- <div class="pole">
                        <label for="id_weight">Срочность: </label>
                        {{ form.urgency }}
                        {{ form.urgency.errors }}
                        <strong>кг.</strong>
                        <em>(доплата)</em>
                    </div> -->
                    <div class="clr"></div>
                </div>
                <div class="date_delivery">
                    <div class="pole">
                        <label for="id_weight">Дата доставки: </label>
                        {{ form.delivery_date }}
                        {{ form.delivery_date.errors }}
                    </div>
                    <div class="pole">
                        <label for="id_weight">Желаемое время доставки: </label>
                        {{ form.delivery_time }}
                        {{ form.delivery_time.errors }}
                    </div>
                </div>
                <div class="clr"></div>
                <div class="gab">
                    <header class="dop_header">Дополнительные характеристики</header>
                    <div class="dop_info">
                        <div class="pole">
                            <label for="id_width">Ширина:</label>
                            {{ form.width }}
                            {{ form.width.errors }}
                            <strong>см.</strong>
                        </div>
                        <div class="pole">
                            <label for="id_lenght">Длина:</label>
                            {{ form.length }}
                            {{ form.length.errors }}
                            <strong>см.</strong>
                        </div>
                        <div class="pole">
                            <label for="id_height">Высота:</label>
                            {{ form.height }}
                            {{ form.height.errors }}
                            <strong>см.</strong>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="clr"></div>

            <div class="forms2 mar">
                <h3>Откуда</h3>
                <div class="pole">
                    <label for="id_cargo">Адрес:</label>
                    {{ form.from_address }}
                    <div class="er3">{{ form.from_address.errors }}</div>
                </div>
                <div class="pole">
                    <label for="id_cargo">ФИО отправителя / Организация:</label>
                    {{ form.from_fio }}
                    <div class="er3">{{ form.from_fio.errors }}</div>
                </div>
                <div class="pole">
                    <label for="id_cargo">Телефон:</label>
                    {{ form.from_phone }}
                    <div class="er3">{{ form.from_phone.errors }}</div>
                </div>
                <div class="pole">
                    <label for="id_cargo">Ваш e-mail:</label>
                    {{ form.from_email }}
                    <div class="er3">{{ form.from_email.errors }}</div>
                </div>
                <div class="clr"></div>
            </div>
            <!-- <div class="clr"></div> -->
            <div class="forms2">
                <h3>Куда</h3>
                <div class="pole">
                    <label for="id_cargo">Адрес:</label>
                    {{ form.to_address }}
                    <div class="er3" id="er3">{{ form.to_address.errors }}</div>
                </div>
                <div class="pole">
                    <label for="id_cargo">ФИО получателя / Организация:</label>
                    {{ form.to_fio }}
                    <div class="er3">{{ form.to_fio.errors }}</div>
                </div>
                <div class="pole">
                    <label for="id_cargo">Телефон:</label>
                    {{ form.to_phone }}
                    <div class="er3">{{ form.to_phone.errors }}</div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
            
            <h3>Способ оплаты</h3>
            <div class="forms3">
                <p class="errors"></p>
                {% for key, value in payment.items %}
                    <label><input type='radio' name='payment_type' data-key='{{ key }}' value='{{ value }}'>{{ payment_label|get_at_index:value }}</label>
                {% endfor %}

                <ul>
                {% for p in payment %}
                    {% if p.emoney %}
                        {% if not emoney %}
                            <li>
                                
                            <label><input type="radio" name="payment_type" value="" id="em">Электронные деньги</label>
                                <ul class="emoney">
                                {% for e in epayment %}
                                    <li>
                                        <label><input type="radio" name="epayment_type" value="{{ e.pk }}" >{{ e.name }}</label>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if not emoney %}{% assign emoney 'True' %}{% endif %}
                    {% else %}
                        <li>
                            <label><input type="radio" name="payment_type" value="{{ p.pk }}" >{{ p.name }}</label>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>

                <div class="clr"></div>
            </div>

            <h3>Дополнительная информация о доставке</h3>
            <div class="dop">
                <p>Советуем вам как можно подробнее описать свою корреспонденцию или груз, чтобы получить максимально
                    полную информацию остоимости услуги и возможном исполнителе.
                </p>
                <div class="pole txt">
                    {{ form.cargo_description }}
                    {{ form.cargo_description.errors }}
                </div>
            </div>
            <div id="map" style="width: 770px; height: 400px"></div>
            <div class="small" align="left"><a href="#" class="btn button_step1">Далее</a></div>
        </div>

        <div class="step2 visible">
            <h3>Ваш заказ <a href="" class="order_edit"title="Редактировать заказ"></a></h3>

            <div class="order_info">
                <p class="from_address">
                    <span class="bold">Откуда:</span>
                    <span></span>
                </p>

                <p class="to_address">
                    <span class="bold">Куда:</span>
                    <span></span>
                </p>

                <p class="to_date">
                    <span class="bold">Дата доставки:</span>
                    <span></span>
                </p>
            </div>

            <h3>Выберите исполнителей</h3>

            <p>Вы можете выбрать компанию исполнителя из списка ниже.</p>

            <table width="100%" class="tab" border="0" cellspacing="0" cellpadding="0">
                <tr class="first">
                    <td class="number">
                        <span class="zag">№</span>
                    </td>
                    <td class="tab_logo">
                        <span class="zag">Логотип</span>
                    </td>
                    <td class="nazvan">
                        <span class="zag">Название</span>
                    </td>
                    <td class="information">
                        <span class="zag">Инфо</span>
                    </td>
                    <td class="statistic">
                        <span class="zag">Цена (р.)</span>
                    </td>
                    <td>
                        <span class="zag">Заказать</span>
                    </td>
                </tr>
            </table>

            <a href="#" class="btn back">Назад</a>
        </div>

        <div class="step3 visible">
        	<h3>Платежные реквизиты <a href="" class="order_edit" title="Редактировать заказ"></a></h3>
            <p>Выберите удобные для вас реквизиты для оплаты посылки из возможных вариантов или вернитесь к выбору другой компании.</p>
            <div class="err"></div>
    		<div class="controls">
    		</div>
            <a href="#" class="btn continue">Далее</a>
            <a href="#" class="btn back">Назад</a>
        </div>

        <div class="step4 visible">
            <h3>Вы выбрали для доставки компанию: <a href="" class="order_edit" title="Редактировать заказ"></a></h3>
            <table width="100%" class="tab" border="0" cellspacing="0" cellpadding="0">
                <tr class="first">
                    <td class="number">
                        <span class="zag">№</span>
                    </td>
                    <td class="tab_logo">
                        <span class="zag">Логотип</span>
                    </td>
                    <td class="nazvan">
                        <span class="zag">Название</span>

                    </td>
                    <td class="information">
                        <span class="zag">Инфо</span>
                    </td>
                    <td class="statistic">
                        <span class="zag">Общая цена (р.)</span>
                    </td>
                </tr>

                <tr class="odd">
                </tr>
            </table>

            <h3>Для оплаты доставки вы выбрали способ:</h3>
            <div id="payment_details">
            </div>
            <a href="#" class="btn submit">Подтвердить заявку</a>
            <a href="#" class="btn back">Назад</a>
        </div>
    </form>
</div>
<!-- <div class="small" align="left"><a href="#" onclick="$('#tender').submit();return false;" class="dobavit">Отправить</a></div> -->
{% endblock %}
