{% extends 'base.html' %}
{% load company %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}

{% block title %}Контакты{% endblock %}


{% block content %}
    <div class="header header-contacts">
        {% include 'registration/account.html' %}
        <div class="container-lg">
            <h1>Контакты DostMarket</h1>
        </div>
    </div>
    <div class="contact-field clearfix">
        <div class="container-sm">
            {% placeholder main %}
            <form method="post" action="{% url contacts %}">
                {% csrf_token %}
                <div class="your-info">
                    <label class="{{ form.name|error }}">{{ form.name.label }}</label>
                    {{ form.name }}
                    <label class="{{ form.email|error }}">{{ form.email.label }}</label>
                    {{ form.email }}
                    <label class="{{ form.subject|error }}">{{ form.subject.label }}</label>
                    {{ form.subject }}
                </div>
                <div class="message">
                    <label class="{{ form.text|error }}">{{ form.text.label }}</label>
                    {{ form.text }}
                </div>
                <div class="clearfix"></div>
                <button class="btn" type="submit">отправить сообщение</button>
            </form>
        </div>
    </div>
{% endblock %}