{% extends "base.html" %}
{% load thumbnail %}


{% block title %}{{ object.offer }}{% endblock %}
{% block og_title %}{{ object.offer }}{% endblock %}

{% block content %}
    <span class="back">
        <a href="/">Вернуться назад</a>
    </span>

    <ul class="breadcrumbs">
        <li><a href="{% url company_list object.company.type %}">{% if object.company.type == 'courier' %}Курьерские службы{% else %}Транспортные компании{% endif %}</a> /</li>
        <li style="padding-left: 5px;"> <a href="{% url company object.company.type object.company.id %}">{{ object.company.name }}</a> /</li>
    </ul>

    <div class="new_top">


        <div class="clr"></div>
    </div>
    <h1>{{ object.offer }}</h1>
    <div class="nov_cont" >
        {% thumbnail object.company.logo "250" upscale=False as img %}
            <img src="{{ img.url }}" style="float: right;" alt="{{ object.company.name }}">
        {% endthumbnail %}
       {{ object.description|safe }}

    </div>
     <div class="block-direct">
        <!-- Яндекс.Директ -->
        <script type="text/javascript">
            yandex_partner_id = 116610;
            yandex_site_bg_color = 'FFFFFF';
            yandex_site_charset = 'utf-8';
            yandex_ad_format = 'direct';
            yandex_font_size = 1;
            yandex_direct_type = 'horizontal';
            yandex_direct_limit = 3;
            yandex_direct_title_font_size = 3;
            yandex_direct_header_bg_color = 'FEEAC7';
            yandex_direct_title_color = '0000CC';
            yandex_direct_url_color = '006600';
            yandex_direct_text_color = '000000';
            yandex_direct_hover_color = '0066FF';
            yandex_direct_favicon = true;
            document.write('<sc' + 'ript type="text/javascript" src="http://an.yandex.ru/system/context.js"></sc' + 'ript>');
        </script>
    </div>
{% endblock %}
