<div class="block">
    <div class="name other">
        Последние отзывы
    </div>
    <ul class="otzyv">
        {% for respond in respond_block %}
        <li>
            <span class="zagolovok">
                <a href="{{ respond.company.get_absolute_url }}">{{ respond.company.name }}</a>
                <em>{{ respond.created|date:"d M." }}</em>
            </span>
            <div class="clr"></div>
            <div class="tekst">
                {{ respond.text|truncatewords:14|safe }}
            </div>
        </li>
        {% endfor %}
    </ul>
    <span class="polnyi"><a href="{% url respond_list %}">все отзывы</a></span>
</div>