{% extends "base.html" %}

{% block title %}Подтверждение отзыва{% endblock %}
{% block title_content %}Подтверждение отзыва{% endblock %}
{% block og_title %}Подтверждение отзыва{% endblock %}

{% block right_content %}
    <p class="right-text">Вы успешно подтвердили отзыв. В ближайшее время он будет рассмотрен администрацией сайта</p>
    <br/>
    <br/>
    <a href="/" class="link">На главную</a>
{% endblock %}
