{% load widget_tweaks %}
<div class="add-comment-form" style="display: none;">
    <form method="POST" action="{% url add_respond %}" id="respond_form">
        {% csrf_token %}
        {% if not request.user.is_active %}
            {% render_field form.name placeholder="Имя Фамилия"%}
            {{ form.name.errors }}
            {% render_field form.email class="mail" placeholder="e-mail:" %}
            {{ form.email.errors }}
        {% endif %}
        {% render_field form.text cols="40" placeholder="Текст комментария" rows="10" %}
        {{ form.text.errors }}
        <div class="hide">
            {{ form.company }}
            {{ form.mark }}
            {{ form.parent }}
            {{ form.parent.errors }}
        </div>
        <a class="blue-btn comment-btn" href="#" id="submit_respond">Добавить комментарий</a>
    </form>
</div>
