{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}
{% load company %}
{% load encode_parameters %}
{% load cms_tags sekizai_tags %}
{% load mptt_tags %}
{% load order_tags %}

{% block content %}
    <div class="header reviews-header">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>Отзывы о перевозчиках и курьерских компаниях</h1>
            <div>
                {% placeholder main %}
            </div>
            <input type="hidden" id="gmark" value="{% if request.GET.mark %}{{ request.GET.mark }}{% else %}all{% endif %}">
            <div class="tabs-field">
                <div class="container-sm" id="respondes">
                    <div id="tabs" class="tabs clearfix">
                        <ul>
                            <li>
                                <a class="blue" href="{% url respond_list %}#respondes" title="">Все отзывы</a>
                            </li>
                            <li>
                                <a class="green" href="{% get_params mark='positive' %}#respondes" title="">Положительные</a>
                            </li>
                            <li>
                                <a class="grey" href="{% get_params mark='neitral' %}#respondes" title="">Нейтрайльные</a>
                            </li>
                            <li>
                                <a class="red" href="{% get_params mark='negative' %}#respondes" title="">Отрицательные</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <script>
                    $(function () {
                        var availableTags = [
                            {% for company in  company_list %}
                                {
                                    label: "{{ company.name|replace_paws|safe }}",
                                    value: "{{ company.id }}"
                                },
                            {% endfor %}
                        ];
                        $( "#company" ).autocomplete({
                            source: availableTags,
                            select: function (event, ui) {
                                event.preventDefault();
                                $(this).val(ui.item.label);
                                $(this).attr('data-id', ui.item.value);
                            },
                            focus: function( event, ui ) {
                                event.preventDefault();
                                $(this).val(ui.item.label);
                                $(this).attr('data-id', ui.item.value);
                            }
                        });
                        $('#respondes a').click(function (e) {
                            e.preventDefault();
                            var url = $(this).attr('href');
                            window.location = url;
                            {#                            var url = $(this).attr('href') + ' .tabs-block.clearfix';#}
                            {#                            $('.comments-field.reviews-page').load(url, function () {#}
                            {#                                $.fn.refresh();#}
                            {#                            });#}
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="comments-field reviews-page">
        <div class="tabs-block clearfix">
            <div class="reviews-search dots">
                <div class="container-sm">
                    <p>Сортировать по названию</p>
                    <input type="text" id="company" value="{{ mark_name }}"/>
                    {#                    <select>#}
                    {#                        <option value=""{% if not mark_id %}selected="selected"{% endif %}></option>#}
                    {#                        {% for company in company_list %}#}
                    {#                            <option value="{{ company.id }}" {% if mark_id == company.id %} selected="selected"{% endif %}>#}
                    {#                                {{ company.name }}#}
                    {#                            </option>#}
                    {#                        {% endfor %}#}
                    {#                    </select>#}
                    <a class="btn" title="" href="#" id="respond_company">поехали</a>
                </div>
                <div class="wave-b"></div>
            </div>
            <div id="tabs1" class="all visible">
                <div class="container-sm" >
                    {% include 'inclusion/respond.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'company/respond_inline_form.html' %}
    <div class="courier-text">
        <div class="container-sm">

            <div class="clr"></div>
            <div class="seo_text">
                {% placeholder seo_text %}


            </div>
        </div>
    </div>

{% endblock %}