{% load thumbnail %}
<div class="spec_predlog">
    <span>Специальные предложения</span>
    <ul>
        {% for offer in special_offer %}

        <li style="text-align: center;">
            {% thumbnail offer.company.logo "250x70" as img %}
            <img src="{{ img.url }}" alt="{{ offer.offer }}">
            {% endthumbnail %}
            <a href="{% if offer.url %}{{ offer.url }}{% else %}{{ offer.get_absolute_url }}{% endif %}" target="_blank">{{ offer.offer }}</a>
        </li>

        {% endfor %}

    </ul>
    <div class="clr"></div>
</div>