{% extends "base.html" %}
{% load thumbnail %}
{% load company %}
{% load encode_parameters %}
{% load cms_tags sekizai_tags %}

{% block title %}Оформление заявки на срочную доставку{% endblock %}
{% block og_title %}Оформление заявки на срочную доставку{% endblock %}

{% block content %}
    <span class="back">
        <a href="/">Вернуться назад</a>
    </span>

    <form method="POST" id="tender">
    {% csrf_token %}
    <h1>Оформление заявки на срочную доставку</h1>
        <div class="toptext">{% placeholder main %}</div>
    <div class="forms">
        <div class="pole">
            <label for="id_point_a">Откуда:</label>
            {{ form.point_a }}
            <div class="er1">{{ form.point_a.errors }}</div>

        </div>

        <div class="pole">
            <label for="id_point_b">Kуда:</label>
            {{ form.point_b }}
            <div class="er2">{{ form.point_b.errors }}</div>

    </div>


        <div class="pole">
            <label for="id_cargo">Что перевозим:</label>
            {{ form.cargo }}
            <div class="er3">{{ form.cargo.errors }}</div>
            <em>
                (кратко, подробности можно описать в комментарии)
            </em>
        </div>
        <div class="clr"></div>
    </div>

    <h2>Габариты</h2>
    <div class="gab">

        <div class="pole">
            <label for="id_weight">Вес: </label> <em>(примерный)</em>
            {{ form.weight }}
            {{ form.weight.errors }}
            <strong>кг.</strong>

        </div>

        <div class="pole">
            <label for="id_width">Ширина:</label>
            {{ form.width }}
            {{ form.width.errors }}
            <strong>см.</strong>

        </div>

        <div class="pole">
            <label for="id_lenght">Длина:</label>
            {{ form.length }}
            {{ form.length.errors }}
            <strong>см.</strong>

        </div>

        <div class="pole">
            <label for="id_height">Высота:</label>
            {{ form.height }}
            {{ form.height.errors }}
            <strong>см.</strong>

        </div>
        <div class="clr"></div>




    </div>
    <div class="clr"></div>


    <h3>Дополнительная информация о доставке</h3>

    <div class="dop">

        <p>Советуем вам как можно подробнее описать свою корреспонденцию или груз, чтобы получить максимально
            полную информацию остоимости услуги и возможном исполнителе.</p>

        <div class="pole txt">
            {{ form.cargo_description }}
            {{ form.cargo_description.errors }}
        </div>

{#        <script type="text/javascript">#}
{#            $(function(){#}
{#                CKEDITOR.instances.cargo_description.on('key', checkLength);#}
{#                CKEDITOR.instances.cargo_description.on('paste', checkLength);#}
{#            });#}
{#        </script>#}

        <p>

            Для получения конкретных предложений по вашему запросу оставьте свои контактные данные. С вами свяжутся
            представители курьерских компаний в ближайшее время. Если доставка срочная, рекомендуем вам оставить
            номер мобильного телефона – это ускорит доставку в пункт назначения.
        </p>

    </div>

    <div class="ad">

        <div class="pole">
            <label for="id_name">Ваше имя:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="clr"></div>

        <div class="pole">
            <label for="id_phone">Телефон:</label>
            {{ form.phone }}
            {{ form.phone.errors }}

        </div>

        <div class="pole">
            <label for="id_email">E-mail:</label>
            {{ form.email }}
            <div class="er4">{{ form.email.errors }}</div>
        </div>

    </div>

    <p>До какого времени информация о доставке актуальна?</p>

    <div class="fin">

        <div class="pole">
            <label for="id_date">Число:</label>
            {{ form.date }}
            {{ form.date.errors }}

        </div>


        <div class="pole">
            <label for="id_time">Время:</label>
            {{ form.time }}
            {{ form.time.errors }}

        </div>
        <div style="display: none;">
            {{ form.type }}
        </div>

        <div class="niz">
            <div class="captcha">
                <em style="padding-bottom: 10px;">Введите символы, изображенные на картинке:</em>
                <br>
                <br>
                <div class="clr"></div>
                {{ form.captcha }}
                {{ form.captcha.errors }}

            </div>

            <div class="hidden" style="display: none;">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>
        </div>

    <div class="clr"></div>



    </div>
    </form>

    <div class="small" align="left"><a href="#" onclick="$('#tender').submit();return false;" class="dobavit">Отправить</a></div>



{% endblock %}
