{% load thumbnail %}
<div class="block">
    <div class="name">
        Топ {{ qty_top }} компаний
        <em>по версии DostMarket.ru</em>
    </div>

    <ul class="reiting">
        {% for company in top_company %}
        <li>
            <a href="{{ company.get_absolute_url }}#" class="imag">
                {% thumbnail company.logo "52x52" as img %}
                    <img src="{{ img.url }}" width="{{ img.width }}"  style="margin:{{ img|margin:"52x52" }}" height="{{ img.height }}" alt="{{ company.name }}">
                {% endthumbnail %}
            </a>

            <div class="soderjanie">
                <span><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></span>
                <em>{{ company.get_type_display }}</em>
                <a href="{{ company.get_absolute_url }}">{{ company.site }}</a>
            </div>
            <div class="clr"></div>
        </li>
        {% endfor %}

        <div class="clr"></div>
    </ul>

    <span class="polnyi"><a href="{% url rating_list 'all' %}">полный список</a></span>
</div>
