{% extends "registration/registration_base.html" %}
{% load company %}

{% block title %}Личный кабинет{% endblock %}
{% block og_title %}Личный кабинет{% endblock %}

{% block content %}
    <span class="back">
        <a href="#">Вернуться назад</a>
    </span>

    <h1>Прейскурант по зонам</h1>

    <div class="company_buttons">
        <a href="{% url account %}">{% if user.company %}Данные компании{% else %}Данные пользователя{% endif %}</a>
        <a href="{% url competition_list %}">{% if user.company %}Заказы компании{% else %}Заказы{% endif %}</a>
        {% if user.company %}<a href="{% url account_zone %}">Цены на доставку</a>{% endif %}
    </div>

    {% block message %}
        {% if messages %}
            <div class="message">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clr"></div>
        {% endif %}
    {% endblock %}

    <form id="editform" method='post' action='.'>
        {% for field in form %}
            {% if '1kg' in field.name %}
                {% if not forloop.first %}</tr></table>{% endif %}
                <p class="zone_name">
                {{ field.name|get_zone }} <a href="#">показать</a>
                </p>
                <table class="table_zone">
                    <tr>
                        {% for key, value in zone_weight.items %}<th>{{ value }}</th>{% endfor %}
                    </tr>
                    <tr>
            {% endif %}
            {% if not field.name == 'urgency' %}
            <td>
                {{ field.errors }}
                {{ field }}
            </td>
            {% endif %}
            {% if forloop.last %}</tr></table>{% endif %}
        {% endfor %}

        {{ form.urgency.label }}: {{ form.urgency }}
        <p><input type="submit" value="Сохранить" class="btn"></p>
    </form>
{% endblock %}
