.clr {
    clear: both;
}

body {
    color: #000;
    font-family: arial, sans-serif;
    font-size: 14px;
}

#container {
    margin: 0 auto;
    width: 1002px;
}

.header {
    display: block;
    width: 1002px;
    height: 145px;
    float: left;

}

.header_top {
    display: block;
    height: 41px;
}

.menu_home {
    float: left;
    padding-top: 7px;

}

.menu_home li {
    display: block;
    padding-right: 7px;
    border-right: 1px solid #afafaf;
    float: left;
}

.menu_home li a {
    float: left;
    color: #afafaf;
    font-size: 12px;
    padding-left: 7px;
    padding-bottom: 3px;
}

.menu_home li a:hover {
    text-decoration: none;
}

.menu_home li.last {
    border: none;
}

.menu_home li.first a {
    padding-left: 0;
}

.like_panel {
    float: right;
}

.header_bottom {
    display: block;

}

.logo {
    float: left;
    display: block;
    width: 280px;
    margin-left: -15px;
}

.logo a {
    display: block;
    float: left;
    background: url("images/logo.png") no-repeat left;
    width: 102px;
    height: 94px;
}

.logo .name {
    font-size: 24px;
    color: #010101;
    padding: 25px 0 0 7px;
    float: left;

}

.logo .name .naz {
    display: block;
    background: none;
    text-decoration: none;
    color: #000;
    width: 170px;
}

.logo .name .naz span {
    font-weight: bold;

}

.logo .naz .gray {
    color: #181818;
}

.logo .naz .green {
    color: #55d74b;
}

.naz .slogan {
    color: #646464;
    font-size: 13px;
    font-weight: bold;
    display: block;
}

.banner_head {
    float: right;
    padding-right: 5px;
}

.top_menu {
    display: block;

}

.top_menu li {
    float: left;
    background: url("images/razdelitel_top.jpg") no-repeat right;
    display: block;
    padding-right: 2px;
    height: 40px;
}

.top_menu li a {
    display: block;
    float: left;
    color: #fff;
    padding: 11px 1.39em 0;
    text-decoration: none;
    height: 28px;
    background: url("images/topmenu_bg.png") repeat-x;
    border-top: 1px solid #0b6100;
}

.top_menu li a:hover, .top_menu li.active a {
    background: url("images/topmenu_hover_bg.png") repeat-x;
    text-shadow: 1px 1px 5px #333333;
    filter: dropshadow(color = #333333, offx = 1, offy = 1);

}

.top_menu .last {
    background: none;
}

.top_menu .last a, .top_menu .last.active a {
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    padding-right: 40px;

}

.top_menu li.first a {
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;

}

.center {
    display: block;
}

.center .right {
    float: right;
    width: 220px;
    padding-top: 32px;
}

.block {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #a2a2a2;
    margin-bottom: 15px;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 41%, #e9e9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(41%, #f3f3f3), color-stop(100%, #e9e9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefe 0%, #f3f3f3 41%, #e9e9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefefe 0%, #f3f3f3 41%, #e9e9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefefe 0%, #f3f3f3 41%, #e9e9e9 100%); /* IE10+ */
    background: linear-gradient(top, #fefefe 0%, #f3f3f3 41%, #e9e9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fefefe', endColorstr = '#e9e9e9', GradientType = 0); /* IE6-9 */

}

.block a:hover {
    text-decoration: none;
}

.block .name {
    background: url("images/block_head_bg.png") repeat-x;
    display: block;
    height: 33px;
    color: #fff;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 5px 14px 0;
    text-shadow: 1px 1px 1px #333333;
    filter: dropshadow(color = #333333, offx = 1, offy = 1);

}

.block .name.other {
    padding-top: 11px;
    height: 27px;
}

.block .name em {
    font-style: normal;
    display: block;
    font-size: 12px;
}

.block .reiting {
    display: block;
    padding-top: 1px;
}

.block .reiting li {
    display: block;
    background: url("images/block_razdelitel.png") no-repeat top;
    padding: 15px 10px;
    font-size: 11px;

}

.block .reiting li img {
    display: block;
    /*margin-right: 6px;*/
    /*-webkit-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #a2a2a2;*/

}

.block .reiting li .soderjanie {
    float: left;
    text-align: left;
    padding-top: 4px;
}

.block .reiting li .soderjanie span {
    display: block;

}

.block .reiting li .soderjanie span a {
    text-decoration: none;
    padding-top: 0px;
}

.block .reiting li .soderjanie em {
    display: block;
    color: #888888;
    font-style: normal;
    padding-top: 4px;
}

.block .reiting li .soderjanie a {
    color: #000;
    padding-top: 8px;
    display: block;

}

.block .polnyi {
    background: url("images/block_razdelitel.png") no-repeat top;
    text-align: center;
    padding: 10px 0;
    display: block;
}

.block .polnyi a {
    color: #149e0a;
    font-size: 12px;
    margin: 0 auto;
    display: block;

}

.block .otzyv {
    display: block;
    padding-top: 1px;
}

.block .otzyv li {
    background: url("images/block_razdelitel.png") no-repeat top;
    padding: 15px 5px;
}

.block .otzyv li .zagolovok {
    display: block;

}

.block .otzyv li .zagolovok a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    float: left;
}

.block .otzyv li .zagolovok em {
    color: #404040;
    font-size: 11px;
    float: right;
    font-style: normal;
}

.block .otzyv li .tekst {
    font-size: 11px;
    color: #404040;
    display: block;
    padding-top: 10px;
    text-align: left;
    line-height: 11px;
}

.banner_right {
    display: block;
    margin-bottom: 15px;
}

.facebook_plugin {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.left {
    float: left;
    display: block;
    padding-right: 15px;
    width: 767px;
    padding-top: 32px;
}

.left .zapros {
    display: block;

}

.zapros .block {
    float: left;
    width: 220px;

}

.zapros .block .otzyv li .curier {
    background: url("images/curier.png") no-repeat left;
    display: block;
    min-height: 32px;
    padding-left: 36px;
    color: #666;

}

.zapros .block .otzyv li a {
    color: #149e0a;
    font-size: 12px;
    padding-top: 4px;
    display: block;
}

.zapros .block .otzyv li .trans {
    background: url("images/samolet.png") no-repeat left;
    display: block;
    min-height: 32px;
    padding-left: 36px;
    color: #666;

}

.zapros_form {
    display: block;
    margin-left: 235px;
    padding: 15px 15px;
    height: 134px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #0B6100;
    background: #13ca05; /* Old browsers */
    background: -moz-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #13ca05), color-stop(41%, #11b605), color-stop(100%, #11ac05)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%); /* IE10+ */
    background: linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#13ca05', endColorstr = '#11ac05', GradientType = 0); /* IE6-9 */

}

/* .car{
    background: url(images/car4.png) no-repeat;
} */

.form_name {
    font-size: 27px;
    color: #fff;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px #333333;
    filter: dropshadow(color = #333333, offx = 1, offy = 1);
    line-height: 36px;
    /* padding-left: 160px; */
}

.polya_vvoda {
    width: 244px;
    display: block;
    float: left;
    padding-top: 28px;
}

.polya_vvoda input {
    background: none;
    border: 0;
    outline: none;
    width: 209px;
    height: 27px;
    padding-left: 35px;
    line-height: 25px;
    color: #5b5b5b;
    font-size: 12px;
    display: block;

}

.polya_vvoda .tochka_a {
    background: url("images/a_bg.png") no-repeat left;
    margin-bottom: 20px;

}

.polya_vvoda .tochka_b {
    background: url("images/b_bg.png") no-repeat left;
}

.knopki {
    float: right;
    display: block;
    font-size: 28px;
    color: #fff;
    text-shadow: 1px 1px 1px #333333;
}

.knopki_verh a {
    color: #fff;
    text-decoration: none;
    display: block;
    float: left;
    font-size: 12px;

}

.knopki li {
    display: block;
    background: none;
    padding: 10px;
    float: left;

}

.knopki li:hover, .knopki li.active {
    background: #129c08;
    -webkit-border-radius: 7px;
    border-radius: 7px;

}

.knopki .transport {
    margin-right: 20px;
}

.knopki .transport a {
    background: url("images/car.png") no-repeat top center;
    height: 12px;
    padding-top: 24px;
    display: block;

}

.knopki .kurier a {
    background: url("images/curier_white.png") no-repeat top center;
    height: 12px;
    padding-top: 24px;
    display: block;

}

#modal_region .otpravit {
/*     background: #d2fdcf; Old browsers
background: -moz-linear-gradient(top, #d2fdcf 0%, #90d88b 40%, #5dbb57 100%); FF3.6+
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2fdcf), color-stop(40%, #90d88b), color-stop(100%, #5dbb57)); Chrome,Safari4+
background: -webkit-linear-gradient(top, #d2fdcf 0%, #90d88b 40%, #5dbb57 100%); Chrome10+,Safari5.1+
background: -o-linear-gradient(top, #d2fdcf 0%, #90d88b 40%, #5dbb57 100%); Opera 11.10+
background: -ms-linear-gradient(top, #d2fdcf 0%, #90d88b 40%, #5dbb57 100%); IE10+
background: linear-gradient(top, #d2fdcf 0%, #90d88b 40%, #5dbb57 100%); W3C
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d2fdcf', endColorstr = '#5dbb57', GradientType = 0); IE6-9
display: block;
margin-top: 12px;
font-size: 18px;
color: #0d5707;
padding: 10px 8px;
text-align: center;
text-decoration: none;
-webkit-border-radius: 7px;
border-radius: 7px;
border: 1px solid #0d8b04;
text-shadow: 1px 1px 0 #ffffff;
filter: dropshadow(color = #ffffff, offx = 1, offy = 1);
-webkit-box-shadow: 0px 1px 2px #063B01;
box-shadow: 0px 1px 2px #063B01; */
}

.knopki .otpravit.redd{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-shadow: -1px -1px 0px #b56f00;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0px;
    border-bottom: 1px solid #f9bb00;
    -webkit-box-shadow: 2px 2px 0px #3DC531;
    box-shadow: 2px 2px 0px #3DC531;
    margin-right: 6px;
    margin-top: 10px;
    margin-left: 8px;
    position: relative;
    background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(248,171,0,1)), color-stop(0.51, rgba(248,171,0,1)), color-stop(0.51, rgba(246,154,0,1)), to(rgba(246,154,0,1)));
    background: -webkit-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -moz-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -o-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%), linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ab00', endColorstr='#f69a00',GradientType=0 );
}

.s-icon {
    background-image: url('order/img/sp-icon.png');
    display:inline-block;
    overflow:hidden;
    background-repeat: no-repeat;
    cursor: pointer;
}
    .s-icon.arrow {width: 20px; height: 13px; background-position: 0 -3px;}


.knopki .otpravit.redd:after{
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 20px;
    font-size: 20px;
    padding: 22px 0;
    border-radius: 3px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,104,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(246,104,0,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f66800',GradientType=1 );
}


/* .knopki .otpravit.redd.blink{
    box-shadow: 0px 0px 12px #D40808;
} */

#modal_region .otpravit:hover {
/*     background: #e8ffe6; Old browsers
background: -moz-linear-gradient(top, #e8ffe6 0%, #9eea98 40%, #6ad563 100%); FF3.6+
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8ffe6), color-stop(40%, #9eea98), color-stop(100%, #6ad563)); Chrome,Safari4+
background: -webkit-linear-gradient(top, #e8ffe6 0%, #9eea98 40%, #6ad563 100%); Chrome10+,Safari5.1+
background: -o-linear-gradient(top, #e8ffe6 0%, #9eea98 40%, #6ad563 100%); Opera 11.10+
background: -ms-linear-gradient(top, #e8ffe6 0%, #9eea98 40%, #6ad563 100%); IE10+
background: linear-gradient(top, #e8ffe6 0%, #9eea98 40%, #6ad563 100%); W3C
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8ffe6', endColorstr = '#6ad563', GradientType = 0); IE6-9 */
}

.knopki .otpravit.redd:hover{
    background: rgb(248,171,0); /* Old browsers */
}

#modal_region .otpravit:active {
    /* background: #5dbb57; Old browsers
    background: -moz-linear-gradient(top, #5dbb57 0%, #90d88b 40%, #d4fed1 100%); FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5dbb57), color-stop(40%, #90d88b), color-stop(100%, #d4fed1)); Chrome,Safari4+
    background: -webkit-linear-gradient(top, #5dbb57 0%, #90d88b 40%, #d4fed1 100%); Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, #5dbb57 0%, #90d88b 40%, #d4fed1 100%); Opera 11.10+
    background: -ms-linear-gradient(top, #5dbb57 0%, #90d88b 40%, #d4fed1 100%); IE10+
    background: linear-gradient(top, #5dbb57 0%, #90d88b 40%, #d4fed1 100%); W3C
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#5dbb57', endColorstr = '#d4fed1', GradientType = 0); IE6-9 */

}

.content {
    display: block;
    padding-top: 35px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 32px;
}

h1 {
    color: #0f6d08;
    font-size: 24px;
    display: block;
    padding-bottom: 15px;
}

.content a {
    color: #149e0a;
    display: block;
    font-size: 12px;

}

.content a:hover {
    text-decoration: none;
}

.content p {
    line-height: 1.5;
    padding-right: 30px;
    display: block;

}

.reiting_comp {
    display: block;
    padding-top: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 35px;

}

.reiting_comp span {
    color: #0f6d08;
    font-size: 24px;
    display: block;


}

.reiting_comp .vibor {
    margin-left: 160px;
    display: block;
    width: 475px;
    height: 34px;
    border: #bdbdbd 1px solid;
    margin-top: 20px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 2px #cacaca;
    box-shadow: 0px 1px 2px #cacaca;

}

.vibor li {

    display: block;
    float: left;
}

.vibor li a {
    display: block;
    float: left;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); /* IE10+ */
    background: linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f9f9f9', endColorstr = '#eaeaea', GradientType = 0); /* IE6-9 */
    display: block;
    height: 23px;
    width: 167px;
    color: #646464;
    font-size: 12px;
    padding: 11px 35px 0;
    text-decoration: none;
    font-weight: bold;

}

.vibor li a:hover, .vibor li.active a {
    background: #d8d8d8; /* Old browsers */
    background: -moz-linear-gradient(top, #d8d8d8 0%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d8d8d8 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d8d8d8 0%, #ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d8d8d8 0%, #ececec 100%); /* IE10+ */
    background: linear-gradient(top, #d8d8d8 0%, #ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d8d8d8', endColorstr = '#ececec', GradientType = 0); /* IE6-9 */

}

.vibor .first {
    border-right: 1px solid #d4d4d4;
    height: 34px;
    text-align: center;

}

.vibor .last {
    text-align: center;
}

.tab {
    border: 1px solid #b9b9b9;
    margin-top: 20px;
    font-size: 12px;
}

.tab tr {
    border-bottom: 1px solid #b9b9b9;

}

.tab .odd {
    background: #f7f7f7;
}

.tab .first {
    height: 23px;
    background: #e8e7e8; /* Old browsers */
    background: -moz-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e7e8), color-stop(100%, #cecfcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* IE10+ */
    background: linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8e7e8', endColorstr = '#cecfcf', GradientType = 0); /* IE6-9 */

}

.tab .first td {
    border-right: 1px solid #b9b9b9;
    padding: 0 5px 0 5px;

}

.tab td {
    padding: 5px;
}


.tab .imag a{
    display: block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #a2a2a2;
    width: 52px;
    height: 52px;
}

.tab .imag img {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*border: 1px solid #a2a2a2;*/

}

.tab a {
    color: #000000;
    text-decoration: none;
}

.tab .read {
    color: #0000ff;
    text-decoration: underline;
}

.tab a:hover {
    text-decoration: none;
}

.first td .sort {
    float: right;
    display: block;
    width: 7px;
    height: 9px;
    margin-top: 3px;

}

.first td .sort .ar {
    display: block;
    height: 4px;
    width: 7px;
}

.first td .sort .ar:hover {
    cursor: pointer;
}

.first td .sort .ar.a {
    background: url("images/arrow_a.png") no-repeat;
    margin-bottom: 1px;

}

.first td .sort .ar.d {
    background: url("images/arrow_d.png") no-repeat

}

.first td .sort .ar.a.active {
    background: url("images/arrow_a_active.png") no-repeat;
}

.first td .sort .ar.d.active {
    background: url("images/arrow_d_active.png") no-repeat;
}

.plus {
    text-decoration: none;
    background: url("images/plus.png") no-repeat;
    display: inline-block;
    height: 21px;
    width: 21px;
    margin-right: 5px;
}

.plus:hover {
    background: url("images/plus_hover.png");
}

.minus {
    text-decoration: none;
    background: url("images/minus.png") no-repeat;
    display: inline-block;
    height: 21px;
    width: 21px;

}

.minus:hover {
    background: url("images/minus_hover.png");
}

.statistika {
    display: inline-block;
    height: 39px;
    width: 45px;
    background: url("images/statistica.png") no-repeat center;

}

.tab .zag {
    display: block;
    float: left;
    color: #000;
    font-size: 12px;
}

.tab .center_tab {
    text-align: center;

}

.direkt {
   display: block;
   padding: 20px 0;
}

.seo_text {
    background: #f7f7f7;
    display: block;
    border-top: 1px dashed #888888;
    border-bottom: 1px dashed #888888;
    padding: 18px 12px;
    position: relative;
    margin-bottom: 30px;

}

.seo_text .noj_top {
    position: absolute;
    background: url("images/nojnici_left.png") no-repeat top;
    display: block;
    width: 20px;
    height: 17px;
    top: -9px;
    left: 40px;
    float: left;

}

.seo_text .noj_bottom {
    position: absolute;
    background: url("images/nojnici_right.png") no-repeat bottom;
    display: block;
    width: 20px;
    height: 17px;
    bottom: -9px;
    right: 40px;
    float: right;

}

.seo_text p {
    display: block;
    font-size: 12px;
    line-height: 1.5;
}

.seo_text span {
    font-size: 18px;
    position: relative;
    display: block;
    padding-bottom: 15px;
}

.spec_predlog {
    display: block;
    padding-bottom: 85px;
    padding-top: 40px;
}

.spec_predlog span {
    background: #fd0000; /* Old browsers */
    background: -moz-linear-gradient(top, #fd0000 0%, #cf0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd0000), color-stop(100%, #cf0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fd0000 0%, #cf0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fd0000 0%, #cf0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fd0000 0%, #cf0000 100%); /* IE10+ */
    background: linear-gradient(top, #fd0000 0%, #cf0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fd0000', endColorstr = '#cf0000', GradientType = 0); /* IE6-9 */
    color: #fff;
    font-size: 18px;
    padding: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 12px;
    display: block;
    width: 250px;
    text-align: center;

}

.spec_predlog ul {
    display: block;
    padding: 12px 0 0 28px;
}

.spec_predlog ul li {
    display: block;
    width: 250px;
    float: left;
}

.spec_predlog ul li.dhl a {
    background: url("images/dhl.png") no-repeat top center;
    width: 215px;

}

.spec_predlog ul li.ups a {
    background: url("images/ups.png") no-repeat top center;
}

.spec_predlog ul li.tnt a {
    background: url("images/tnt.png") no-repeat top center;
    width: 164px;
}

.spec_predlog a {
    font-size: 12px;
    color: #000;
    text-align: center;
    display: block;
    height: 30px;
    margin-top: 15px;
}

.spec_predlog a:hover {
    text-decoration: none;
}

.footer {
    background: #e2e2e2;
    height: 56px;
    display: block;
    padding: 25px 15px 10px 0;
    font-size: 12px;
    position: relative;
}

.footer a {
    font-size: 12px;
    color: #000;
    display: block;

}

.footer a:hover {
    text-decoration: none;
}

.footer .pologenie {
    padding: 10px 0 0 15px;
    float: left;
    width: 400px;
}

.futer_menu {
    display: block;
    float: left;

}

.futer_menu li {
    display: block;
    float: left;
    border-right: 1px solid #000;
    padding-right: 15px;
}

.futer_menu li a {
    font-size: 12px;
    display: block;
    float: left;
    color: #000;
    padding-left: 15px;
    padding-bottom: 3px;
}

.futer_menu li.last {
    border: none;
}

.futer_menu li a:hover {
    text-decoration: none;
}

.footer .copy {
    display: block;
    float: right;
    color: #424242;
    font-weight: bold;
    padding-top: 30px;
}

.otzyvi {
    display: block;
    padding-top: 45px;
}

.otzyvi .top {
    display: block;

}

.otzyvi .top .zag {
    color: #0f6d08;
    font-size: 24px;
    padding: 0;

}

.otzyvi .top span {
    float: left;
    display: block;
    padding-left: 15px;
    padding-top: 8px;
}

.otzyvi .top span a {
    color: #3f8a39;
}

.otzyvi .top span a:hover {
    text-decoration: none;
}

.dobavit {
    float: right;
    display: block;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #d2d2d2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #d2d2d2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefe 0%, #d2d2d2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefefe 0%, #d2d2d2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefefe 0%, #d2d2d2 100%); /* IE10+ */
    background: linear-gradient(top, #fefefe 0%, #d2d2d2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fefefe', endColorstr = '#d2d2d2', GradientType = 0); /* IE6-9 */
    border: 1px solid #bebebe;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 213px;
    text-align: center;
    text-decoration: none;
    color: #343434;
    font-size: 18px;
    height: 28px;
    padding-top: 9px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 2px #bfbfbf;
    box-shadow: 0px 1px 2px #bfbfbf;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);

}

.dobavit:hover {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e2e2e2', GradientType = 0); /* IE6-9 */

}

.dobavit:active {
    background: #d2d2d2; /* Old browsers */
    background: -moz-linear-gradient(top, #d2d2d2 0%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2d2d2), color-stop(100%, #fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d2d2d2 0%, #fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d2d2d2 0%, #fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d2d2d2 0%, #fefefe 100%); /* IE10+ */
    background: linear-gradient(top, #d2d2d2 0%, #fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d2d2d2', endColorstr = '#fefefe', GradientType = 0); /* IE6-9 */

}

.bottom {
    display: block;
    font-size: 12px;

}

.bottom a {
    text-decoration: none;
    display:block;
    margin-right: 15px;
    float: left;

}

.bottom .good {
    color: #22c416;
    border-bottom: 1px dashed #22c416;
    padding-bottom: 2px;
}

.bottom .good.active {
    color: #fff;
    border-bottom: none;
    background: #22c416;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 5px;
}

.bottom .bad {
    color: #e50606;
    border-bottom: 1px dashed #e50606;
    padding-bottom: 2px;
}

.bottom .bad.active {
    color: #fff;
    border-bottom: none;
    background: #e50606;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 5px;
}

.bottom .all.active {
    background: #3f8a39;
    color: #fff;
    border-bottom: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 5px;
}

.bottom .all {
    color: #999;
    border-bottom: 1px dashed #999;
    padding-bottom: 2px;
}

.bottom em{
    float: left;
    font-style: normal;
    display: block;
    padding-right: 10px;
}

.bottom .all:hover{
    /*background: #4db445;*/
}

.bottom .good:hover, .bottom .bad:hover{
    border: none;
}

.coment{
    display: block;
    padding-top: 28px;
    float: left;
    width: 767px;


}

.coment span{
    display: block;
    float: left;
    padding-top: 10px;
    font-size: 12px;
}

.coment em{
    color: #888888;
    font-style: normal;
}

.coment em a{
    text-decoration: none;
    color: #888888;
    border-bottom: 1px dashed;
}

.coment em a:hover{
    border: none;
}

.otzyv_box {
    padding-bottom: 38px;
    display: block;
    /*float: left;*/
}

.otzyv_box .arrow_box{
    position: relative;
    padding: 5px 10px;
    display: block;
    text-align: left;
    /*float: left;*/
    font-size: 12px;
    line-height: 1.5;
    -webkit-border-radius: 7px;
    border-radius: 7px;


}

.otzyv_box .arrow_box:after{
    top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.otzyv_box .arrow_box:after{
    border-top-color: #ffe0e0;
	border-width: 10px;
	left: 40px;
	margin-left: -10px;
}

.otzyv_box.red .arrow_box{
    background: #ffe0e0;
}

.otzyv_box.red .arrow_box:after{
    border-top-color: #ffe0e0;

}
.otzyv_box.green {
    color: black;
}
.otzyv_box.green .arrow_box{
    background: #a1eaa2;
}

.otzyv_box.green .arrow_box:after{
    border-top-color: #a1eaa2;

}

.otzyv_box.gray .arrow_box{
    background: #ecebeb;
}

.otzyv_box.gray .arrow_box:after{
    border-top-color: #ecebeb;

}

.all_reight a{
    display: block;
    padding-top: 10px;
    color: #149e0a;
    font-weight: bold;
    font-size: 14px;

}

.all_reight a:hover{
    text-decoration: none;

}

.errorlist {
    color: #ff0000;
    margin-top: 6px;
    font-size: 11px;
    clear: both;
}

.pole .errorlist {
    margin-left: 150px;
}

.pole.txt .errorlist {
    margin-left: 0;
}

.message {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    background: #a1eaa2;
    border:1px solid #55d74b;
    clear: both;

    line-height: 24px;
}

.poll {
    position: relative;
}

.poll .message {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    z-index: 100;
}

.poll .message {
    position: absolute;
    background: #fff;
    border: 2px solid #0F6D08;
    width: 150px;
    padding: 10px;
    right: -160px;
    top:-35px;
    box-shadow: 0 0 15px #999;
    display: none;
    border-radius: 4px;
}
.poll .message:after, .poll .message:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.poll .message:after {
    border-right-color: #fff;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}
.poll .message:before {
    border-right-color: #0F6D08;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
}



.block .reiting li a.imag {
    float: left;
    margin-right: 6px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #A2A2A2;
    background: #fff;
}

.social-button {
    float: left;
    margin-top: 5px;
}

.nov_cont table, .nov_cont table td, .nov_cont table th {
    border:1px solid #666;
}

.toptext {
    font-size: 12px;
    clear: both;
    margin-bottom: 10px;
    line-height: 16px;
}

.selects {
    margin-bottom: 5px;
}

.dobavit.zapros {
    float: none;
    width: 300px;
    margin-bottom: 45px;
}

a.parent {
    text-decoration: none;
    color: #888888;
    border-bottom: 1px dashed;
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-top: 9px;
    float: left;
    margin-left: 10px;
}

a.parent:hover {
    border: none;
}

.coment .children {
    margin-left: 50px;
}

#codecounter {
    width: 740px;
    overflow: hidden;
    font-size: 12px;
    height: 70px;
    display: block;
    resize: none;
    margin-top: 9px;
    display: none;
}

a.code {
    font-size: 12px;
    line-height: 13px;
    color: #149e0a;
    text-decoration: none;
    border-bottom: 1px dashed #149e0a;
}

.cmtc table, .cmtc table td, .cmtc table th {
    border:1px solid #999;
}

.cmtc table {
    border-collapse: collapse;
}

.cmtc table td {
    padding: 4px;
    font-size: 12px;
    border-bottom:1px solid #ccc;

}

.cmtc table tr:nth-child(2n+1) {
    background: #f1f1f1;
}

.cmtc table tr td:last-of-type {
}

.cmtc table tr:last-of-type td {
    border-bottom:1px solid #999;
}



.cmtc table tr:first-of-type {
    background: #e8e7e8; /* Old browsers */
    background: -moz-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e7e8), color-stop(100%, #cecfcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* IE10+ */
    background: linear-gradient(top, #e8e7e8 0%, #cecfcf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8e7e8', endColorstr = '#cecfcf', GradientType = 0); /* IE6-9 */
    border-bottom:1px solid #99;
}

.cmtc p {
    line-height: 1.5;
    font-size: 14px;
    padding-bottom: 20px;
}

.cmtc td p {
    padding-bottom: 0;
    line-height: 15px;
    font-size: 12px;
}

.order {
    text-decoration: none;
    color: #888888;
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-top: 9px;
    float: left;
    margin-left: 10px;
}

#p404 {
    width: 700px;
    margin: 0 auto;
    padding-top: 100px;
}

#er404 {
    width: 700px;
    font-size: 250px;
    color: #149e0a;
    line-height: 250px;
}

#er404 span {
    display: block;
    font-size: 28px;
    color: #797979;
    line-height: 35px;
}

#er404 span a{
    font-size: 28px;
    color: #149e0a;
    line-height: 35px;
}


.poll .formpoll {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
}

.poll .formpoll {
    position: absolute;
    background: #fff;
    border: 2px solid #0F6D08;
    width: 170px;
    padding: 10px;
    right: -150px;
    top:-40px;
    box-shadow: 0 0 15px #999;
    /*display: none;*/
    border-radius: 4px;
}

.poll .formpoll.min {
    right: -180px;
}

.poll .formpoll input {
    height: 20px;
    border-radius: 2px;
    border:1px solid #ccc;
    margin-bottom: 4px;
    padding: 0 5px;
}

.poll .formpoll:after, .poll .formpoll:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.poll .formpoll:after {
    border-right-color: #fff;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}
.poll .formpoll:before {
    border-right-color: #0F6D08;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
}

/*----------changes------------*/

.order_td{
    text-align: center;
}

.order_icon{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff !important;
    padding: 5px 10px;
    border: 0px;
    border-bottom: 1px solid #f9bb00;
    -webkit-box-shadow: 2px 2px 0px #E7E7E7;
    box-shadow: 2px 2px 0px #E7E7E7;
    background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(248,171,0,1)), color-stop(0.51, rgba(248,171,0,1)), color-stop(0.51, rgba(246,154,0,1)), to(rgba(246,154,0,1)));
    background: -webkit-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -moz-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -o-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%), linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ab00', endColorstr='#f69a00',GradientType=0 );
    border-radius: 3px;
    behavior: url(PIE.htc);
    zoom: 1;
}

.like{
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

.like:before{
    font-family: FontAwesome;
    content: "\f087";
    color: #44EE36;
}

.made{
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

.made:before{
    font-family: FontAwesome;
    content: "\f14a";
    color: #44EE36;
}

.dislike{
    text-decoration: none;
    font-size: 24px;
}

.dislike:before{
    font-family: FontAwesome;
    content: "\f088";
    color: #DD3030;
}

.statistiks{
    text-decoration: none;
    font-size: 24px;
}

.statistiks:before{
    font-family: FontAwesome;
    content: "\f080";
    color: #070FAE;
}

.comments{
    text-decoration: none;
    font-size: 14px;
}

.comments:before{
    font-family: FontAwesome;
    content: "\f0e6";
    color: #262626;
    font-size: 24px;
    margin-right: 2px;
}


.more_detail{
    text-decoration: none;
    font-size: 14px;
}

.more_detail:before{
    font-family: FontAwesome;
    content: "\f0a6";
    color: #262626;
    font-size: 24px;
    margin-right: 2px;
}

.order_edit{
    text-decoration: none;
    font-size: 14px;
}

.order_edit:before{
    font-family: FontAwesome;
    content: "\f044";
    color: #0f6d08;
    font-size: 24px;
}

.order_info{
    margin-bottom: 20px;
}

.order_info p{
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
}

.step4 table{
    margin-top: 0;
    margin-bottom: 20px;
}

.step4 > p{
    margin-bottom: 10px;
}

.forms input.error,
.forms2 .pole input.error{
    border: 1px solid #f00;
}

img.ajax-loader{
    display: block;
    margin: 0 auto;
    width: 50px;
}

td.red{
    color: #DD3030;
}

td.green{
    color: #44EE36;
}

.button_step1, .button_step4{
    /* display: inline-block;
    text-decoration: none;
    padding: 7px 20px;
    color: #fff;
    border: 1px solid #0B6100;
    border-radius: 3px;
    background: #177810;
    background: -webkit-gradient(linear, left top, left bottom, from(#309A28), to(#177810));
    background: -moz-linear-gradient(top, #309A28, #177810);
    margin-top: 15px; */
}

.button_step1:hover, .button_step4:hover{
/*     background: #309A28;
background: -webkit-gradient(linear, left top, left bottom, from(#177810), to(#309A28));
background: -moz-linear-gradient(top, #177810, #309A28); */
}

.company_buttons{
    margin-bottom: 15px;
}

.company_buttons a{
    display: inline-block;
    text-decoration: none;
    padding: 4px 15px;
    color: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #f9bb00;
    background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(248,171,0,1)), color-stop(0.51, rgba(248,171,0,1)), color-stop(0.51, rgba(246,154,0,1)), to(rgba(246,154,0,1)));
    background: -webkit-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -moz-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -o-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%), linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    margin-right: 5px;
}

.zone_table{
    background: #EDFFF6;
    margin-bottom: 10px;
}

.zone_table tr:last-child td {
    padding-bottom: 20px;
}

#editform input[type=text],
#editform input[type=email],
#editform select{
    border: 1px solid #B1CFAF;;
    width: 300px;
    border-radius: 5px;
}

#editform input[type=text]:focus,
#editform input[type=email]:focus,
#editform select:focus{
    box-shadow: 0 0 3px #85F07E;
}

.zone_table tr th,
.zone_table tr td{
    text-align: right;
    padding: 3px 10px;
}

#editform .zone_table input{
    border: 1px solid #B1CFAF;
    width: 200px;
    padding: 5px 10px;
}

#editform .zone_table th{
    width: 40%;
}
#editform .zone_table td{
    text-align: left;
}

.btn{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-shadow: -1px -1px 0px #b56f00;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0px;
    border-bottom: 1px solid #f9bb00;
    -webkit-box-shadow: 2px 2px 0px #E7E7E7;
    box-shadow: 2px 2px 0px #E7E7E7;
    margin-right: 40px;
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
    background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(248,171,0,1)), color-stop(0.51, rgba(248,171,0,1)), color-stop(0.51, rgba(246,154,0,1)), to(rgba(246,154,0,1)));
    background: -webkit-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -moz-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: -o-linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%);
    background: linear-gradient(rgba(248,171,0,1) 0%, rgba(248,171,0,1) 51%, rgba(246,154,0,1) 51%, rgba(246,154,0,1) 100%), linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ab00', endColorstr='#f69a00',GradientType=0 );
}

.btn:after{
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 20px;
    font-size: 20px;
    padding: 22px 0;
    border-radius: 3px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,104,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(246,104,0,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(246,104,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f66800',GradientType=1 );
}

.btn:hover{
    /* background: -webkit-gradient(linear, left top, left bottom, from(#177810), to(#309A28));
    background: -moz-linear-gradient(top, #177810, #309A28); */
    background: rgb(248,171,0);
}

.order_detail p{
    margin-bottom: 5px;
}

.payment_details p{
    margin-bottom: 10px;
}

#payment_details p{
    margin-bottom: 10px;
}

.ui-widget-header{
    background: #309A28 !important;
    border: 1px solid #0B6100 !important;
}

.order_detail table{
    width: 100%;
    border: 1px solid #B1CFAF;
    background: #EDFFF6;
}

.order_detail table tr{
    border-bottom: 1px solid #B1CFAF;
}

/*.order_detail table tr:hover{
    background: #309A28;
}*/

.order_detail table tr td{
    padding: 5px;
}

.order_detail table tr td:first-child{
    width: 30%;
}

.payment_details table{
    width: 100%;
    border: 1px solid #0B6100;;
    background: #EDFFF6;
    margin-bottom: 10px;
}

.payment_details table tr{
    border-bottom: 1px solid #0B6100;
}

.payment_details table tr td{
    padding: 5px;
}

.payment_details table tr td:last-child{
    width: 50px;
    text-align: center;
    border-left: 1px solid #0B6100;
}

.del{
    text-decoration: none;
    color: #262626;
}

.del:before{
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f0c4";
}

.payment_details textarea{
    width: 665px;
}

.payment_details .btn{
    vertical-align: top;
    margin-top: 10px;
}

#payment_details table{
    width: 100%;
    border: 1px solid #0B6100;;
    background: #EDFFF6;
    margin-bottom: 10px;
}

#payment_details table tr{
    border-bottom: 1px solid #0B6100;
}

#payment_details table tr td{
    padding: 5px;
}

.helptext {
    font-size: 10px;
    color: #8F8F8F;
}

.link {
    color: #149e0a;
}

.payment_details p a{
	color: #149e0a;
	margin-left: 10px;
}

.payment_details p span{
	display: inline-block;
	padding-top: 5px;
}

.payment_details form input.btn{
	margin-top: 0;
}

.payment_details form input[type=text]{
	margin-bottom: 10px;
}

#form_qiwi label,
#form_yad label,
#form_bank_card label,
#form_nal label,
#form_beznal label{
	display: block;
	font-size: 12px;
}

#form_beznal p{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}

.payment_details #form_beznal  input.btn{
	display: block;
}

#form_qiwi,
#form_yad,
#form_bank_card,
#form_nal,
#form_beznal{
	display:none;
	margin: 10px 0;
	padding: 5px;
	background: #EDFFF6;
    padding: 15px 0 10px 30px;
    box-shadow: 0 0 2px #B1CFAF;
    border-radius: 10px;
}

#form_qiwi p,
#form_yad p,
#form_bank_card p,
#form_nal p,
#form_beznal p{
    margin-bottom: 0;
}

#form_qiwi input[type=text],
#form_yad input[type=text],
#form_bank_card input[type=text],
#form_nal input[type=text],
#form_beznal input[type=text]{
    border: 1px solid #B1CFAF;
    border-radius: 5px;
    padding: 3px 10px;
}

#form_qiwi input[type=text]:focus,
#form_yad input[type=text]:focus,
#form_bank_card input[type=text]:focus,
#form_nal input[type=text]:focus,
#form_beznal input[type=text]:focus{
    box-shadow: 0 0 3px #85F07E;
}

.step3 label{
	display: block;
	margin-bottom: 5px;
}

.step3 .btn{
	margin-top: 15px;
}

#payment_details p.bold{
    font-size: 20px;
    color: #0f6d08;
    margin-bottom: 15px;
    font-weight: normal;
}

#payment_details > p{
    margin-bottom: 5px;
}

.step4 .submit{
    margin-top: 15px;
}

.step3 > p{
    margin-bottom: 20px;
    line-height: 20px;
}

.complite > p{
    line-height: 20px;
}

.step2 .back{
    margin-top: 15px;
}

.step3 .back, .step4 .back{
    margin-left: 10px;
}

.err{
    margin: 15px 0;
    color: #f00;
}

.payment_details .success{
    margin-bottom: 10px;
    color: #149e0a;
    font-weight: bold;
}

.payment_details .error_msg{
    margin-left: 10px;
    color: #f00;
}

#login_form{
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 2px #B1CFAF;
    background: #EDFFF6;
    margin: 0 auto;
}

#login_form label{
    display: block;
    margin-top: 15px;
}

#login_form input[type=text],
#login_form input[type=password]{
    display: block;
    border: 1px solid #B1CFAF;
    border-radius: 5px;
    padding: 3px 10px;
    width: 200px;
}

#login_form input[type=text]:focus,
#login_form input[type=password]:focus{
    box-shadow: 0 0 3px #85F07E;
}

#login_form input[type=submit]{
    margin-top: 10px;
}

#modal_region, #modal_region2{
    display: none;
    width: 780px;
    /*width: 280px;*/
    /*height: 120px;*/
    height: 560px;
    padding-top: 10px;
    /*padding: 20px 10px 25px;*/
    /*background: #13ca05;*/
    /*background: #d6d6d6;*/
    background-color: transparent;
    /*background: -moz-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #13ca05), color-stop(41%, #11b605), color-stop(100%, #11ac05));*/
    /*background: -webkit-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%);*/
    /*background: -o-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%);*/
    /*background: -ms-linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%);*/
    /*background: linear-gradient(top, #13ca05 1%, #11b605 41%, #11ac05 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#13ca05', endColorstr = '#11ac05', GradientType = 0);
}

#modal_region .btn{
    display: block;
    box-shadow: none;
}

#modal_region .type, #modal_region .type2{
    display: none;
}

.type a.btn, .type2 a.btn{
    font-size: 16px;
    line-height: 18px;
}

.type a.letter:before{
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    color: #fff;
    content: "\f003";
    text-shadow: 0px 0px 0 transparent;
    margin-right: 5px;
    margin-top: 2px;
}

.type a.parcel_post:before{
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    color: #fff;
    content: "\f0b1";
    text-shadow: 0px 0px 0 transparent;
    margin-right: 5px;
    margin-top: 2px;
}

.type2 a.cur:before{
    display: inline-block;
    font-family: FontAwesome;
    content: "\f183";
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 0px 0 transparent;
    margin-right: 5px;
    margin-top: 2px;
}

.type2 a.transp{
    padding: 12px;
}

.type2 a.transp:before{
    display: inline-block;
    font-family: FontAwesome;
    content: "\f0d1";
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 0px 0 transparent;
    margin-right: 5px;
    margin-top: 2px;
}

#id_cargo_0, #id_cargo_1{
    display: none;
}

#id_cargo_0 + label span{
    width: 43px;
    height: 30px;
    background: url(images/mail_sprite.png) bottom center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
}

#id_cargo_0:checked + label span{
    background: url(images/mail_sprite.png) top center;
}

#id_cargo_1 + label span{
    width: 41px;
    height: 30px;
    background: url(images/ban_sprite.png) bottom center;
    margin-right: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
}

#id_cargo_1:checked + label span{
    background: url(images/ban_sprite.png) top center;
}

#id_cargo_1 + label,
#id_cargo_0 + label{
    cursor: pointer;
    padding: 0;
}

.pole.radio ul li{
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
}

.pole.radio ul li.active{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    border: 1px solid #B1CFAF;
}

#editform .table_zone{
    width: 100%;
    border: 1px solid #b9b9b9;
    display: none;
}

#editform .table_zone tr td{
    text-align: center;
}

#editform .table_zone tr:first-child{
    background: #b9b9b9;
}

#editform .table_zone tr:first-child th{
    padding: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}

#editform .table_zone tr:not(:first-child){
    background: #EDFFF6;
    border: 1px solid #B1CFAF;
    border-top: 0;
}

#editform .table_zone tr td input[type=text]{
    width: 60px;
    text-align: center;
}

#editform .table_zone tr td{
    padding: 5px 0;
}

#editform .zone_name{
    margin: 10px 0;
}

#id_urgency:focus{
    outline: 0 none;
}

ul.emoney{
    margin-left: 20px;
    display: none;
}

.payment_type_form{
    display: none;
}

td.tot_price{
    text-align: center;
    font-weight: bold;
}

.dop_info{
    display: none;
}

.dop_header{
    color: #aaa;
    cursor: pointer;
    display: inline-block;
}

.complite .forms{
    padding-bottom: 20px;
}

.companies_respondes a{
    text-decoration: underline;
    color: #149e0a;
}

.companies_respondes a:hover{
    text-decoration: none;
}

.errors{
    color: #f00;
}

.rating_block{
    padding: 15px;
    /*border-top: 1px solid rgb(15, 109, 8);*/
    border-bottom: 1px solid rgb(15, 109, 8);
}

.agreen {font-size: 1.1em;}

.rating_block .ratings{
    margin-top: 20px;
    float: left;
}

.rating_block .ratings li{
    display: block;
    margin-bottom: 5px;
}

.rating_block .ratings li:after{
    content: "";
    display: table;
    clear: both;
}

.rating_block .ratings li > div{
    display: inline-block;
    float: right;
    /*margin-right: 200px;*/
    margin-left: 100px;
}

.rate_msg_error {
    margin-top: 10px;
}

#modal_rating{
    display: none;
}

#modal_rating .rating_block .ratings li > div{
    margin-right: 0px;
    margin-left: 20px;
}

.vote_average{
    text-align: center;
    display:block;
    color: #0f6d08;
    font-size: 24px;
    margin-top: 15px;
}

.rating_title {
    color: #0f6d08;
    font-size: 24px;
}

.rating_subtitle {
    font-style: italic;
    margin-top: 10px;
}

.ratings li {
    font-weight: bold;
}

.vote_success{
    color: #0f6d08;
    margin-top: 5px;
}

.fa-star:before{
    font-size: 24px;
    color: #E0660F;
}

.total_rating {
    float: right;
    width: 200px;
    text-align: center;
    padding-top: 65px;
    font-size: 28px;
    font-weight: bold;
    color: #0f6d08;
}
.list-inline {
    display: inline !important;
}
.close {
    background: url('order/img/close.png') top left;
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 35px;
    right: 13px;
    cursor: pointer;
}
.close:hover {
    background: url('order/img/close.png') top right;
}
.top-type {
    background:  url("order/img/t-l.png") top left no-repeat,
            url("order/img/t-r.png") top right no-repeat,
            url("order/img/t-c.png") repeat;
    width: 121px;
    height: 70px;
    position: absolute;
    top: 14px;
    left: 65px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 1);
    border-radius: 5px;
    text-align: center;

}
    .top-type.img {
        width: 116px;
        height: 89px;
        z-index: 100;
    }
    .top-type.img .wrap-type-category img {
        position: absolute;
        top: 6px;
        left: 32px;
    }
    .top-type span {
        color: white;
        font-weight: bold;
        font-size: 19px;
        margin-top: 15px;
        display: block;
    }
    .top-type.img span{
        margin-top: 0;
        font-size: 1.01em;
    }
    .top-type.img a {
        position: absolute;
        top: 96px;
        left: 22px;
        display: block;
        color: #989898;
        font-style: italic;
    }

.left-block {
    float: left;
    height: 245px;
    position: relative;
    padding-top: 86px;
}

.wrap-container {
    background-color: #D7D7D7;
    padding: 28px 30px 20px;
    border-radius: 11px;
}
    .container {
        background: url('order/img/bg.png') top center repeat-y;
    }
    .container .datepicker {
        background-image: url("order/img/kalc.png");
        background-repeat: no-repeat;
        background-position: 95% 8px;
    }
    .container.step2, .container.step3 {margin-top: 90px;}
    .container .modalities {
        display: block;
        width: 236px;
        height: 281px;
    }
    .container .modalities li {
        margin-top: 15px;
        cursor: pointer;
        width: 231px;
    }
    .container .modalities .tick {display: none;}
    .container .modalities .active .tick {display: inline-block;float: right;margin-right: 11px;}
    .container .modalities li:hover, .container .modalities li.active {background-color: #B1CFAF;}
    .container .modalities h1 {font-size: 0.9em; color: #000000;}
        .container .modalities .sprite {
            vertical-align: middle;
            display:inline-block;
            overflow:hidden;
            background-repeat: no-repeat;
            width: 64px;
            height: 28px;
            background-image: url(order/img/autosprite.png);
        }
        .container .modalities li:hover .sprite {
            background-image: url(order/img/autosprite_a.png);
        }
        .container .modalities .sprite.type-1 {background-position: -14px -142px}
        .container .modalities .sprite.type-2 {background-position: 0 -179px}
        .container .modalities .sprite.type-3 {background-position: -8px -38px;}
        .container .modalities .sprite.type-4 {background-position: -5px -3px;}
        .container .modalities .sprite.type-5 {background-position: -11px -106px;}
        .container .modalities .sprite.type-6 {background-position: 0 -75px;}

        .is_type {margin: 49px 0 0 54px;}
        .is_not_type {margin: 31px 0 0 60px;}
        .container .modalities input[type=radio] {
            display: none;
        }
        .container .modalities  label {
            cursor: pointer;
            color: #808080;
            font-size: 15px;
            font-weight: bold;
            margin-left: 18px;
        }


    .container legend {
        margin: 0 0 0.2em 0;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.2em;
    }
    .container legend span {font-size: 0.59em;font-weight: 100;}
    .container textarea {
        resize: none;
    }
    .container input[type=checkbox] {
        width: auto !important;
    }

    .container input[type=text], .container input[type=number], .container input[type=password], .container input[type=email], .bet input[type='button']
    .container input[type=number], .container textarea, .container select, .node-form input[type=text], .node-form textarea, .node-form select, .step-3 .step-3-width select {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        width: auto;
        max-width: 100%;
        background-color: white;
        font-family: inherit;
        border: 1px solid #B4CEB2;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        color: #4d4d4d;
        display: block;
        font-size: 0.9em;
        margin: 0 0 7px 0;
        padding: 0.5em;
        height: 32px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
        -moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
        transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
    }
    .step-2 .container textarea {resize: none; height: 58px; margin-bottom: 0}
    .step-2 .container .big-ta textarea{height: 103px}
    .step-2 .container .norm-ta textarea{height: 71px;}
    .step-2 .container .container input {height: 31px; font-size: 1.1em;}
    .container.step1 input{width: 386px;}
    .unit-items {}
        .container .count-items input {display: inline-block; margin: 0;}
        .container .count-items input:nth-child(1) {width: 325px;}
        .container .count-items input:nth-child(2) {
            width: 53px;
            background: white url('order/img/arrow.png') no-repeat 28px 5px;
        }
        .container .count-items.people input:nth-child(2) {
            width: 39px;
            background-position: 14px 5px;
        }
        .container .count-items i {
            color: #8A8A8A;
            font-size: 1.6em;
            vertical-align: middle;
        }
    .add-yet {
        margin-left: 2px;
        color: #0E6C07 !important;
        font-style: italic;
        border-bottom: 1px dashed;
        text-decoration: none;
    }
    .container .count-items a {cursor: pointer;}
    .container.step1 input[name=name] {margin-bottom: 0px;}
    .container.step3 input, .container.step3 select {
        width: 256px;
    }
    .container .route {
        width: 387px;
        position: absolute;
        bottom: 0;
    }
    .container .route input {
        display: inline;
        width: 125px;
    }
    .container input.weight {
        display: inline;
        width: 120px;
    }
    .container .title {
        font-size: 26px;
        display: block;
        font-weight: bold;
        color: #6a6a6a;
        text-align: right;
        margin: 0 64px 15px 0;
    }
    .container .unit {
        font-size: 19px;
        margin-left: 6px;
    }
    .container .cargo-unit li {
        display: inline-table;
        width: 155px;
    }
    .container .contacts {}
        .container .contacts input {width: 192px;}
        .container.auto .contacts input {width: 190px;}
        #id_email
        .container .contacts input[type="email"], .container.auto .contacts input[type="email"],
        .container .contacts #id_email {
            width: 100%;
        }

        .container.auto .submit {margin-left: 112px;}
        .container.auto legend.mar-top {margin-top: 35px;}
        /*.container .contacts input[type=email], .container .contacts input[type=password] {*/
            /*width: 408px;*/
        /*}*/
    .container .date-carriage input {
        width: 113px !important;
    }
    .container.auto .date-carriage input {
        width: 107px !important;
    }
    .container .date-carriage input[type=checkbox] ,
        .container.auto .date-carriage input[type=checkbox]{
        width: auto !important;
    }
    .container .date-carriage input[type=checkbox] {height: 12px; }
    .container .date-carriage span {color: #808080; font-size: 0.9em;}
    .container .count-step {
        width: 73px;
        height: 36px;
        z-index: 100;
        position: absolute;
        top: 56px;
        left: 330px;
    }
    .container.step3 .count-step {
        top: 71px;
        left: 241px;
    }
    .container .count-step.step1 {background: url('order/img/step1.png');}
    .container .count-step.step2 {background: url('order/img/step2.png');}
    .container .count-step.step3 {background: url('order/img/step3.png'); left: 237px;}

    .container .map {
        float: right;
        margin-top: 38px;
    }
    .step3 .fa {margin-right: 3px;}
    .step3 .inf-width {width: 236px !important;}
    .container select {
        width: 364px;
        display: inline;
        border-color: #67696a;
        padding: 0.5em;
        border-radius: 4px;
        background-color: #dbd9d9;
        font-size: 0.84em !important;
    }
    .container .tpl-list {
        min-height: 28px;
        float: left;
        width: 100%;
        text-align: center;
        list-style: none;
        font-size: 0.875em;
        line-height: 1.71429em;
        font-weight: bold;
        margin-top: -3px;
    }
    .step-1 .cargo-unit.fix-w, .step-1 .container .tpl-list.fix-w {
        width: 386px;
    }
    .step-1 .cargo-unit.fix-w
    .container.step2 .tpl-list {height:auto!important}
    .container .tpl-list li {
        margin-right: 9px;
        text-decoration: none;
        border-bottom: 1px dashed #000000;
        font-style: italic;
        display: inline;
    }
    .container .tpl-list li:hover {cursor: pointer}
    .container.step1 .submit {
        width: 100%;
        position: absolute;
        top: 407px;
    }

    .container input[type=submit] {
        height: 41px !important;
        cursor: pointer;
    }
    .bet-order .container input[type=submit] { margin-bottom: 21px;}
    .container .submit {text-align: center; position: absolute;bottom: 30px;width: inherit;}
    .container  .submit2 {left: 150px; bottom: 18px;}

    .step-3 .container .submit {left: 45px;}
        .s-one {text-align: inherit !important; }
    .step-3 .step-3-width input, .step-3 .step-3-width select {
            width: 272px;
        }
    .step-1 .s-one {text-align: inherit !important; width: 800px !important;}
        .container .but {
            height: 43px;
            font-weight: bold;
            color: #fff;
            border: none;
        }
        .container .orn {
            background:  url("order/img/o-b-l.png") top left no-repeat,
            url("order/img/o-b-r.png") top right no-repeat,
            url("order/img/o-b-с.png") repeat;

        }
        .container .orn:hover {
            background:  url("order/img/o-b-l-r.png") top left no-repeat,
            url("order/img/o-b-r-r.png") top right no-repeat,
            url("order/img/o-b-с-r.png") repeat;
        }
        .grn {
            height: 31px !important;
            /*width: 246px;*/
            background:  url("order/img/g-b-l.png") top left no-repeat,
            url("order/img/g-b-r.png") top right no-repeat,
            url("order/img/g-b-с.png") repeat;


        }
        .grn:hover {
            background:  url("order/img/g-b-l-r.png") top left no-repeat,
            url("order/img/g-b-r-r.png") top right no-repeat,
            url("order/img/g-b-с-r.png") repeat;
        }

        .container .submit .next1 {width: 140px !important; margin: 0 310px 0 95px;}
        .container .submit .next {padding: 0 20px;}

        .container .submit .search {
            width: auto;
            cursor: pointer;
        }


        .container .submit .search:hover {
            /*background-color: #E2C242;*/
            /*background: -webkit-gradient(linear,left top,left bottom,from(#e09319),to(#ffd73c));*/
            /*background: -moz-linear-gradient(top, #e09319,#ffd73c);*/
        }
    .category-wrap {
        margin: 0 20px 0 20px;
    }
    .font-res {font-size: 0}
    .wrap-category .category {
        color: black;
        text-decoration: none;
        display: inline-block;
        width: 110px;
        height: 145px;
        font-size: 15px;
        background-color: #eeeeee;
        margin-right: 11px;
        margin-top: 10px;
        border-radius: 4px;
        text-align: center;
        -webkit-box-shadow: 2px 3px 30px 0px rgba(52, 50, 50, 0.51);
        -moz-box-shadow:    2px 3px 30px 0px rgba(52, 50, 50, 0.51);
        box-shadow:         2px 3px 30px 0px rgba(52, 50, 50, 0.51);
    }
    .wrap-category .category:nth-child(6n) {
        margin-right: 0;
    }
    .wrap-category .category:hover {
        background-color: #E5EEEB;
        cursor: pointer;
    }

    .category .round {
        margin-top: 11px;
        margin-left: 16px;
        margin-bottom: 8px;
        margin: 11px 0 8px 16px;
        background-color: white;
        width: 79px;
        height: 79px;
        border-radius: 50%;
        behavior: url(PIE.htc);
    }
    /*.category .round img {
        margin-left: 2px;
    }*/
    .category span {
        margin: 5px;
        display: block;
        font-size: 1em;
        min-height: 46px;
        overflow: hidden;
    }
    .complete-order .container {}
        .container.bor-r-h img {
            vertical-align: middle;
            margin: 0 50px;
        }
    .container h1 {font-weight: bold; display: inline; color: #6a6a6a; }
    .complete-order .center {
        margin: auto;
    }
.bor-r-h {
    height: 132px;
    border-radius: 13px;
    padding-top: 45px;

}
.mar-top20 {margin-top: 20px;}
.mar-top10 {margin-top: 10px;}
.mar-top14 {margin-top: 14px;}
.mar-top5 {margin-top: 5px;}
.mar-bot15 {margin-bottom: 15px;}
#modal-list-categories {
    width: 780px;
    height: 560px;
}

#modal-form-step-1 {
    width: 920px;
    height: 470px;
}
    #modal-form-step-1 .container {
        height: 404px;
    }

#modal_region2{
    display: none;
    width: 922px;
    height: 470px;
    padding-top: 10px;
    background-color: transparent;
}
#modal_region3{
    display: none;
    width: 450px;
    height: 600px;
    padding-top: 10px;
    background-color: transparent;
}
#modal_region4 {
    display: none;
    width: 347px;
    height: 354px;
    padding-top: 10px;
    background-color: transparent;
}

#modal_region2 .wrap-container {
    height: 418px;
}



/* icon */
.lading {
    display: inline-block;
    background: url('order/img/sp-icon.png') no-repeat -105px 0;
	width: 21px;
	height: 20px;
    float: left;
    margin: 5px 7px 0 -5px;
}



.category-item {
    display: inline-block;
    width: 239px;
}

.fancybox-skin {
    background-color: transparent;
    border-radius: 4px 4px 4px 4px;
    color: #444444;
    margin: 0;
    padding: 10px;
    position: relative;
    text-shadow: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    height: auto !important;
}
.fancybox-close {
    top: 11px;
    right: 0px;
}
.fancybox-lock { overflow: visible !important}
div.fancybox-wrap {position: absolute !important;}

.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}
.ui-widget-overlay {
background-color: #000000 !important;
}
.ui-widget-content {
    border: none !important;
    overflow: hidden !important;
}
.ui-dialog {
    background-color: transparent !important;
    color: #939393;
    border: none;
    box-shadow: none;
    padding: 0 !important;
    position: absolute;
    font-size: 1.1em;
}
    .ui-dialog .ui-dialog-content {
        padding: 25px 0 0 0 !important;
    }
    .ui-dialog.ui-dialog-transparent {
        background: transparent;
        border: none;
        box-shadow: none;
    }

    .ui-dialog .ui-dialog-buttonset {
        text-align: right;
    }

    .ui-dialog .ui-button {
        margin: 0 0 0 0.5em;
        font-family: inherit;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.8em;
        line-height: 1em;
        padding: 0.75em 2em;
        color: #000000;
        background: white;
        cursor: pointer;
        outline: none;
        border: 2px solid #000000;
    }

    .ui-dialog .ui-button.primary-button {
        border: 2px solid transparent;
        color: white;
        background: black;
        animation: vex-pulse 1.1s infinite;
        -webkit-animation: vex-pulse 1.1s infinite;
        -moz-animation: vex-pulse 1.1s infinite;
        -ms-animation: vex-pulse 1.1s infinite;
        -o-animation: vex-pulse 1.1s infinite;
        -webkit-backface-visibility: hidden;
    }

.orders_delivery {
    border-bottom: none !important;
}
    .orders_delivery table td {padding: 5px 0;box-sizing: border-box;}
    .orders_delivery p {
        font-size: 10pt;
    }
    .orders_delivery .first {
        height: 31px;
    }
    .wrap-cont {
        height: 60px;
        margin-top: 10px;
    }
    .orders_delivery .knopki .otpravit.redd {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .orders_delivery a.all-order {

        display: inline-block;
        color: #0f6d08;
        font-size: 24px;
        text-decoration: none;
        margin-top: 15px;
    }

    .orders_delivery table {table-layout: fixed;}

.orders_delivery .number {width: 63px; }
.orders_delivery .nazvan {width: 140px; }
.orders_delivery .whence {width: 141px;}
.orders_delivery .distance {width: 79px;}
.orders_delivery table tr.ints {cursor: pointer;}
.orders_delivery table tr.ints:hover {background-color: #f0f0f0;}
.orders_delivery tr.ints td:not(:first-child){vertical-align: baseline; padding-top: 29px; padding-left: 7px;}
.orders_delivery tr.ints td:not(:first-child) p {line-height: 1.3em; }
.orders_delivery tr.ints td:last-child { position: relative;}
.orders_delivery tr.ints td:last-child ul { position: absolute;top: 25px; margin-left: 12px;}
.orders_delivery .where  {width: 141px;}
.orders_delivery .price  {width: 92px;}
.orders_delivery .topical  {width: 111px;}
.orders_delivery .number img {
    /*width: 60px;
    height: 60px;*/
    margin: 3px 0;
}
.orders_delivery .padd-left3 {padding-left: 3px;}
.orders_delivery .padd-left12 {padding-left: 12px !important;}
.backg { background-color: #f9f9f9;}
.orders_delivery sup { font-size: 0.8em;}
.orders_delivery .whr { text-align: center;}
.orders_delivery .whr span { font-size: 10pt;}

.sp-it {
    background-image: url('order/img/sp-icon.png');
    margin: auto;
    margin-top: 3px;
}
.sp-it.sp-arr {
    background-position: 0 -3px;
    width: 20px;
    height: 13px;
}
.sp-it.sp-tele {
    background-position: -105px 0;
    width: 21px;
    height: 20px;
}
.sp-it.sp-clock {
    background-position: -136px -1px;
    width: 18px;
    height: 18px;
}
.sp-it.ok {
    background-position: -30px -1px;
    width: 18px;
    height: 18px;
}
.sp-it.tick {
    background-position: -182px -1px;
    width: 18px;
    height: 18px;
}

.it-curs {
    color: #a0a0a0 !important;
    font-style: italic !important;
}


.num-block {
    font-size: 13pt !important;
    display: block;
    background-color: #e3e3e3;

    height: 19px;

    width: 49px;
    text-align: center;
    margin: auto;
    border-radius: 3px;
}

.inline {
    display: inline !important;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.weight {
}

.tab .weight .fa-thumbs-up{
   color: #13ca05;
}
.tab .weight .fa-bolt{
    color: #F0A80B;
}
.not-valid-text {
    display: none;
    color: #d54343;
    font-weight: bold;
}
.step-1 .not-valid-text.all-param{
    position: absolute;
}
.step-1 .not-valid-text.address {
    margin: 4px 0 0 50px;
}

.not-valid {
    border: 1px solid #d54343 !important;
}
.filters .toggle {
    cursor: pointer;
}
.filters .toggle + div {
    display: none;
    width: 102%;
}
.filters .toggle i {
    font-size: 0.8em;
    margin-left: 5px;
}
.f-r {margin-top: 79px;}
    .f-r .block {
        height: 100px;
        text-align: center;
    }
    .f-r button {cursor: pointer}
    .f-r .block .sub {margin-top: 17px;}
    .f-r input:not([type='checkbox']), .f-r button {height: 27px !important;}
    .f-r .block #id_find_detail_order {width: 144px; height: 27px; box-sizing: border-box; padding-left: 7px;}
    .f-r .block button {width: 35px; color: #646464;margin-left: 5px;}
    .f-r  .reset-f { margin: 28px 0; }
    .f-r  .reset-f a { color: black; }
    .filters {
        border-radius: 10px;
        padding: 15px;
        border: 1px solid #b9b9b9;
        background-color: #f9f9f9;
    }
        .filters h2 {font-size: 19px; padding-bottom: 15px;}
        .filters input[type=text], .filters select {width: 189px; height: 27px;box-sizing: border-box; margin-bottom: 11px}
        .filters select {background-color: white;}
        .filters input[name='back'] {}
        .filters .space {height: 31px;width: auto}
        .filters .unit input{width: 62px; height:27px;}
        .filters button[type=submit]{width: 88px;font-weight: bold;display: block; margin: 27px auto 0;color: #646464; font-weight: bold}
.grbm {
    position: relative;
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    /*height: 52px;*/
    display: block;
    background: url(order/img/g-bm-a.png) repeat-x;
    /* allow for the pseudo-elements which do not have layout due to absolute positioning */
    margin: 0 15px;
    border: 0;
    /*background: red;*/
}
.grbm:hover {
    background: url(order/img/g-bm-h.png) repeat-x;
}
.grbm::before,
.grbm::after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 15px;
  height: 52px;
}
.grbm::before {
  left: -12px;
  background: url(order/img/main_but.png) repeat-x 0 0;

}
.grbm:hover::before {
    background: url(order/img/main_but.png) repeat-x -39px 0;
}
.grbm::after {
  right: -12px;
  background: url(order/img/main_but.png) repeat-x -18px 0;
}
.grbm:hover::after {
    background: url(order/img/main_but.png) repeat-x -57px 0;
}
.line-h {
    line-height: 1.4em;
}
.login {
    font-weight: bold;
    color: #39a631;
    font-size: 12px;
    margin-left: 5px;
}
.usinf {text-decoration: none;}
.gray-c {color: #B4B4B4;}
.green {color: #0f6d08;}
.bold {font-weight: bold;}
.org {color: #F18B12;}
.o-name {font-size: 1.2em;}
.status {color: #6E6868;}
.pointer {cursor: pointer}
.dott {border-bottom: 1px dashed #000000; text-decoration: none;}
.clearboth:after {
    content: ".";
    clear: both;
    visibility: hidden; display: block; height: 0;
   }
.order-block {float: left; width: 992px; margin-top: 64px;}
    .left-block-o {float: left; width: 53%; }
    .right-block-o {float: right; width: 47%;}
    .order-block .header-o { height: 60px; margin-bottom: 25px;}
        .header-o img { margin-right: 20px; float:left;}
        .header-o > ul {width: 426px;float: left; }
        .header-o > ul li {line-height: 1.5em;}
        .header-o ul li ul li{display: inline; margin-right: 12px;font-size: 0.8em;}
        .header-o h1 { padding-bottom: 0; display: inline-block; vertical-align: sub;}
        .address-o {line-height: 1.14em;}
            /*.address-o .container-o {height: 65px; position: relative;}*/
            /*.address-o ul {position: absolute; bottom: 0}*/
            /*.address-o ul li {line-height: 1.5em;}*/
            /*.address-o ul:first-child {width: 40%;}*/
            /*.address-o ul:last-child {right: 25px;}*/
            .address-o .distance {text-align: center; font-weight: bold;}
                /*.address-o .distance div {margin-bottom: 6px;}*/
    .order-block .info-o {float: left; width: 496px; margin-bottom: 66px;}
    .order-table {width: 100%; margin-bottom: 25px;}
    .info-o .mh-wraper {min-height: 178px;}
    .order-table tr:nth-child(2n+3),.order-table tr:first-child {background-color: #F9F9F9;}
        .order-table td{height: 43px; text-align: left; width: 50%; padding-left: 15px;}
    .info-cus-o {width: auto; overflow: hidden; margin-top: 40px; }
    .info-cus-o i {margin-right: 5px;}
    .info-cus-o.is_performer {border: 1px solid #F18B12; border-radius: 5px;}
        .info-cus-o table {
            margin-bottom: 0 !important;
        }
    .order-pk {
        background-color: #e3e3e3;
        text-align: center;
        height: 17px;
        border-radius: 3px;
        min-width: 34px;
        display: inline-block;
        font-size: 0.9em;
        line-height: 1.5em;
        margin-left: 8px;
    }

    .bet {clear: both; width: auto; position: relative;}
        .bet tr:first-child {border-bottom: 1px solid #b9b9b9; padding-bottom: 5px; height: 37px;}
        .bet .h-hperformer {width: 238px;}
        .bet .h-bets {width: 167px;}
        .bet .h-services {width: 179px;}
        .bet .h-data {width: 408px;}
        .bet a {text-decoration: none; }
        .bet input[type="button"] {
            color: white;
            width: 87px;
            box-sizing: border-box;
            height: 43px !important;
            border-style: none;
            display: block;
            float: left;
        }
        .bet .actual {position: absolute; top: 0; right: 0;}
        .bet .bet-inf {height: 82px; line-height: 19px;}
        .bet .img {width: 45px;}
        .bet .bet-x {
            text-align: center;
            width: 40px;
            height: 34px;
            overflow: hidden;
            padding-top: 9px;
            /*border-radius: 8px;*/
            margin-left: 12px;
            float: left;
            background-color: #F9F9F9;
        }
        .bet .bet-x:hover { background-color: #F2EAEA;}
            .bet .bet-x i {color:#E7C0C0;}
            .bet .bet-x:hover i {color: #e77b72;}
        .bet .bet-butt-wrap {
            height: 57px;
            width: auto;
        }
        .bet .bet-butt-wrap input {
            float: right;
            width: auto;
        }
.alert-info {
    width: 100%;
    height:100px;
    border: 1px solid #b9b9b9;
    background: #F9F9F9 url(order/img/truckp.png) no-repeat;
}
    .alert-info input[type=button] { width: 245px; font-size: 1.3em; margin-right: 50px;margin-top: 28px;}
    .alert-info p.big {font-size: 2em; font-weight: bold;}
    .alert-info p {color: #505050; font-size: 1.5em; margin-left: 50px; margin-top: 17px;}
    .bet  .list-or p { font-size: 1.2em; margin-left: 27px; }
    .bet .alert-info input[type=button] {margin-right: 27px;}

[h-title] {
    cursor: help;
    position: relative;
}
[h-title]:hover:after {
    content: attr(h-title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20;
    font-weight: 100;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #ececec);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ececec));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ececec);
    background-image: -moz-linear-gradient(top, #eeeeee, #ececec);
    background-image: -ms-linear-gradient(top, #eeeeee, #ececec);
    background-image: -o-linear-gradient(top, #eeeeee, #ececec);
}

.step3 [h-title]:hover:after {
    white-space: normal;
    width: 260px;
}


/* Пагинация списка */
.pagination {
    text-align: center;
    margin-top: 10px;
}
.pagination li {
    display: inline;
}
.pagination a {
    font-size: 1.2em;
    min-width: 20px;
    height: 24px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.4em;
    color: #6E6E6E;
}
.pagination a:hover {
    color: #39A631;
}
.pagination .current a {
    background-color: #39A631;
    color: #ffffff;
    border-radius: 2px;
}

/*modal window*/
.modal {
    border-radius: 10px;
}
.select-perfomer {}
    .select-perfomer .container {
        width: 530px;
        height: 170px;
    }
    .select-perfomer.bet-add .container {width: 570px;}
    .select-perfomer.bet-add .container img {margin: 40px 0 0 15px;float: left;}
    .select-perfomer.bet-add .container h1 {line-height: 167px;margin-left: 25px;}
.bet-order {}
    .bet-order .container {
        width: 283px;
        /*height: 340px;*/
    }

.confirm-action-bet {}

.profile_detail{
    margin-bottom: 20px;
}

.profile_detail a{
    margin-right: 30px;
}

.profile_table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.profile_table tr:nth-child(odd){
    background-color: #f9f9f9;
}

.profile_table tr td{
    padding: 10px 15px;
    color: #5c5c5c;
}

.profile_table tr td:first-child{
    width: 100px;
}

.password_reset_form tr td:first-child{
    width: 200px;
}

.edit_profile_form input[type=text]{
    width: 200px;
    padding: 2px 15px;
}

.edit_profile_form select{
    min-width: 200px;
}

.transport_type_img{
    display: inline-block;
    width: 25px;
    text-align: center;
}

.transport_type_img img{
    max-width: 100%;
    max-height: 16px;
}

.profile_table .dobavit{
    width: auto;
    padding-top: 3px;
    cursor: pointer;
    margin-bottom: 0;
}

.user_type ul li{
    float: left;
    margin-right: 20px;
}

/*.transport_type .category-item img{
    height: 20px;
    max-width: 30px;
}*/

.transport_type .category-item{
    font-size: 13px;
    width: 200px;
    display: block;
    float: left;
    margin-bottom: 5px;
}

.order_history_table{
    color: #454545;
}

.order_history_table .new_bet td{
    font-weight: bold;
}

.order_history_table .new_bet .new{
    color: #f6b33e;
    font-size: 110%;
    font-weight: bold;
}
.obj td:not(:first-child):hover {
    cursor: pointer;
}

.order_id{
    display: inline-block;
    padding: 2px;
    background-color: #e3e3e3;
    border-radius: 3px 5px;
}

.bet-order .modal{
    padding: 20px 20px 0;
}

.bet-order .modal h3{
    margin-bottom: 10px;
    padding-bottom: 0;
    color: #6A6A6A;
    font-weight: bold;
    font-size: 14px;
}

.bet-order .modal .grbm{
    position: relative;
    height: auto !important;
}

.bet-order .container .modalities{
    width: 255px;
}

.bet-order .container .modalities li{
    width: 255px;
}

.green_btn{
    display: inline-block;
    box-shadow: inset 0 0 4px #fff;
    border: 1px solid #4ebb62;
    background: #22c43d; /* Old browsers */
    background: -moz-linear-gradient(top,  #22c43d 0%, #20c43f 49%, #00b12b 50%, #00b630 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22c43d), color-stop(49%,#20c43f), color-stop(50%,#00b12b), color-stop(100%,#00b630)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #22c43d 0%,#20c43f 49%,#00b12b 50%,#00b630 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #22c43d 0%,#20c43f 49%,#00b12b 50%,#00b630 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #22c43d 0%,#20c43f 49%,#00b12b 50%,#00b630 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #22c43d 0%,#20c43f 49%,#00b12b 50%,#00b630 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22c43d', endColorstr='#00b630',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.green_btn:hover{
    background: #02b02b; /* Old browsers */
    background: -moz-linear-gradient(top,  #02b02b 0%, #00b12b 47%, #00b12b 50%, #00b12b 50%, #20c43f 51%, #22c43d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02b02b), color-stop(49%,#00b12b), color-stop(50%,#00b12b), color-stop(50%,#00b12b), color-stop(51%,#20c43f), color-stop(100%,#22c43d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #02b02b 0%,#00b12b 49%,#00b12b 50%,#00b12b 50%,#20c43f 51%,#22c43d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #02b02b 0%,#00b12b 49%,#00b12b 50%,#00b12b 50%,#20c43f 51%,#22c43d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #02b02b 0%,#00b12b 49%,#00b12b 50%,#00b12b 50%,#20c43f 51%,#22c43d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #02b02b 0%,#00b12b 49%,#00b12b 50%,#00b12b 50%,#20c43f 51%,#22c43d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b02b', endColorstr='#22c43d',GradientType=0 ); /* IE6-9 */
}

#id_date_topical, #id_date{
    width: 130px;
    float: left;
    margin-right: 15px;
    padding: 5px;
}

#id_time_topical, #id_time{
    width: 130px;
    padding: 5px;
}

#id_price{
    float: left;
    margin-right: 25px;
    width: 170px;
    padding: 5px;
}

.unit select.currency, .bet-order .modal .currency, #id_service {
    background-color: #dddcda;
    border-radius: 0;
    border: 1px solid #c1c1c1;

}
.unit select.currency {
    width: 55px;
    padding: 0 !important;
}
    .bet-order .modal .currency{
        width: 75px;
    }


.ui-widget-overlay{
    background: rgba(0,0,0,0.8);
}

.order_bet_form{
    width: 275px;
}

.bet-order .top-type span{
    font-size: 17px;
}

.bet-order form{
    padding-top: 60px;
}

.confirm-bet .container,
.remove-bet .container{
    background-repeat: repeat;
    padding: 20px;
}

.confirm-bet .ok,
.remove-bet .ok{
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.confirm-bet h1,
.remove-bet h1{
    display: block;
    margin-top: 17px;
}

.confirm-bet .links{
    float: right;
}

.order_created{
    text-align: right;
}

.order_created .created_time{
    font-size: 12px;
    font-style: italic;
    color: #b9b9b9;
}

.rates_table .status p,
.rates_table .status a{
    font-size: 12px;
    line-height: 15px;
}

.rates_table .status p.green{
    font-size: 14px;
    line-height: 16px;
}

.rates_table .rates_buttons{
    font-size: 13px;
    color: #b9b9b9;
}

.rates_table .rates_buttons span{
    color: #f00;
    font-size: 14px;
}

.hidden {
    display: none;
}

#cke_id_description{
    width: 600px !important;
}

.shipping_types{
    width: 200px;
    float: left;
    font-size: 13px;
    margin-bottom: 5px;
}

.shipping_types_img{
    display: inline-block;
    width: 25px;
    text-align: center;
}

.shipping_types_img img{
    max-width: 100%;
    max-height: 16px;
}

.alert-error{
    display: block;
    color: #f00;
    font-size: 11px;
}

.top_map{
    margin-top: -15px;
    margin-right: 20px;
}

.orders_delivery .tab .first td span{
    text-align: center;
    float: none;
}

.step3 .group .inf-width {
        width: 188px !important;
}

.company_counter .ratings li{
    margin-bottom: 3px;
    padding-bottom: 0;
    font-weight: normal;
}

.company_counter .ratings .rating{
    float: left;
    margin-right: 20px;
    font-size: 13px;
}

.company_counter h5{
    font-size: 16px;
    color: #0f6d08;
    margin-bottom: 5px;
}

.automatic_performer{
    margin-bottom: 30px;
}

.automatic_performer .ok{
    float: left;
    margin-right: 15px;
}

.automatic_performer h2{
    color: #505050;
    font-size: 22px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.automatic_performer .auto_order{
    background-color: #fffcf5;
    border: 1px solid #fcf0da;
    padding: 10px;
    border-radius: 5px;
    /*margin-left: 108px;*/
}

.automatic_performer i{
    font-size: 12px;
    margin-left: 108px;
}

.automatic_performer .auto_order table{
    width: 100%;
}
.automatic_performer .auto_order table tr {
    line-height: 2em;
}
.user_com{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.user_com.children1{
  margin-left: 20px;
/*  margin-top: 10px;*/
}

.user_com.children2{
  margin-left: 40px;
}

.user_com.children3{
  margin-left: 60px;
}

.user_com.children4{
  margin-left: 80px;
}

.user_com.children5{
  margin-left: 100px;
}

.user_com.children6{
  margin-left: 120px;
}

.user_com.children7{
  margin-left: 140px;
}

.user_com.children8{
  margin-left: 160px;
}

.user_com.children9{
  margin-left: 180px;
}

.user_com.children10{
  margin-left: 200px;
}

.user_com.children:last-child{
  border-bottom: 0;
}

.user_com ul{
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

.comment_info{
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
}
.comments_t {
    border-top: 1px solid #b9b9b9;
    padding-top: 13px;
}
.user_com ul:first-child > li{
  float:left;
  font-size: 13px;
  line-height: 22px;
  /*border-right:1px solid rgba(0, 0, 0, 0.2);*/
  padding:5px 20px;
}

.user_com ul li img {
  float: left;
  margin-right:10px;
  padding:3px 0 0;
  vertical-align:top;
}
.user_com ul.info-user {
    width: 180px;
}

    .user_com ul.info-user p {
        margin-top: 5px;
        display: block;
    }
        ul.info-user p span {
            color: black;
        }
    .user_com ul.info-user li {
        line-height: 1.1em;
    }
.user_com ul:first-child > li:last-child{
  border-right: 0;
    float: right;
}
.user_com .comment{
  padding: 10px 20px;
}
.new_comment {
    display: block;
    text-align: right;
}
#comments_add.styled{
  padding: 10px;
  background: #e9e9e9;
  margin-left: 20px;
  display: inline-block;
  width: 520px;
  margin-top: 10px;
}

#comments_add.styled p{
  display: inline-block;
  vertical-align: top;
}

#comments_add.styled p:nth-child(5){
  display: block;
}

#comments_add.styled p input[type=text],
#comments_add.styled p input[type=email]{
  width: 150px;
}

#comments_add.styled p input[type=submit]{
  margin-top: 20px;
}

.comment-sub {}
    .comment-sub #text {font-size: 2.1em; line-height: 1.8em; }
    .comment-sub a {color: #39A631; text-decoration: none;}
#comments_add.styled p textarea{
  width: 485px;
}

.comments_form{
  padding-bottom: 50px;
}

.show_comments_form{
  margin-left: 20px;
}

.lead #comments_add{
    text-align: left;
}

.clearfix {
  overflow: auto;
  min-height: 80px;
  zoom: 1;
}

#wall .comments:before{
    content: '';
}

.error_msg{
    display: block;
    color: #f00;
    font-size: 12px;
    font-style: italic;
}

.step-2.container .submit{
    position: static;
    margin-bottom: 3px;
}
.count_bet {
    color: white;
    font-weight: bold;
    text-align: center;
    /* padding-top: 0px; */
    margin: 5px;
    width: auto;
    height: 18px;
    padding: 0 2px;
    min-width: 16px;
    background: #39A631;
    position: absolute;
    -moz-border-radius: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
    .count_bet span {
        margin-top: 2px;
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        color: #ffffff;
    }
    .count_bet:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 1px solid transparent;
        border-right: 8px solid #39a631;
        border-bottom: 6px solid transparent;
        top: 15px;
        right: 0;
    }

.selected_perfomer { font-size: 1.3em;}
    .selected_perfomer  div {float: left;margin-right: 5px;}

.new_bets {
    color: #EBB368 !important;
    font-weight: bold;
}
.automatic_performer .confirm {
    margin-left: 0;
}
.container.auto .submit{
    position: static;
    margin-left: 0;
    /*margin-top: 10px;*/
    margin-bottom: 5px;
}

.aleft{
    text-align: left;
}
input[readonly], input[readonly="readonly"], input:disabled {
    background-color: rgb(215, 215, 215);
}

.or-err {
    padding: 33px;
}
    .or-err .container{
        width: 245px;
        padding: 12px;
    }
    #order_login {
        padding-top: 28px;
        display: block;
        width: 190px;
        margin: auto;
        font-size: 15px;
    }
    .or-err .errors {
        display: block;
        margin-bottom: 10px;
    }
    .or-err input[type=submit] { margin-left: 57px;}
    .or-err .text-errors {line-height: 2em;}
.or-err .container.text {
    width: 322px;
    padding: 32px;
}
.alert1 {
    background: none!important;
}
.empty-order {padding-left: 10px;}
.empty-order p {font-size: 26px; !important }
.trans_c {color: transparent !important;}
.price-wrap { width: 150px;}
.add-info {line-height: 1.5em; padding-left: 43px !important;}
.err-link {color: #0000cc; !important;}
.title-small {font-size: 1.4em;}
.vibor.order_status {
    width: 209px;
    float: right;
    margin-top: 5px;
}
.vibor.order_status a {
    padding: 11px 25px 0;
    width: 54px;
}
.ui-widget-overlay {
    background: #050404 !important;
}
.word-break {
    word-wrap: break-word;
    width: 175px;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    margin-top: 1px;
    position: relative;
}
.ui-corner-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
    background: none !important;
}


.ui-accordion .ui-accordion-header {
    color: #0f6d08;
    font-size: 23px;
}
.route-form {}
    .route-form  label {
        padding: 5px 0;
    }
    .route-form .errorlist, .route-form  {display: inline}
.sm-5 {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.categ {height: 160px;margin-top: 6px;}
#routes {
    border-top: 1px solid #5c5c5c;
    padding: 10px 0;
    border-bottom: 1px solid #5c5c5c;
    margin-bottom: 17px;
}
#routes .accordion-title {margin: 5px 0 !important; }
#routes-notification-container {color: #5c5c5c;}
    #routes-notification-container hr {opacity: 0.3;}
.mar-t-b {margin: 20px 0 0 0; }
.mar {margin: 15px 0;}
.nav-bar {position: absolute;right: 30px;}
    .nav-bar li {margin: 13px 0;}
.sab-row {margin-left: 20px;}
.lin-h *{margin: 3px 0;}
.route-address {display: inline-block; width: 70%;}

.transport_type .category-item.route-item {
    width: 226px;
}
/*yandex metrica counter*/
a[rel~="nofollow"] {
    position: absolute;
    bottom: 7px;
    left: 13px;
}
.content .cmtc a {
    display: inline;
}