
{% extends "base.html" %}

{% block title %}Страница не найдена или не существует{% endblock %}
{% block title_content %}Страница не найдена или не существует{% endblock %}


{% block right_content %}
    <h2>Возможно, вы ошиблись в написании адреса, или ссылка, которой вы воспользовались, устарела.</h2>
    <br/>
    <a href="/" class="link">На главную</a>
{% endblock %}
