{% load cms_tags sekizai_tags %}
{% load thumbnail %}
{% load menu_tags %}
{% load static %}
{% load encode_parameters %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta http-equiv="keywords" content="{% block keywords %}{% page_attribute "meta_keywords" %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% page_attribute "meta_description" %}{% endblock %}"/>
    <meta property="og:title" content="{% block og_title %}{% page_attribute "page_title" %}{% endblock %}" />
    <meta property="og:type" content="article" />
    <meta name="google-site-verification" content="5pXPrBwz7G6bQMssrJhgfvsRPmDF0adIAoYGR5tfUzA" />
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "new_css/stylev=0_0_6.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "new_css/reset.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "new_css/jquery.bxslider.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "new_css/jquery.jscrollpane.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "new_css/jquery.fancybox.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "jquery-ui-1.11.2.custom/jquery-ui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "jquery-ui-1.11.2.custom/jquery-ui.theme.min.css" %}"/>
    <script type="text/javascript" src="{% static "new_js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/jquery.raty.min.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/jquery.mask.min.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/jquery.flip.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/circle2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/circle2.min.carousel.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/checkbox.style.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/select.style.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/jquery.mousewheel.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/jquery.jscrollpane.min.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/scripts.js" %}"></script>
    <script type="text/javascript" src="{% static "new_js/jquery.dotdotdot.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui-1.11.2.custom/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "order.js" %}"></script>
    <script type="text/javascript" src="{% static "js/form/handler.js" %}"></script>
    <script src="{% static 'new_js/flip.js' %}"></script>

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    {% render_block "css" %}
    {% render_block "js" %}

</head>

<body>
<div class="top-menu container-sm">
    <ul>
        {% show_menu 0 0 %}
    </ul>
</div>
<div class="top-h">
    <div class="container-sm clearfix">
        <div class="logo">
            <a href="/">
                <img src="{% static "new_img/logo.jpg" %}">
            </a>
        </div>
        <div class="banner-h">

            {% if banner_top %}
                {% with banner_top.0 as banner %}
                    {% if banner.code %}
                        {{ banner.code|safe }}
                    {% else %}
                        <object id="banner" width="{{ banner.swf_width }}" height="{{ banner.swf_height }}" align="middle" title="{{ banner.title }}" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                            <param value="opaque" name="wmode">
                            <param value="sameDomain" name="allowScriptAccess">
                            <param value="false" name="allowFullScreen">
                            <param value="/media/{{ banner.swf }}" name="movie">
                            <param value="high" name="quality">
                            <param value="#ffffff" name="bgcolor">
                            <embed width="728" height="90" align="middle" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowfullscreen="false" allowscriptaccess="sameDomain" name="elka" bgcolor="#ffffff" quality="high" src="/media/{{ banner.swf }}" wmode="opaque">
                        </object>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="menu-button">
            <i class="fa fa-bars fa-2x"></i>
        </div>
    </div>
</div>
{% block content %}
    <div class="header">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>{% block title_content %}{% page_attribute "title" %} {% endblock %}</h1>
        </div>
    </div>
    <div class="news_content clearfix">
        {% left_nav %}

        <div class="news_detail">
            <div class="news_text article fix-h2">
                {% block right_content %}
                    {% placeholder main %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
<div class="content-info">
    <div class="wave-t-info"></div>
    <div class="container-sm clearfix">
        <div class="column">
            <a href="/">
                <img src="{% static "new_img/logo_foot.png" %}">
            </a>
        </div>
        <div class="column">
            {% show_menu 0 0 %}
        </div>
        <div class="column">
            <ul>
                <li><a href="/adv/">Реклама</a></li>
                <li>
                <li><a href="/articles/29/">Инструкция пользования</a></li>
                <li>
                    <a href="/sitemap/">Карта сайта</a>
                </li>
                <li><a href="/rule/">Правила сайта</a></li>
                <li><a href="/agreement/">Пользовательское соглашение</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="{% url contacts %}">Контакты</a></li>
                <li>
                    <a href="#">info{@}dostmarket.ru</a>
                </li>
            </ul>
            <ul>
                <li>Мы в соцсетях:</li>
                <a target='_blank' href="https://vk.com/club40396065" class="vk"></a>
                <a target='_blank' href="https://www.facebook.com/pages/DostMarketru-%D0%B7%D0%BD%D0%B0%D0%B5%D0%BC-%D0%92%D0%A1%D0%95-%D0%BE-%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B5/311380262286210" class="fb"></a>
                <a href="https://twitter.com/DostMarketRU" target='_blank' class="tw"></a>
            </ul>
        </div>
    </div>
</div>
<div class="footer clearfix">
    <div class="wave-t-foot"></div>
    <div class="container-sm clearfix">
        <div class="copyright">
            <p>2015 &copy; Copyright «Dostmarket.ru»
                <a href="https://metrika.yandex.ru/stat/?id=16082527&amp;from=informer" style="display: inline;
    vertical-align: text-top; margin-left: 14px;" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/16082527/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; margin-top: 14px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:16082527,lang:'ru'});return false}catch(e){}"/></a>
            </p>

        </div>
        <script type="text/javascript">
            (function() {
                {% if not user.is_authenticated %}
                    //  Открытие окна входа если есть параметр @login
                    login_window_show();
                {% endif %}
                if (window.pluso)if (typeof window.pluso.start == "function") return;
                if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                }
            })();
        </script>
        <script type="text/javascript"src="http://consultsystems.ru/script/24224/" charset="utf-8"></script>
        <div class="pluso" data-background="none;" data-options="small,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,facebook,twitter,odnoklassniki,moimir,google"></div>
    </div>
</div>
<noindex>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33382082-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter16082527 = new Ya.Metrika({id:16082527, enableAll: true});
                } catch(e) {}
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/16082527" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- begin of Top100 code -->
    <div style="display: none!important; ">
        <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2761162"></script>

        <noscript>
            <a  href="http://top100.rambler.ru/navi/2761162/">
                <img width="0" height="0" src="http://counter.rambler.ru/top100.cnt?2761162" alt="Rambler's Top100" border="0" />
            </a>

        </noscript>
    </div>
    <!-- end of Top100 code -->

    <!--LiveInternet counter-->
    <script type="text/javascript"><!--
    document.write("<a href='http://www.liveinternet.ru/click' "+
    "target=_blank><img src='//counter.yadro.ru/hit?t44.14;r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";"+Math.random()+
    "' alt='' title='LiveInternet' "+
    "border='0' width='0' height='0' style='display:none'><\/a>");
    //--></script>
    <!--/LiveInternet-->


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter16082527 = new Ya.Metrika({id:16082527,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/16082527" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {% block alert %}
        <div id="alert_container"></div>
        <script type="text/template" id="alert">
            <div id="<%= id %>" class="modal">
                <div class="success_rate mod-with">
                    <p><%= title %></p>
                    <div class="link-block clearfix">
                        <%= text %>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="template_not_commenting" data-user="{{ user }}">
            <div class="alert-text">
                Чтобы оставлять комментарии, вам необходимо
                <a class="log" href="{% url django.contrib.auth.views.login %}">авторизоваться</a>
                или <a href="{% url registration_choice %}">зарегистрироваться</a>.
            </div>
        </script>
    {% endblock %}
    <script>
        {% if twitter_window %}
            // open the twiter describe modal window
            $(function () {
                $.fancybox($('#twitter'));
            });
        {% endif %}
    </script>
    <div id="twitter" style="display: none">
        <p>Будьте в курсе всех новых заказов </p>
        <p>на DostMarket.ru</p>
        <br/>
        <p>Подписывайтесь на наш официальный Twitter</p>
        <a class="btn" href="https://twitter.com/DostMarketRU" target="_blank">Читать</a>
    </div>
</noindex>
</body>
</html>
