{% extends 'base.html' %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load static %}
{% load company %}
{% load thumbnail %}
{% load order_tags %}
{% if page %}
    {% block title %}{{ page.title|default:'DostMarket.ru - Курьерские службы доставки и транспортные компании Москвы, России, Украины, Казахстана, Беларуси, отзывы.' }}{% endblock %}
    {% block keywords %}{{ page.keywords }}{% endblock %}
    {% block description %}{{ page.description }}{% endblock %}
    {% block og_title %}{{ page.title }}{% endblock %}
{% endif %}
{% block content %}
    <div class="header" {% if page.background_image %}style="background: url('{{ page.background_image.url }}') no-repeat scroll center top {{ page.color }};"{% endif %}>
        {% include 'registration/account.html' %}
        <div class="container-lg">
            {% if not page %}
                <h1>Просто напишите, что и куда нужно доставить</h1>
                <span>Оформите заказ на доставку/перевозку груза совершенно бесплатно и получите выгодные предложения от транспортных компаний и курьерских служб.</span>
            {% else %}
                <h1>{{ page.h1 }}</h1>
                <span>{{ page.h2top }}</span>
            {% endif %}
            <div class="order-block">
                {% if page %}
                    <p>{{ page.h2bottom }}</p>
                    <a href="{{ page.link|default:"#" }}">
                        <button type="submit" class="btn {% if user.is_authenticated and user.is_carrier %} not_custumer{% else %}{% if not page.link %}order_modal {% endif %}{% endif %}">
                            Разместить заказ
                        </button>
                    </a>
                {% else %}
                    <p>Разместите заказ на выгодную перевозку вашего груза или курьерскую доставку и сэкономьте свое время и деньги</p>
                    <button type="submit" class="btn {% if user.is_authenticated and user.is_carrier %} not_custumer{% else %} order_modal{% endif %}">Разместить заказ</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% order_category_modal %}
    <div class="how-works dots">
        <div class="wave-t"></div>
        <div class="container-sm">
            <h2>Как это работает:</h2>
            <div class="stages">
                <div class="st-info">
                    <p class="g">Разместите Ваш заказ</p>
                    <span>Сделайте заказ - это займет  меньше минуты</span>
                </div>
                <div class="st-info">
                    <p class="b">Получайте предложения</p>
                    <span>Получите предложения от курьерских и транспортных компаний по цене и срокам доставки</span>
                </div>
                <div class="st-info">
                    <p class="r">Выберите перевозчика</p>
                    <span>Выбирайте наиболее оптимальное и выгодное для Вас предложение</span>
                </div>
            </div>
        </div>
        <div class="wave-b"></div>
    </div>
    <div class="last-order">
        <div class="container-sm">
            <h2>Последние заказы на доставку</h2>
            <table class="order-table table_header">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Откуда</th>
                    <th>Расстояние</th>
                    <th>Куда</th>
                    <th>Цена</th>
                    <th>Актуально до:</th>
                </tr>
                </thead>
            </table>
            <div class="slider">
                <div class="cycle-slideshow"
                     data-cycle-fx=scrollHorz
                     data-cycle-timeout=5000
                     data-cycle-next="#next_slide"
                     data-cycle-prev="#prev_slide"
                     data-cycle-slides="> div"
                        >
                    {% for order in orders %}
                        {% cycle '<div class="slide"><table class="order-table"><tbody>' '' ''%}
                        <tr>
                            <td>{{ order.pk }}</td>
                            <td><span class='order-table-name'>{{ order.get_name }}</span></td>
                            <td>{{ order.start_address.country }} {{ order.start_address.city }}</td>
                            <td>{{ order.distance|stringformat:"0.1f" }} км</td>
                            <td>{{ order.end_address.country }} {{ order.end_address.city }}</td>
                            <td>{{ order.price_max|floatformat:"-2" }} {{ order.get_currency_display }}</td>
                            <td>{{ order.topicality|date:"d.m.y" }}
                                {% if order.loaders and order.loaders.id != 1 %}
                                    <div class="table-basket" h-title="Нужна помощь грузчика"></div>
                                {% endif %}
                                {% if order.get_bets_count %}
                                    <div class="table-cloud" h-title="Количество ставок">
                                        <span>{{ order.get_bets_count }}</span>
                                    </div>
                                {% endif %}
                                {% if order.is_fire %}
                                    <div class="table-clock" h-title="Срочная доставка"></div>
                                {% endif %}
                            </td>
                        </tr>
                        {% cycle '' '' '</tbody></table></div>'%}
                    {% endfor %}
                </div>
            </div>
            <a href=# id="prev_slide"></a>
            <a href=# id="next_slide"></a>
        </div>
        <div class="more"><a href="{% url order:order_list %}" title="">Посмотреть все заказы</a></div>
    </div>
    <div class="best-carrier dots">
        <div class="wave-t"></div>
        <div class="container-sm">
            <h2>Лучшие перевозчики:</h2>
            <div class="slider">
                <div class="cycle-slideshow slideshow"
                     data-cycle-fx=carousel
                     data-cycle-timeout=5000
                     data-cycle-carousel-visible=3
                     data-cycle-next="#next"
                     data-cycle-prev="#prev"
                     data-cycle-slides="> div"
                        >
                    {% for company in top_company %}
                        <div class="slide" onclick="document.location='{{ company.get_absolute_url }}';">
                            <div class="slider_company_logo">
                                {% thumbnail company.logo "230x176" as img %}
                                    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ company.name }}">
                                {% empty %}
                                    {% if company.is_courier %}
                                        <img class='empty_avatar' src="{% static "new_img/courier_del.png" %}">
                                    {% else %}
                                        <img class='empty_avatar' src="{% static "new_img/lorry.png" %}">
                                    {% endif %}
                                {% endthumbnail %}
                            </div>
                            <p>{{ company.name|truncatechars:18 }}</p>
                            <span>{{ company.get_type_display }}</span>
                            <div class="star" data-rating="{{ company.total_scope|stringformat:"f" }}"></div>
                            <div class="target">Рейтинг: {{ company.total_scope|stringformat:"0.1f" }}</div>
                        </div>
                    {% endfor %}
                </div>
                <a href=# id="prev"></a>
                <a href=# id="next"></a>
            </div>
            <div class="carrier-text">
                <p>Разместите заказ на перевозку вашего груза или курьерскую доставку и обратите внимание на выгодные предложения этих перевозчиков</p>
            </div>
            <button type="submit" class="btn order_modal">Разместить заказ</button>
        </div>
        <div class="wave-b"></div>
    </div>
    <div class="last-reviews">
        <div class="container-sm">
            <h2>Последние отзывы заказчиков:</h2>
            <div class="comment-block clearfix">
                {% for respond in list_respond %}
                    <div class="arrow_box">
                        <div class="ellipse-box">
                            <div class="ellipse {{ respond.mark|switch_class }}"></div>
                        </div>
                        <h5>Отзыв о компании: <a href="{{ respond.company.get_absolute_url }}">«{{ respond.company }}»</a></h5>
                        <p class="respond-text">{{ respond.text|safe|striptags }}</p>
                        <div class="comm-info">
                            <span class="name">{{ respond.name }}</span>
                            <span class="date">{{ respond.created|date:"d.m.y" }}</span>
                            {% if respond.order %}
                                <span class="bill">Накладная № {{ respond.order }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="more"><a href="{% url respond_list %}" title="">Посмотреть все отзывы</a></div>
        </div>
    </div>
    <div class="add-company dots">
        <div class="wave-t"></div>
        <div class="container-sm">
            <div class="btn-box">
                <a href="{% url registration_register 'company' %}">ДОБАВИТЬ КОМПАНИЮ</a>
            </div>
            <p>Если Ваша компания предоставляет услуги перевозки грузов или курьерской доставки, пройдите процедуру регистрации и получайте свои заказы.</p>
        </div>
        <div class="wave-b"></div>
    </div>
    <div class="text-part">
        <div class="container-sm color-page">
            {% if page %}
                {{ page.seo|safe }}
            {% else %}
                {% placeholder main %}
                {% placeholder seo_text %}
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated and user.is_carrier %}
        <script type="text/template" id="template_not_custumer" data-user="{{ user }}">
            <div class="alert-text fix-modal">
                Сейчас вы авторизованы в качестве курьерской или транспортной компании.
                <br/><br/>
                Для того, чтобы оформить заказ на доставку/перевозку вам необходимо
                <a href="{% url auth_logout %}" class="err-link">выйти</a> из личного кабинета и
                <a class="log" href="{% url django.contrib.auth.views.login %}">авторизоваться</a> или
                <a href="{% url registration_choice %}">зарегистрироваться </a> в качестве заказчика.
            </div>
        </script>
    {% endif %}
{% endblock  %}
