{% if not user.is_authenticated %}
    <a href="#" class="add-comment">Задать вопрос или добавить комментарий по заказу.</a>
{#    <p>Комментарии</p>#}
{#    <div class="text-center comment-sub">#}
        {#    <p id="text">Отправить комментарий</p>#}
{#        <p><a href="/accounts/login/?next={{ redirect_to }}">Войдите</a> или <a href="/accounts/register/">зарегистрируйтесь</a>, чтобы получать возможность оставлять комментарии.</p>#}
{#    </div>#}
{% else %}
    <a href="#" class="add-comment">Задать вопрос или добавить комментарий по заказу.</a>
    <div class="add-comment-form">
        <form id="comments_add" class="styled" method="post" action="{% url comments_add %}#comments_add">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
            <input type="hidden" name="parent" value="">
            <a href="#" class="blue-btn comment-btn">Добавить комментарий</a>
        </form>
    </div>
{% endif %}
