{% load staticfiles mptt_tags %}
{% load order_tags %}
{% load thumbnail %}
{% load company %}
{# <div class="comment-info clearfix {% if node.parent_id %}com-children{% if node.level != 1 %}{{ node.level }}{% endif %}{% endif %}"> #}
<div class="comment-info clearfix {% if node.parent_id %} com-children {% endif %}">
    {% thumbnail node.user.company.logo "120x100" as img %}
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ company.name }}">
    {% empty %}
        <img src="{% static "new_img/no_avatar.png" %}">
    {% endthumbnail %}
    <div class="comment">
        <a href="{{ node.user.company.get_absolute_url }}#" class="commenter">{% firstof node.user.first_name node.user.username %}</a>

        {% if node.get_user_bet %}
            <span class="devider">|</span>
            <p>Ставка<span class="rate"> {{ node.get_user_bet }} {{ node.get_currency_display }}</span></p>
        {% endif %}

        {% if node.user.is_carrier %} <div class="star" data-rating="{{ node.user.company.total_scope|stringformat:"f" }}"></div> {% endif %}
        <a href="" class="commnent-rev">Отзывы<span class="reviews">{{ node.user.company.comments }}</span></a>
        <div class="comment-text">{{ node.text|linebreaksbr_custom }}</div>
        <div class="com-inf">
            <span class="com-date">{{ node.created|date:'d.m.y' }}</span>
            <span class="devider-min">|</span>
            <a href="#" class="reply" data-parent="{{ node.pk }}">Ответить</a>
        </div>
    </div>
</div>
