{% if user.is_authenticated %}
    <a href="" id='comment-info' class="add-comment">Добавить комментарий</a>
    <div style="display: block;" class="add-comment-form">
        <form id="comments_add" class="styled" method="post" action="{% url comments_add %}#comment-info">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
            <input type="hidden" name="parent" value="">
            <a href="#" class="blue-btn comment-btn" >Добавить комментарий</a>
        </form>
    </div>
{% else %}
    <a href="#" data-not-user='0' class="add-comment">Добавить комментарий</a>
{% endif %}