{% load staticfiles mptt_tags %}
{% load order_tags %}
{% if request.user.is_active %}
    <div class="text-center"><h1 class="comments_t">Комментарии</h1></div>
{% endif %}
{% if comments_list %}
    {% recursetree comments_list %}
        <div class="user_com {% if node.parent_id %}children{{ node.level }}{% endif %}">
            <div class="comment_info">
                <ul class="clearfix">
                    <li>
{#                        {% if node.user.company.logo %}#}
{#                            <img src="{{  node.user.company.logo.url }}" width="40" alt="logo компании" />#}
{#                        {% else %}#}
                            <img src="{% static 'order/img/curier1.png' %}" width="40" alt="logo">
{#                        {% endif %}#}
                        <ul class="info-user status">
                            <li class="green bold"><a href="{{ node.user.company.get_absolute_url }}#" class="green bold usinf">{% firstof node.user.first_name node.user.username %}</a></li>
                            {% if node.user.is_carrier %}
                                <li class="bold">Рейтинг {{ node.user.company.total_scope }}</li>
                                <li><a href="{{ node.user.company.get_absolute_url }}" class="dott status">Отзывы <i class="fa fa-comment">&nbsp;{{ node.user.company.comments }}</i></a></li>
                                {% if node.get_user_bet %}
                                    <p>Ставка <span class="bold black">{{ node.get_user_bet }}</span></p>
                                {% endif %}
                            {% elif node.content_object.user == node.user %}
                                <li>Заказчик</li>
                            {% else %}
                                <li>Пользователь</li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><div class="comment">{{ node.text }}</div></li>
                    <li class="order_created">
                        <a class="new_comment green" href="#" data-parent="{{ node.pk }}">ответить</a>
                        <p>{{ node.created|date:'d.m.y' }}</p>
                        <p class="created_time">{{ node.created|date:'H:i' }}</p>
                    </li>
                </ul>
            </div>
        </div>
        {% if not node.is_leaf_node %}
            {{ children }}
        {% endif %}
    {% endrecursetree %}
{% else %}
    {% if not comments_list and request.user.is_active %}
        <div class="text-center">Здесь будут появляться комментарии от пользователей</div>
    {% endif %}
{% endif %}


