{% load static %}
{% load thumbnail %}
{% load company %}
<div class="comment-info news-comm {% if node.parent_id %}com-children{% if node.level != 1 %}{{ node.level }}{% endif %}{% endif %}">
    {% thumbnail node.user.company.logo "120x100" as img %}
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ company.name }}">
    {% empty %}
        <img src="{% static "new_img/no_avatar.png" %}">
    {% endthumbnail %}
    <div class="comment">
        <a href="{{ node.user.company.get_absolute_url }}#" class="commenter">{% firstof node.user.first_name node.user.username %}</a>
        <div class="comment-text">{{ node.text|linebreaksbr_custom }}</div>
        <div class="com-inf">
            <span class="com-date">{{ node.created|date:'d.m.y' }}</span>
            <span class="devider-min">|</span>
            <a href="#" class="reply" data-parent="{{ node.pk }}">Ответить</a>
            <span class="devider-min">|</span>
            <a href="{% if request.user.is_active %}{% url add_like node.pk %}{% else %}javascript:void(0){% endif %}" class="like">ЛАЙК: <em>{{ node.likes.all.count }}</em> <i></i> </a>
        </div>
    </div>
</div>