
{% extends "base.html" %}

{% block title %}Ваш заказ успешно добавлен на сайт.{% endblock %}
{% block title_content %}Ваш заказ успешно добавлен на сайт.{% endblock %}


{% block right_content %}
    <h2>Ваш заказ успешно добавлен на сайт.</h2>
    <br/>
    <p>Компании, которые занимаются перевозкой/доставкой соответствующих категорий, получили уведомление о вашем заказе.
        <br/>Теперь просто ждите предложений по цене, из которых выберите для себя оптимальное.</p>
    <a href="/" class="link next" >Перейти к вашему заказу</a>
    <script>
        $(function () {
            if ($.fn.getParameterByName('next')) {
{#                $.fn.alert({#}
{#                    title: 'Заказ',#}
{#                    text: 'Ваш заказ успешно добавлен на сайт'#}
{#                });#}
                $('.next').attr('href', $.fn.getParameterByName('next'));
                window.history.replaceState(null, null, location.protocol + '//' + location.host + location.pathname)
            }
        });
    </script>
{% endblock %}
