{% extends "base.html" %}


{% block title %}Заказа с таким номером не существует.{% endblock %}
{% block title_content %}Заказа с таким номером не существует.{% endblock %}
{% block og_title %}Заказа с таким номером не существует.{% endblock %}

{% block right_content %}
    <h2>Заказа с таким номером не существует.</h2>
    <br/>
    <a class='link' href="{% url order:order_list  %}">К списку</a>
{% endblock %}
