{% load thumbnail %}

<div id="modal-list-categories" class="step-0">
    <div class="top-type"><span>Выбор категории</span></div>
    <div class="close" onclick="order.close_dialog()"></div>
    <div class="wrap-container">
        <div class="container">
            <span class="title">Выберите категорию груза:</span>
            <div class="wrap-category font-res">
                {% for category in categories %}
                    <a class="category" href='javascript:void(0)' data-url="{% url order:order_form category.id %}"
                       onclick="order.open_dialog(this, {height: 478, width: 925, step:1}); return false;">
                        <div class="round">
                            <img src="{{ category.icon.url }}" alt="" style="margin: {{ category.icon|margin:'79x79' }}" />
                        </div>
                        <span {% if category.id == 7 %}style="font-size: 0.85em;"{% endif %}>{{ category.name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>