{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load pytils_numeral %}
{% load order_tags %}
{% load company %}

{% block content %}
    <div class="header">
        <div class="container-sm">
            {% include 'registration/account.html' %}
        </div>
        <div class="container-sm">
            <h1>Поиск грузов и заказов для перевозки и курьерской доставки</h1>
            <span>Воспользуйтесь нашим сайтом для того, чтобы найти подходящий для вашей компании заказ на перевозку грузов или курьерскую доставку. Вы можете задавать критерии поиска именно такие, которые позволят вам предложить лучшую цену и получить нужный заказ.</span>
            <div id="tabs" class="tabs clearfix filters">
                <ul>
                    <li><a href="#tabs1" class="number-search" title="">Поиск по номеру заказа</a></li>
                    <li><a href="#tabs2" class="extended-search" title="">Расширенный поиск</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'order/inclusion/filters.html' %}
    <div class="order">
        <div class="container-sm">
            {% include 'order/inclusion/table_order_list.html' with orders=orders_list %}
            <div class="pagination">
                {% if orders_list.paginator.num_pages > 1 %}
                    <ul>
                        {% if orders_list.has_previous %}
                            <li><a href="{% get_params page=1 %}"><img src="{% static "new_img/left_arrow_icon.png" %}"></a></li>
                        {% endif %}
                        {% for num_page in num_pages %}
                            <li><a {% if num_page == orders_list.number %}class="current"{% endif %} href="{% get_params page=num_page %}">{{ num_page }}</a></li>
                        {% endfor %}
                        {% if orders_list.has_next %}
                            <li>
                                <a href="{% get_params page=orders_list.next_page_number %}">
                                    <img src="{% static 'new_img/right_arrow_icon.png' %}">
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="can-reg dots clearfix">
        <div class="wave-t"></div>
        {% include 'inclusion/can_reg.html' %}
    </div>
{% endblock %}
