{% extends "base.html" %}
{% load thumbnail %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load pytils_numeral %}
{% load order_tags %}
{% load company %}
{% load comments_tags %}
{% load static %}
{% block title %}{{ order.get_name|title }}{% endblock %}
{% block og_title %}{{ order.get_name }}{% endblock %}
{% block keywords %}{{ order.get_name }}{% endblock %}
{% block description %}{{ order.get_name }}{% endblock %}

{% block js %}
    <script src="//api-maps.yandex.ru/2.0/?load=package.standard,package.route&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "order/js/map2.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="header order-header">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h1>Заказ № {{ order.id }}</h1>
        </div>
    </div>
    <div class="order-inner clearfix">
        <div class="container-sm">
            <div class="left-order-block">
                <div class="order-inner-header clearfix">
                    <img src="{{ order.category.icon.url }}" width="78" height="78">
                    <span class="order-number">{{ order.id }}</span>
                    <ul>
                        <li>
                            <p class="order-title">{{ order.get_name|truncatechars:25 }}</p>
                        </li>
                        <li>
                            <p class="order-name">{{ order.category.name }}</p>
                        </li>
                        <li>
                            <span class="status-title">Статус:</span>
                            <span class="status {{ order.status|color }}">{{ order.get_status_display }}</span>
                            <span class="status-title">Осталось:</span>
                            <span class="status">{{ order.get_remain_day }} {{ order.get_remain_day|choose_plural:"день,дня,дней" }}</span>
                            <span class="status-title"> Создан:</span>
                            <span class="status">{{ order.created|date:"d.m.y H:i" }}</span>
                        </li>
                    </ul>
                </div>
                <table class="blue-table">
                    <tbody>
                    {% if order.user.first_name %}
                        <tr>
                            <td>Имя заказчика:</td>
                            <td>{{ order.user.first_name }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Нужно перевезти / доставить:</td>
                        <td>{{ order.get_name }}</td>
                    </tr>
                    {% if order.payment %}
                        <tr>
                            <td>Способ оплаты:</td>
                            <td>{{ order.payment }}</td>
                        </tr>
                    {% endif %}
                    {% if order.price_max %}
                        <tr>
                            <td>Максимальная цена:</td>
                            <td>{{ order.price_max|floatformat:"-2" }} {{ order.get_currency_display }}</td>
                        </tr>
                    {% endif %}
                    {% if order.cargo_weight %}
                        <tr>
                            <td>Вес груза:</td>
                            <td>{{ order.cargo_weight|floatformat:"-2" }} кг.</td>
                        </tr>
                    {% endif %}

                    {% if order.cargo_volume %}
                        <tr>
                            <td>Обьем груза:</td>
                            <td class='mcub'>{{ order.cargo_volume|floatformat:"-2" }} М<sup>3</sup>.</td>
                        </tr>
                    {% endif %}
                    {% if order.body %}
                        <tr>
                            <td>Дополнительная информация:</td>
                            <td>{{ order.body|linebreaksbr_custom }}</td>
                        </tr>
                    {% endif %}
                    {% if order.loaders %}
                        <tr>
                            <td>Необходимая услуга:</td>
                            <td>{{ order.loaders }}</td>
                        </tr>
                    {% endif %}
                    {% if order.modalities %}
                        <tr>
                            <td>Способы перевозок:</td>
                            <td>{{ order.get_modalities_display }}</td>
                        </tr>
                    {% endif %}
                    {% if order.date %}
                        <tr>
                            <td>Дата доставки:</td>
                            <td>{{ order.date|date:"d.m.y" }} <span class="time">{{ order.time|date:"H:i" }}</span></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Ставки принимаются до:</td>
                        <td>{{ order.topicality|date:"d.m.y" }}</td>
                    </tr>
                    <tr>
                        <td>Личные данные:</td>
                        {% if order.performer == user or user.is_superuser or order.user == user %}
                            <td>телефон: {{ order.user.get_phone }}<br>e-mail: {{ order.user.email }}</td>
                        {% else %}
                            <td>телефон: скрыт<br>e-mail: скрыт</td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-order-block">
                {% if order.user == user and order.is_can_edit %}
                    <a href="{% url order:order_update_form order.pk %}" class="blue-btn">Редактировать</a>
                    <a href="#" id='cancel_order' class="red-btn">Отменить</a><script type="text/template" id="confirm_cancel_order" data-user="{{ user }}">
                    <div class="alert-text text-center">
                        <p>Вы уверены, что хотите отменить ваш заказ?</p>
                        <div class="link-block confirm clearfix">
                            <a class="yes" href="{% url order:order_cancel order.pk %}">Да</a>
                            <a class="no" href="#">Нет</a>
                        </div>
                    </div>
                </script>
                {% endif %}
                <div class="clearfix"></div>
                <div class="stations">
                    <div class="from">
                        <p>Пункт А</p>
                        <span class="city">{{ order.start_address.city }}</span>
                        <span class="region">{{ order.start_address.city.region|default:''|truncatechars:44 }}</span>
                        <span class="region">{{ order.start_address.address|default:' ' }}</span>
                    </div>
                    <div class="to">
                        <p>Пункт Б</p>
                        <span class="city">{{ order.end_address.city }}</span>
                        <span class="region">{{ order.end_address.city.region|default:''|truncatechars:44 }}</span>
                        <span class="region">{{ order.end_address.address|default:'' }}</span>
                    </div>
                    <div class="distance">
                        <p>Расстояние от пункта А до пункта Б: <span class="distance-total">{{ order.distance }} км</span></p>
                    </div>
                    <div class="point_arrow"></div>
                </div>
                <div data-coordinate="{{ order.get_position }}" class='map' id="map" style="width:430px; height:385px; border: 1px solid black;"></div>
            </div>
            <div class="clearfix"></div>
            <div class="bet">
                {% if bets %}
                    <p>Ставки перевозчиков</p>
                    <table class="bet-table">
                        <thead>
                        <tr>
                            <th>Перевозчик</th>
                            <th>Ставки</th>
                            <th>Услуги</th>
                            <th>Дата доставки</th>
                            <th>Статус</th>
                            <th>Дата ставки</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bet in bets %}
                            <tr>
                                <td>
                                    <a href="{{ bet.user.company.get_absolute_url }}" class="pull-left">
                                        {% thumbnail bet.user.company.logo "120x100" as img %}
                                            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ company.title }}">
                                        {% empty %}
                                            {% if company.is_courier %}
                                                <img src="{% static "new_img/courier_del.png" %}">
                                            {% else %}
                                                <img src="{% static "new_img/lorry.png" %}">
                                            {% endif %}
                                        {% endthumbnail %}
                                    </a>
                                    <div class="deliever">
                                        <a href="{{ bet.user.company.get_absolute_url }}" class="name-deliver">{% firstof bet.user.first_name bet.user.company.name %}</a>
                                        <a href="{{ bet.user.company.get_absolute_url }}">Отзывы<span class="reviews">{{ bet.user.company.comments }}</span></a>
                                        <div class="star" data-rating="{{ bet.user.company.total_scope|stringformat:"f" }}"></div>
                                    </div>
                                </td>
                                <td>{{ bet.price|floatformat:"-2" }} {{ bet.get_currency_display }}</td>
                                <td>{% firstof bet.service.name|br 'Перевозка<br>/доставка' %}</td>
                                <td>{{ bet.date|date:"d.m.y"|default:'не указана' }}</td>
                                <td>
                                    {% if bet.status == 1 %}
                                        <span class="success">Предложение принято</span>
                                    {% else %}
                                        {% if order.user == user and bet.is_change_status %}
                                            {#  Если владелец заказа #}
                                            <div class="choice-y">
                                                <img src="{% static 'new_img/accept_icon.png' %}">
                                                <a href="{% url order:order_bet_set_status bet.id 1 %}" data-user='{{ bet.user.first_name }}' class="accept-btn">Принять</a>
                                            </div>
                                            <div class="choice-n">
                                                <img src="{% static 'new_img/reject_icon.png' %}">
                                                <a href="{% url order:order_bet_set_status bet.id 2 %}" class="reject">Отклонить</a>
                                            </div>
                                        {% elif bet.user == user and order.is_actual and bet.is_change_status %}
                                            {# если владелец ставки #}
                                            <div class="choice-n">
                                                <img src="{% static 'new_img/reject_icon.png' %}">
                                                <a href="{% url order:order_bet_set_status bet.id 2 %}" class="reject">Отклонить</a>
                                            </div>
                                        {% elif bet.is_change_status  %}
                                            <span class="waiting">{{ bet.get_status_display }}</span>
                                        {% else %}
                                            {% if bet.status == 2 %}{{ bet.get_reject_kind_display }}{% else %}Не актуальна{% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="rel">{{ bet.created|date:"d.m.y" }} <span class="time">{{ bet.created|date:"H:i" }}</span>
                                    <a href="" class="answer">Ответить</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>По данному заказу пока нет ни одной ставки. Будьте первым.</p>
                    <br/>
                    <br/>
                {% endif %}
                {% if user.is_carrier %}
                    <a href="#make_rate" class="green-btn fancybox">Разместить ставку</a>
                {% else %}
                    <a href="#" id='not_carrier' class="green-btn">Разместить ставку</a>
                {% endif %}
                {% order_bet_form_tag %}
            </div>
        </div>
    </div>
    {% if not user.is_carrier %}
        <div class="can-reg dots-blue clearfix">
            <div class="wave-t-blue"></div>
            <div class="container-sm">
                <form action="{% url registration_register 'company' %}">
                    <button type="submit" class="btn reg-btn">Зарегистрироваться</button>
                </form>
                <p>Вы перевозчик или курьерская служба?</p>
                <span>Зарегистрируйтесь и получайте уведомление о заказах</span>
            </div>
            <div class="wave-b-blue"></div>
        </div>
    {% endif %}
    <div class="comments">
        <div class="container-sm">
            {% render_form order %}
            <br/>
            <br/>
            {% render_comments_list order %}
        </div>
    </div>

    <script type="text/template" id="template_not_carrier" data-user="{{ user }}">
        <div class="alert-text">
            Для того, чтобы сделать ставку, вам необходимо <br>
            <a class="log" href="{% url django.contrib.auth.views.login %}">авторизоваться</a>
            в качестве компании или <a href="{% url registration_choice %}">зарегистрироваться</a>.
        </div>
    </script>
    <script>
        $(function () {
            if ($.fn.getParameterByName('show')) {
                $.fn.alert({
                    title: 'Заказ',
                    text: 'Ваш заказ успешно добавлен на сайт'
                });
                window.history.replaceState(null, null, location.protocol + '//' + location.host + location.pathname)
            }
            $('body').on('click', '.answer', function (e) {
                e.preventDefault();
                $('.add-comment-form').fadeIn();
                console.log($(this).closest('tr'));
                var tx = $('.add-comment-form').find('textarea');
                tx.val($(this).closest('tr').find('.name-deliver').html()+', ');
                $('html, body').animate({
                    scrollTop: tx.offset().top-100
                }, 1000);
                tx.focus();
            });
        });
    </script>
{% endblock %}

