{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load order_tags %}
{% load company %}
{% block title %}Оформление заказа{% endblock %}
{% block js %}
    <script src="//api-maps.yandex.ru/2.0/?load=package.standard,package.route&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "order/js/map2.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="header header-ordering">
        {% include 'registration/account.html' %}
        <div class="container-sm">
            <h3>Оформление заказа</h3>
        </div>
    </div>

    <div class="ordering_content">
        <div class="container-sm">
            <div class="order_category clearfix">
                <div class="category_logo">
                    <img src="{{ order_category.icon.url }}" alt="">
                </div>
                <h3>{{ order_category.name }}</h3>
                {% if 'edit' not in request.get_full_path %}
                    <a href="#" class="order_modal">изменить категорию</a>
                {% endif %}
            </div>

            <form action="." method="post" class="ordering_form clearfix">
                {% csrf_token %}
                <div class="ordering_map">
                    <div class='map' id="map"></div>
                    <a href="#" id="search-address"><span>Проложить маршрут</span><img src="{% static "new_img/map_marker.png" %}" alt=""></a>
                </div>
                <fieldset>
                    <legend><span>1</span>Нужно перевезти / доставить:</legend>
                    <div class="form_group type">
                        {% render_field form.name placeholder=order_category.name_description title=order_category.name_example|safe required='true' %}
                        {#                        <p class="error">Обазательно к заполнению</p>#}
                        {% for option in order_category.name_options|split:"," %}
                            <a href="#">{{ option }}</a>
                        {% endfor %}
                    </div>

                    <div class="form_group">
                        {% render_field form.body placeholder=order_category.body_description title=order_category.body_example %}
                        <div class="error {{ form.body.name }}"></div>
                    </div>
                    {% if form.cargo_weight or form.cargo_volume or form.loaders %}
                        <div class="form_group group">
                            {% if form.cargo_weight %}
                                {% render_field form.cargo_weight placeholder="Вес груза" class=form.cargo_weight|error title="Вес груза" %}
                                <span>кг</span>
                            {% endif %}
                            {% if form.cargo_volume %}
                                {% render_field form.cargo_volume placeholder='Обьем груза' class=form.cargo_weight|error title='Обьем груза' %}
                                <div class="sub_rel"><span>м</span><sup>3</sup></div>
                            {% endif %}
                            {% if form.loaders %}
                                <div class="styled-select cus">
                                    {% render_field form.loaders data-placeholder='Выберите услугу' %}
                                </div>
                            {% endif %}
                            <div class="error {{ form.cargo_volume.name }} {{ form.cargo_weight.name }}"></div>
                        </div>
                    {% endif %}
                </fieldset>
                <div class="clearfix"></div>
                <fieldset>
                    <legend><span>2</span>Откуда, куда, когда:</legend>
                    <div class="form_group from">
                        {% render_field form.country_from class='field-step-1' placeholder=form.country_from.label %}
                        {% render_field form.city_from class='field-step-1' placeholder=form.city_from.label %}
                        {% render_field form.address_from placeholder='ул. Иванова, дом 15' %}
                    </div>
                    <div class="form_group to">
                        {% render_field form.country_to class='field-step-1' placeholder=form.country_to.label %}
                        {% render_field form.city_to class='field-step-1' placeholder=form.city_to.label %}
                        {% render_field form.address_to placeholder='ул. Иванова, дом 15' %}
                    </div>
                    <div class="__all__ error"></div>
                    <div class="form_group from_to_info">
                        {% render_field form.date placeholder='Дата перевозки/доставки' title='дд.мм.гггг' class="date-carriage datepicker fs-in" %}
                        {% render_field form.time placeholder="Время" class='time' %}
                        <input type="checkbox" id="unknow_date" class="styled"><label> Гибкое время</label>
                    </div>
                    <div class="error {{ form.date.name }} {{ form.time.name }}"></div>
                </fieldset>

                <fieldset>
                    <legend><span>3</span>Дополнительные параметры</legend>
                    <div class="form_group dop">
                        {% render_field form.topicality placeholder="Ставки принимаются до" class="date-carriage datepicker" %}
                        <em></em>
                        {% render_field form.price_max placeholder='Цена максимум' title=title %}
                        <div class="styled-select currency">
                            <label>
                                {% render_field form.currency class="currency" %}
                            </label>
                        </div>

                        <div class="styled-select payment">
                            <label>
                                {% render_field form.payment data-placeholder='Форма оплаты' %}
                            </label>
                        </div>
                    </div>
                    <div class="error {{ form.topicality.name }} {{ form.price_max.name }} {{ form.currency.name }}"></div>
                </fieldset>

                {% if form.email%}
                    <fieldset>
                        <legend><span>4</span>Контакты <i><img src="{% static "new_img/lock.png" %}" alt="">(контакты будут доступны только выбранному Вами перевозчику)</i></legend>
                        <div class="form_group contacts">
                            {% render_field form.username placeholder="Имя" %}
                            {% render_field form.phone placeholder="Мобильный телефон" %}
                            {% render_field form.email type="email" placeholder="Email" %}
                        </div>
                        <div class="error {{ form.username.name }} {{ form.email.name }} {{ form.phone.name }}"></div>
                    </fieldset>
                {% endif %}

                <div class="btn_group">
                    {% if 'edit' in request.get_full_path %}
                        <button type="submit" class="btn" id="submit_order">Cохранить</button>
                        <button type="button" class="btn btn-sm-red btn-cancel cancel" onclick="document.location='{{ order.get_absolute_url }}' ">Отменить</button>
                    {% else %}
                        <button type="submit" class="btn" id="submit_order">Разместить заказ</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {% order_category_modal %}

    <script>
        $(function () {
            $("#id_cargo_weight").keyup(function(e){
                var key = e.which ? e.which : event.keyCode;
                if(key == 110 || key == 188){
                    e.preventDefault();
                    var value = $(this).val();
                    $(this).val(value.replace(",","."));
                }
            });
            $('#id_country_from, #id_country_to').on('keydown', function(event) {
                $(this).val($(this).val().substr(0, 1).toUpperCase() + $(this).val().substr(1).toLowerCase());
            });
            var availableTags = [
                'Россия',
                'Украина',
                'Беларусь',
                'Казахстан'
            ];
            $( "#id_country_from, #id_country_to" ).autocomplete({
                source: availableTags
            });
            add_city_autocomplete("#id_city_from, #id_city_to");
        });
    </script>
{% endblock %}