{% extends "base.html" %}
{% block title %}Вы успешно отписались от рассылки{% endblock %}

{% block title_content %}Вы успешно отписались от рассылки{% endblock %}

{% block right_content %}
    <p class="right-text">Нам очень жаль, что вы отписались от нашей рассылки. </p>
    <br/>
    <br/>
    <p class="right-text">Изменить или добавить уведомления вы сможете в своем личном кабинете.</p>
    <br/>
    <br/>
    <a href="/" class="link">На главную</a>
{% endblock %}


