<!DOCTYPE html>
<html>
<head>
    <title>Примеры. Расчет стоимости доставки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="//api-maps.yandex.ru/2.0/?load=package.standard,package.route&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery1.5.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}order/js/map2.js"></script>
</head>
<body>
<div class="route">
    <div class="from">
        <input type="text" id="start"/>
    </div>
    <div class="to">
        <input type="text" id="end"/>
    </div>
    <input type="text" id="id_distance"/>
</div>
<a href="#" id="search-address">найти</a>
    <div id="map" style="width:520px; height:350px"></div>
</body>
</html>
