{% extends 'base.html' %}
{% load cms_tags sekizai_tags %}
{% load encode_parameters %}
{% load static %}
{% load company %}
{% load thumbnail %}
{% load order_tags %}

{% block title %}{{ page.title }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block og_title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="header" {% if page.background_image %}style="background: url('{{ page.background_image.url }}') no-repeat scroll center top {{ page.color }};"{% endif %}>
        {% include 'registration/account.html' %}
        <div class="container-lg">
            <h1>{{ page.h1 }}</h1>
            <span>{{ page.h2top }}</span>
            <div class="order-block">
                <p>{{ page.h2bottom }}</p>
                <a href="{{ page.link|default:"#" }}">
                    <button type="submit" class="btn {% if user.is_authenticated and user.is_carrier %} not_custumer{% else %}{% if not page.link %}order_modal {% endif %}{% endif %}">
                        Разместить заказ
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% order_category_modal %}
    <div class="how-works dots">
        <div class="wave-t"></div>
        <div class="container-sm">
            <h2>Как это работает:</h2>
            <div class="stages">
                <div class="st-info">
                    <p class="g">Разместите Ваш заказ</p>
                    <span>Сделайте заказ - это займет  меньше минуты</span>
                </div>
                <div class="st-info">
                    <p class="b">Получайте предложения</p>
                    <span>Получите предложения от курьерских и транспортных компаний по цене и срокам доставки</span>
                </div>
                <div class="st-info">
                    <p class="r">Выберите перевозчика</p>
                    <span>Выбирайте наиболее оптимальное и выгодное для Вас предложение</span>
                </div>
            </div>
        </div>
        <div class="wave-b"></div>
    </div>
    <div class="can-reg dots clearfix">
        {#    <div class="wave-t"></div>#}
        {#        <div class="wave-t-blue"></div>#}
        <div class="container-sm">
            <form action="{% url registration_register 'company' %}">
                <button type="submit" class="btn reg-btn">Зарегистрироваться</button>
            </form>
            <p>Вы перевозчик или курьерская служба?</p>
            <span>Зарегистрируйтесь и получайте уведомление о заказах</span>
        </div>
        <div class="wave-b"></div>
    </div>
    <div class="text-part">
        <div class="container-sm color-page">
            {{ page.seo|safe }}
        </div>
    </div>
    {% if user.is_authenticated and user.is_carrier %}
        <script type="text/template" id="template_not_custumer" data-user="{{ user }}">
            <div class="alert-text fix-modal">
                Сейчас вы авторизованы в качестве курьерской или транспортной компании.
                <br/><br/>
                Для того, чтобы оформить заказ на доставку/перевозку вам необходимо
                <a href="{% url auth_logout %}" class="err-link">выйти</a> из личного кабинета и
                <a class="log" href="{% url django.contrib.auth.views.login %}">авторизоваться</a> или
                <a href="{% url registration_choice %}">зарегистрироваться </a> в качестве заказчика.
            </div>
        </script>
    {% endif %}
{% endblock  %}
