{% extends "base.html" %}
{% load widget_tweaks %}

{% load company %}
{% load widget_tweaks %}

{% block title %}Статические странцы{% endblock %}
{% block title_content %}Статические странцы{% endblock %}

{% block right_content %}
{#    <p class="right-text">Мы отправили инструкцию по восстановлению пароля на адрес электронной почты, который вы указали. Если письма нет, посмотрите в папке "Спам".</p>#}
    <ul>
        {% for page in pages %}
            <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
